@import "tailwindcss/base";
@import "./fonts.css";
@import "./docsearch.css";
@import "./prism.css";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  [data-nextjs-scroll-focus-boundary] {
    display: contents;
  }
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #e2e8f0;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #e2e8f0;
}

*::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border: 3px solid #cbd5e1;
}

.DocSearch-Input {
  @apply px-11 text-gray-900 bg-white;
}

.dark .DocSearch-Input {
  @apply text-gray-200 bg-gray-800;
}
