@tailwind base;
@tailwind components;
@tailwind utilities;

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #e2e8f0;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
  border-radius: 99px;
}

*::-webkit-scrollbar-track {
  background: #e2e8f0;
  border-radius: 99px;
}

*::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border: 3px solid #cbd5e1;
  border-radius: 99px;
}

.bottomRight {
  @apply bottom-3 right-3;
}
.topRight {
  @apply top-3 right-3;
}
.topLeft {
  @apply top-3 left-3;
}
.bottomLeft {
  @apply bottom-3 left-3;
}
.center {
  @apply top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
}
