@tailwind base;
@tailwind components;
@tailwind utilities;

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #e2e8f0;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
  border-radius: 99px;
}

*::-webkit-scrollbar-track {
  background: #e2e8f0;
  border-radius: 99px;
}

*::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border: 3px solid #cbd5e1;
  border-radius: 99px;
}

.bottomRight {
  @apply fb-bottom-3 fb-right-3;
}
.topRight {
  @apply fb-top-3 fb-right-3;
}
.topLeft {
  @apply fb-top-3 fb-left-3;
}
.bottomLeft {
  @apply fb-bottom-3 fb-left-3;
}
.center {
  @apply fb-top-1/2 fb-left-1/2 fb-transform -fb-translate-x-1/2 -fb-translate-y-1/2;
}
