/*
########################################################################
# ------------ MANDATORY (CHANGE ACCORDING TO YOUR SETUP) ------------#
########################################################################


############
#  BASICS  #
############

WEBAPP_URL=http://localhost:3000

# Set this if you want to have a shorter link for surveys
SHORT_URL_BASE=

# Encryption keys
# Please set both for now, we will change this in the future

# You can use: `openssl rand -hex 32` to generate one
ENCRYPTION_KEY=

##############
#  DATABASE  #
##############

DATABASE_URL=

###############
#  NEXT AUTH  #
###############

# @see: https://next-auth.js.org/configuration/options#nextauth_secret
# You can use: `openssl rand -hex 32` to generate one
NEXTAUTH_SECRET=RANDOM_STRING

# Set this to your public-facing URL, e.g., https://example.com
# You do not need the NEXTAUTH_URL environment variable in Vercel.
NEXTAUTH_URL=http://localhost:3000

################
#  MAIL SETUP  #
################

# Necessary if email verification and password reset are enabled.
# See optional configurations below if you want to disable these features.

MAIL_FROM=noreply@example.com
SMTP_HOST=localhost
SMTP_PORT=1025
# Enable SMTP_SECURE_ENABLED for TLS (port 465)
SMTP_SECURE_ENABLED=0
SMTP_USER=smtpUser
SMTP_PASSWORD=smtpPassword


########################################################################
# ------------------------------ OPTIONAL -----------------------------#
########################################################################

# Uncomment the variables you would like to use and customize the values.

#####################
# Disable Features  #
#####################

# Email Verification. If you enable Email Verification you have to setup SMTP-Settings, too.
# EMAIL_VERIFICATION_DISABLED=1

# Password Reset. If you enable Password Reset functionality you have to setup SMTP-Settings, too.
# PASSWORD_RESET_DISABLED=1

# Signup. Disable the ability for new users to create an account.
# SIGNUP_DISABLED=1

# Team Invite. Disable the ability for invited users to create an account.
# INVITE_DISABLED=1

##########
# Other  #
##########

# Display privacy policy, imprint and terms of service links in the footer of signup & public pages.
PRIVACY_URL=
TERMS_URL=
IMPRINT_URL=

# Configure Github Login
GITHUB_AUTH_ENABLED=0
GITHUB_ID=
GITHUB_SECRET=

# Configure Google Login
GOOGLE_AUTH_ENABLED=0
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Configure Azure Active Directory Login
AZUREAD_AUTH_ENABLED=0
AZUREAD_CLIENT_ID=
AZUREAD_CLIENT_SECRET=
AZUREAD_TENANT_ID=
AZURE_DIRECT_REDIRECT=0

# Cron Secret
CRON_SECRET=

# Configure this when you want to ship JS & CSS files from a complete URL instead of the current domain
# ASSET_PREFIX_URL=

# Stripe Billing Variables
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# Configure Formbricks usage within Formbricks
NEXT_PUBLIC_FORMBRICKS_API_HOST=
NEXT_PUBLIC_FORMBRICKS_ENVIRONMENT_ID=
NEXT_PUBLIC_FORMBRICKS_ONBOARDING_SURVEY_ID=

# Oauth credentials for Google sheet integration 
GOOGLE_SHEETS_CLIENT_ID=
GOOGLE_SHEETS_CLIENT_SECRET=
GOOGLE_SHEETS_REDIRECT_URL=

# Oauth credentials for Airtable integration 
AIR_TABLE_CLIENT_ID=

*/
