services:
  postgres:
    image: pgvector/pgvector:pg17
    volumes:
      - postgres:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - 5432:5432

  mailhog:
    image: arjenz/mailhog # Copy of mailhog/MailHog to support linux/arm64
    ports:
      - 8025:8025 # web ui
      - 1025:1025 # smtp server

  valkey:
    image: valkey/valkey:8.1.1
    command: "valkey-server"
    ports:
      - 6379:6379
    volumes:
      - valkey-data:/data

  minio:
    image: minio/minio:RELEASE.2025-02-28T09-55-16Z
    command: server /data --console-address ":9001"
    environment:
      - MINIO_ROOT_USER=devminio
      - MINIO_ROOT_PASSWORD=devminio123
    ports:
      - "9000:9000" # S3 API
      - "9001:9001" # Console
    volumes:
      - minio-data:/data

  logrotate:
    image: blacklabelops/logrotate
    restart: always
    volumes:
      - ./apps/web/logs:/logs  # <-- Update this if you change AUDIT_LOG_PATH in .env. The default value for the path is ./apps/web/logs.
    environment:
      - LOGS_DIRECTORIES=/logs
      - LOGROTATE_CRONSCHEDULE=0 0 * * * # Every day at midnight
      - LOGROTATE_COPIES=90 # Keep 90 days of logs
      - LOGROTATE_COMPRESSION=compress # Compress logs into .gz files
      - LOGROTATE_LOGFILES=audit.log
      - LOGROTATE_SIZE=100M # Rotate logs when they reach 100MB

volumes:
  postgres:
    driver: local
  valkey-data:
    driver: local
  minio-data:
    driver: local
