@tailwind base;
@tailwind components;
@tailwind utilities;

/* Example on overriding packages/js colors */
.dark {
  --fb-brand-color: red;
  --fb-brand-text-color: white;
  --fb-border-color: green;
  --fb-border-color-highlight: var(--slate-500);
  --fb-focus-color: red;
  --fb-heading-color: yellow;
  --fb-subheading-color: green;
  --fb-info-text-color: orange;
  --fb-signature-text-color: blue;
  --fb-survey-background-color: black;
  --fb-accent-background-color: rgb(13, 13, 12);
  --fb-accent-background-color-selected: red;
  --fb-placeholder-color: white;
  --fb-shadow-color: yellow;
  --fb-rating-fill: var(--yellow-300);
  --fb-rating-hover: var(--yellow-500);
  --fb-back-btn-border: currentColor;
  --fb-submit-btn-border: transparent;
  --fb-rating-selected: black;
}
