@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  [data-nextjs-scroll-focus-boundary] {
    display: contents;
  }
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #e2e8f0;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #ce98f1;
}

*::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border: 3px solid #cbd5e1;
}

input:focus {
  --tw-ring-color: none;
  --tw-ring-offset-color: none;
  --tw-ring-shadow: 0 0 #000 !important;
  box-shadow: none;
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

/* Hide the clear button for input type "search" */
input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

input[type="search"]::-ms-clear {
  display: none;
}

input[type="search"]::-ms-reveal {
  display: none;
}