@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import "./survey.css"; */

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #e2e8f0;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
  border-radius: 99px;
}

*::-webkit-scrollbar-track {
  background: #e2e8f0;
  border-radius: 99px;
}

*::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border: 3px solid #cbd5e1;
  border-radius: 99px;
}

.formbricks-inner {
  @apply flex h-full w-full flex-col justify-between bg-white px-6 pb-3 pt-5;
}

/* .formbricks-question {
} */

.formbricks-footer {
  @apply mt-8;
}
