@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import "./survey.css"; */

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #e2e8f0;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
  border-radius: 99px;
}

*::-webkit-scrollbar-track {
  background: #e2e8f0;
  border-radius: 99px;
}

*::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border: 3px solid #cbd5e1;
  border-radius: 99px;
}

.formbricks-inner {
  @apply flex h-full w-full flex-col justify-between bg-[--fb-bg] px-6 pb-3 pt-5;
}

/* .formbricks-question {
} */

.formbricks-footer {
  @apply mt-8;
}

.fb-htmlbody {
  @apply block text-sm font-normal leading-6 text-[--fb-text-2];
}

/* theming */
:root {
  --slate-50: rgb(248 250 252);
  --slate-100: rgb(241 245 249);
  --slate-200: rgb(226 232 240);
  --slate-300: rgb(203 213 225);
  --slate-400: rgb(148 163 184);
  --slate-500: rgb(100 116 139);
  --slate-600: rgb(71 85 105);
  --slate-700: rgb(51 65 85);
  --slate-800: rgb(30 41 59);
  --slate-900: rgb(15 23 42);
  --gray-100: rgb(243 244 246);
  --gray-200: rgb(229 231 235);
  --yellow-300: rgb(253 224 71);
  --yellow-500: rgb(234 179 8);

  /* Default Light Theme, you can override everything by changing these values */
  --fb-primary: rgb(247, 103, 7);
  --fb-on-primary: black;
  --fb-border: var(--slate-300);
  --fb-border-highlight: var(--slate-500);
  --fb-ring-focus: var(--slate-500);
  --fb-text: var(--slate-900);
  --fb-text-2: var(--slate-700);
  --fb-text-3: var(--slate-500);
  --fb-text-4: var(--slate-400);
  --fb-bg: white;
  --fb-bg-2: var(--slate-200);
  --fb-bg-selected: var(--slate-100);
  --fb-placeholder: var(--slate-400);
  --fb-tyc-shadow: var(--slate-300);
  --fb-rating-fill: var(--yellow-300);
  --fb-rating-hover: var(--yellow-500);
  --fb-back-btn-border: transparent;
  --fb-submit-btn-border: transparent;
  --fb-rating-selected: black;
}
