@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import "./survey.css"; */

#fbjs {
  font-size: 16px;
}

/* Firefox */
#fbjs * {
  scrollbar-width: thin;
  scrollbar-color: #e2e8f0;
}

/* Chrome, Edge, and Safari */
#fbjs *::-webkit-scrollbar {
  width: 8px;
  border-radius: 99px;
}

#fbjs *::-webkit-scrollbar-track {
  background: #e2e8f0;
  border-radius: 99px;
}

#fbjs *::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border: 3px solid #cbd5e1;
  border-radius: 99px;
}

/* this is for styling the HtmlBody component */
.fb-htmlbody {
  @apply block text-sm font-normal leading-6;
  /* need to use !important because in packages/ui/components/editor/stylesEditorFrontend.css the color is defined for some classes */
  color: var(--fb-subheading-color) !important;
}
/* without this, it wont override the color */
p.fb-editor-paragraph {
  color: var(--fb-subheading-color) !important;
}

/* theming */
:root {
  --slate-50: rgb(248 250 252);
  --slate-100: rgb(241 245 249);
  --slate-200: rgb(226 232 240);
  --slate-300: rgb(203 213 225);
  --slate-400: rgb(148 163 184);
  --slate-500: rgb(100 116 139);
  --slate-600: rgb(71 85 105);
  --slate-700: rgb(51 65 85);
  --slate-800: rgb(30 41 59);
  --slate-900: rgb(15 23 42);
  --gray-100: rgb(243 244 246);
  --gray-200: rgb(229 231 235);
  --yellow-300: rgb(253 224 71);
  --yellow-500: rgb(234 179 8);

  /* Default Light Theme, you can override everything by changing these values */
  --fb-brand-color: rgb(255, 255, 255);
  --fb-brand-text-color: black;
  --fb-border-color: var(--slate-300);
  --fb-border-color-highlight: var(--slate-500);
  --fb-focus-color: var(--slate-500);
  --fb-heading-color: var(--slate-900);
  --fb-subheading-color: var(--slate-700);
  --fb-info-text-color: var(--slate-500);
  --fb-signature-text-color: var(--slate-400);
  --fb-survey-background-color: white;
  --fb-accent-background-color: var(--slate-200);
  --fb-accent-background-color-selected: var(--slate-100);
  --fb-placeholder-color: var(--slate-400);
  --fb-shadow-color: var(--slate-300);
  --fb-rating-fill: var(--yellow-300);
  --fb-rating-hover: var(--yellow-500);
  --fb-back-btn-border: transparent;
  --fb-submit-btn-border: transparent;
  --fb-rating-selected: black;
  --fb-close-btn-color: var(--slate-500);
  --fb-close-btn-color-hover: var(--slate-700);
}

@keyframes shrink-width-to-zero {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}