#fbjs *,
#fbjs ::before,
#fbjs ::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: theme("borderColor.DEFAULT", currentColor);
  /* 2 */

  font-family: Inter, Helvetica, Arial, sans-serif;
  font-size: 1em;
}
#fbjs ::before,
#fbjs ::after {
  --tw-content: "";
}
#fbjs html {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  tab-size: 4;
  /* 3 */
}
#fbjs body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}
#fbjs hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}
#fbjs abbr:where([title]) {
  text-decoration: underline dotted;
}
#fbjs h1,
#fbjs h2,
#fbjs h3,
#fbjs h4,
#fbjs h5,
#fbjs h6 {
  font-size: inherit;
  font-weight: inherit;
}
#fbjs a {
  color: inherit;
  text-decoration: inherit;
}
#fbjs b,
#fbjs strong {
  font-weight: bolder;
}
#fbjs code,
#fbjs kbd,
#fbjs samp,
#fbjs pre {
  font-family: theme(
    "fontFamily.mono",
    ui-monospace,
    SFMono-Regular,
    Menlo,
    Monaco,
    Consolas,
    "Liberation Mono",
    "Courier New",
    monospace
  );
  /* 1 */
  font-size: 1em;
  /* 2 */
}
#fbjs small {
  font-size: 80%;
}
#fbjs sub,
#fbjs sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
#fbjs sub {
  bottom: -0.25em;
}
#fbjs sup {
  top: -0.5em;
}
#fbjs table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}
#fbjs button,
#fbjs input,
#fbjs optgroup,
#fbjs select,
#fbjs textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}
#fbjs button,
#fbjs select {
  text-transform: none;
}
#fbjs button,
#fbjs [type="button"],
#fbjs [type="reset"],
#fbjs [type="submit"] {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}
#fbjs :-moz-focusring {
  outline: auto;
}
#fbjs :-moz-ui-invalid {
  box-shadow: none;
}
#fbjs progress {
  vertical-align: baseline;
}
#fbjs ::-webkit-inner-spin-button,
#fbjs ::-webkit-outer-spin-button {
  height: auto;
}
#fbjs [type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
#fbjs ::-webkit-search-decoration {
  -webkit-appearance: none;
}
#fbjs ::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
#fbjs summary {
  display: list-item;
}
#fbjs blockquote,
#fbjs dl,
#fbjs dd,
#fbjs h1,
#fbjs h2,
#fbjs h3,
#fbjs h4,
#fbjs h5,
#fbjs h6,
#fbjs hr,
#fbjs figure,
#fbjs p,
#fbjs pre {
  margin: 0;
}
#fbjs fieldset {
  margin: 0;
  padding: 0;
}
#fbjs legend {
  padding: 0;
}
#fbjs ol,
#fbjs ul,
#fbjs menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
#fbjs textarea {
  resize: vertical;
}
#fbjs input::placeholder,
#fbjs textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: theme("colors.gray.400", #9ca3af);
  /* 2 */
}
#fbjs button,
#fbjs [role="button"] {
  cursor: pointer;
}
#fbjs :disabled {
  cursor: default;
}
#fbjs img,
#fbjs svg,
#fbjs video,
#fbjs canvas,
#fbjs audio,
#fbjs iframe,
#fbjs embed,
#fbjs object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}
#fbjs img,
#fbjs video {
  max-width: 100%;
  height: auto;
}
#fbjs [hidden] {
  display: none;
}
