@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.dp-input-root {
  width: 100%;
}

.dp-input-root [class$="wrapper"] {
  height: 48px;
  display: flex;
  flex-direction: row-reverse;
  gap: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid rgb(203 213 225) !important;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 8px;
}

.dp-input-root [class$="inputGroup"] {
  flex: none;
  font-size: 16px;
}

.wrapper-hide .react-date-picker__inputGroup {
  display: none;
}

.dp-input-root .react-date-picker__inputGroup__input {
  background: #f1f5f9 !important;
  border-radius: 2px;
}

.dp-input-root .react-date-picker__inputGroup__input:invalid {
  background: #fecaca !important;
  border-radius: 2px;
}

.hide-invalid .react-date-picker__inputGroup__input:invalid {
  background: #f1f5f9 !important;
}

.wrapper-hide .react-date-picker__wrapper {
  display: none;
}

.calendar-root [class$="navigation"] {
  height: 36px;
  margin-bottom: 0px;
}

.calendar-root [class$="navigation"] button {
  border-radius: 8px;
}

.calendar-root [class$="navigation"] button:hover {
  background: rgb(226 232 240) !important;
}

.calendar-root [class$="navigation"] [class$="navigation__label"] {
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
}

.react-calendar__month-view__weekdays__weekday {
  color: rgb(100, 116, 139);
  font-weight: 400;
  text-transform: capitalize;
}

.react-calendar__month-view__weekdays__weekday > abbr {
  text-decoration: none;
}
