openapi: 3.1.0
info:
  title: Formbricks API
  description: Manage Formbricks resources programmatically.
  version: 2.0.0
servers:
  - url: https://app.formbricks.com/api
    description: Formbricks Cloud
tags:
  - name: Responses
    description: Operations for managing responses.
  - name: Contacts
    description: Operations for managing contacts.
  - name: Contact Attributes
    description: Operations for managing contact attributes.
  - name: Contact Attributes Keys
    description: Operations for managing contact attributes keys.
  - name: Surveys
    description: Operations for managing surveys.
paths:
  /responses:
    get:
      operationId: getResponses
      summary: Get responses
      description: Gets responses from the database.
      tags:
        - responses
      parameters:
        - in: query
          name: limit
          schema:
            type: number
            minimum: 1
            maximum: 100
            default: 10
        - in: query
          name: skip
          schema:
            type: number
            minimum: 0
            default: 0
        - in: query
          name: sortBy
          schema:
            type: string
            enum:
              - createdAt
              - updatedAt
            default: createdAt
        - in: query
          name: order
          schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
        - in: query
          name: startDate
          schema:
            type: string
          required: true
        - in: query
          name: endDate
          schema:
            type: string
          required: true
        - in: query
          name: surveyId
          schema:
            type: string
          required: true
        - in: query
          name: contactId
          schema:
            type: string
          required: true
      responses:
        "200":
          description: Responses retrieved successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/response"
    post:
      operationId: createResponse
      summary: Create a response
      description: Creates a response in the database.
      tags:
        - responses
      requestBody:
        required: true
        description: The response to create
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/responseCreate"
      responses:
        "201":
          description: Response created successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/response"
  /responses/{id}:
    get:
      operationId: getResponse
      summary: Get a response
      description: Gets a response from the database.
      tags:
        - responses
      parameters:
        - in: path
          name: id
          description: The ID of the response
          schema:
            $ref: "#/components/schemas/responseId"
          required: true
      responses:
        "200":
          description: Response retrieved successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/response"
    put:
      operationId: updateResponse
      summary: Update a response
      description: Updates a response in the database.
      tags:
        - responses
      parameters:
        - in: path
          name: id
          description: The ID of the response
          schema:
            $ref: "#/components/schemas/responseId"
          required: true
      requestBody:
        required: true
        description: The response to update
        content:
          application/json:
            schema:
              type: object
              properties:
                createdAt:
                  type: string
                updatedAt:
                  type: string
                environmentId:
                  type: string
                surveyId:
                  type: string
                userId:
                  type:
                    - string
                    - "null"
                displayId:
                  type:
                    - string
                    - "null"
                singleUseId:
                  type:
                    - string
                    - "null"
                finished:
                  type: boolean
                endingId:
                  type:
                    - string
                    - "null"
                language:
                  type: string
                data:
                  type: object
                  additionalProperties:
                    anyOf:
                      - type: string
                      - type: number
                      - type: array
                        items:
                          type: string
                      - type: object
                        additionalProperties:
                          type: string
                variables:
                  type: object
                  additionalProperties:
                    anyOf:
                      - type: string
                      - type: number
                ttc:
                  type: object
                  additionalProperties:
                    type: number
                meta:
                  type: object
                  properties:
                    source:
                      type: string
                    url:
                      type: string
                    userAgent:
                      type: object
                      properties:
                        browser:
                          type: string
                        device:
                          type: string
                        os:
                          type: string
                    country:
                      type: string
                    action:
                      type: string
              required:
                - environmentId
                - surveyId
                - finished
                - data
      responses:
        "200":
          description: Response updated successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/response"
    delete:
      operationId: deleteResponse
      summary: Delete a response
      description: Deletes a response from the database.
      tags:
        - responses
      parameters:
        - in: path
          name: id
          description: The ID of the response
          schema:
            $ref: "#/components/schemas/responseId"
          required: true
      responses:
        "200":
          description: Response deleted successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/response"
  /contacts:
    get:
      operationId: getContacts
      summary: Get contacts
      description: Gets contacts from the database.
      tags:
        - contacts
      parameters:
        - in: query
          name: limit
          schema:
            type: number
            minimum: 1
            maximum: 100
            default: 10
        - in: query
          name: skip
          schema:
            type: number
            minimum: 0
            default: 0
        - in: query
          name: sortBy
          schema:
            type: string
            enum:
              - createdAt
              - updatedAt
            default: createdAt
        - in: query
          name: order
          schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
        - in: query
          name: startDate
          schema:
            type: string
        - in: query
          name: endDate
          schema:
            type: string
      responses:
        "200":
          description: Contacts retrieved successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/contact"
    post:
      operationId: createContact
      summary: Create a contact
      description: Creates a contact in the database.
      tags:
        - contacts
      requestBody:
        required: true
        description: The contact to create
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/contactCreate"
      responses:
        "201":
          description: Contact created successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/contact"
  /contacts/{id}:
    get:
      operationId: getContact
      summary: Get a contact
      description: Gets a contact from the database.
      tags:
        - contacts
      parameters:
        - in: path
          name: contactId
          schema:
            type: string
          required: true
      responses:
        "200":
          description: Contact retrieved successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/contact"
    put:
      operationId: updateContact
      summary: Update a contact
      description: Updates a contact in the database.
      tags:
        - contacts
      parameters:
        - in: path
          name: contactId
          schema:
            type: string
          required: true
      requestBody:
        required: true
        description: The response to update
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/contactCreate"
      responses:
        "200":
          description: Response updated successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/contact"
    delete:
      operationId: deleteContact
      summary: Delete a contact
      description: Deletes a contact from the database.
      tags:
        - contacts
      parameters:
        - in: path
          name: contactId
          schema:
            type: string
          required: true
      responses:
        "200":
          description: Contact deleted successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/contact"
  /contact-attributes:
    get:
      operationId: getContactAttributes
      summary: Get contact attributes
      description: Gets contact attributes from the database.
      tags:
        - contact-attributes
      parameters:
        - in: query
          name: limit
          schema:
            type: number
            minimum: 1
            maximum: 100
            default: 10
        - in: query
          name: skip
          schema:
            type: number
            minimum: 0
            default: 0
        - in: query
          name: sortBy
          schema:
            type: string
            enum:
              - createdAt
              - updatedAt
            default: createdAt
        - in: query
          name: order
          schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
        - in: query
          name: startDate
          schema:
            type: string
        - in: query
          name: endDate
          schema:
            type: string
      responses:
        "200":
          description: Contact attributes retrieved successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/contactAttribute"
    post:
      operationId: createContactAttribute
      summary: Create a contact attribute
      description: Creates a contact attribute in the database.
      tags:
        - contact-attributes
      requestBody:
        required: true
        description: The contact attribute to create
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/contactAttributeInput"
      responses:
        "201":
          description: Contact attribute created successfully.
  /contact-attributes/{id}:
    get:
      operationId: getContactAttribute
      summary: Get a contact attribute
      description: Gets a contact attribute from the database.
      tags:
        - contact-attributes
      parameters:
        - in: path
          name: contactAttributeId
          schema:
            type: string
          required: true
      responses:
        "200":
          description: Contact retrieved successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/contactAttribute"
    put:
      operationId: updateContactAttribute
      summary: Update a contact attribute
      description: Updates a contact attribute in the database.
      tags:
        - contact-attributes
      parameters:
        - in: path
          name: contactAttributeId
          schema:
            type: string
          required: true
      requestBody:
        required: true
        description: The response to update
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/contactAttributeInput"
      responses:
        "200":
          description: Response updated successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/contactAttribute"
    delete:
      operationId: deleteContactAttribute
      summary: Delete a contact attribute
      description: Deletes a contact attribute from the database.
      tags:
        - contact-attributes
      parameters:
        - in: path
          name: contactAttributeId
          schema:
            type: string
          required: true
      responses:
        "200":
          description: Contact deleted successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/contactAttribute"
  /contact-attribute-keys:
    get:
      operationId: getContactAttributeKeys
      summary: Get contact attribute keys
      description: Gets contact attribute keys from the database.
      tags:
        - contact-attribute-keys
      parameters:
        - in: query
          name: limit
          schema:
            type: number
            minimum: 1
            maximum: 100
            default: 10
        - in: query
          name: skip
          schema:
            type: number
            minimum: 0
            default: 0
        - in: query
          name: sortBy
          schema:
            type: string
            enum:
              - createdAt
              - updatedAt
            default: createdAt
        - in: query
          name: order
          schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
        - in: query
          name: startDate
          schema:
            type: string
        - in: query
          name: endDate
          schema:
            type: string
      responses:
        "200":
          description: Contact attribute keys retrieved successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/contactAttributeKey"
    post:
      operationId: createContactAttributeKey
      summary: Create a contact attribute key
      description: Creates a contact attribute key in the database.
      tags:
        - contact-attribute-keys
      requestBody:
        required: true
        description: The contact attribute key to create
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/contactAttributeKeyInput"
      responses:
        "201":
          description: Contact attribute key created successfully.
  /contact-attribute-keys/{id}:
    get:
      operationId: getContactAttributeKey
      summary: Get a contact attribute key
      description: Gets a contact attribute key from the database.
      tags:
        - contact-attribute-keys
      parameters:
        - in: path
          name: contactAttributeKeyId
          schema:
            type: string
          required: true
      responses:
        "200":
          description: Contact attribute key retrieved successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/contactAttributeKey"
    put:
      operationId: updateContactAttributeKey
      summary: Update a contact attribute key
      description: Updates a contact attribute key in the database.
      tags:
        - contact-attribute-keys
      parameters:
        - in: path
          name: contactAttributeKeyId
          schema:
            type: string
          required: true
      requestBody:
        required: true
        description: The contact attribute key to update
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/contactAttributeKeyInput"
      responses:
        "200":
          description: Contact attribute key updated successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/contactAttributeKey"
    delete:
      operationId: deleteContactAttributeKey
      summary: Delete a contact attribute key
      description: Deletes a contact attribute key from the database.
      tags:
        - contact-attribute-keys
      parameters:
        - in: path
          name: contactAttributeId
          schema:
            type: string
          required: true
      responses:
        "200":
          description: Contact attribute key deleted successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/contactAttributeKey"
  /surveys:
    get:
      operationId: getSurveys
      summary: Get surveys
      description: Gets surveys from the database.
      tags:
        - surveys
      parameters:
        - in: query
          name: limit
          schema:
            type: number
            minimum: 1
            maximum: 100
            default: 10
        - in: query
          name: skip
          schema:
            type: number
            minimum: 0
            default: 0
        - in: query
          name: sortBy
          schema:
            type: string
            enum:
              - createdAt
              - updatedAt
            default: createdAt
        - in: query
          name: order
          schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
        - in: query
          name: startDate
          schema:
            type: string
        - in: query
          name: endDate
          schema:
            type: string
        - in: query
          name: surveyType
          schema:
            type: string
            enum:
              - link
              - app
        - in: query
          name: surveyStatus
          schema:
            type: string
            enum:
              - draft
              - scheduled
              - inProgress
              - paused
              - completed
      responses:
        "200":
          description: Surveys retrieved successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/survey"
    post:
      operationId: createSurvey
      summary: Create a survey
      description: Creates a survey in the database.
      tags:
        - surveys
      requestBody:
        required: true
        description: The survey to create
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/surveyInput"
      responses:
        "201":
          description: Survey created successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/survey"
  /surveys/{id}:
    get:
      operationId: getSurvey
      summary: Get a survey
      description: Gets a survey from the database.
      tags:
        - surveys
      parameters:
        - in: path
          name: id
          description: The ID of the survey
          schema:
            $ref: "#/components/schemas/surveyId"
          required: true
      responses:
        "200":
          description: Response retrieved successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/survey"
    put:
      operationId: updateSurvey
      summary: Update a survey
      description: Updates a survey in the database.
      tags:
        - surveys
      parameters:
        - in: path
          name: id
          description: The ID of the survey
          schema:
            $ref: "#/components/schemas/surveyId"
          required: true
      requestBody:
        required: true
        description: The survey to update
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/surveyInput"
      responses:
        "200":
          description: Response updated successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/survey"
    delete:
      operationId: deleteSurvey
      summary: Delete a survey
      description: Deletes a survey from the database.
      tags:
        - surveys
      parameters:
        - in: path
          name: id
          description: The ID of the survey
          schema:
            $ref: "#/components/schemas/surveyId"
          required: true
      responses:
        "200":
          description: Response deleted successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/survey"
components:
  schemas:
    response:
      type: object
      properties:
        id:
          type: string
          description: The ID of the response
        createdAt:
          type: string
          description: The date and time the response was created
          example: 2021-01-01T00:00:00.000Z
        updatedAt:
          type: string
          description: The date and time the response was last updated
          example: 2021-01-01T00:00:00.000Z
        finished:
          type: boolean
          description: Whether the response is finished
          example: true
        surveyId:
          type: string
          description: The ID of the survey
        contactId:
          type:
            - string
            - "null"
          description: The ID of the contact
        endingId:
          type:
            - string
            - "null"
          description: The ID of the ending
        data:
          type: object
          additionalProperties:
            anyOf:
              - type: string
              - type: number
              - type: array
                items:
                  type: string
              - type: object
                additionalProperties:
                  type: string
          description: The data of the response
          example: &a6
            question1: answer1
            question2: 2
            question3:
              - answer3
              - answer4
            question4:
              subquestion1: answer5
        variables:
          type: object
          additionalProperties:
            anyOf:
              - type: string
              - type: number
          description: The variables of the response
          example: &a7
            variable1: answer1
            variable2: 2
        ttc:
          type: object
          additionalProperties:
            type: number
          description: The TTC of the response
          example: &a8
            question1: 10
            question2: 20
        meta:
          type: object
          properties:
            source:
              type: string
              description: The source of the response
              example: https://example.com
            url:
              type: string
              description: The URL of the response
              example: https://example.com
            userAgent:
              type: object
              properties:
                browser:
                  type: string
                os:
                  type: string
                device:
                  type: string
            country:
              type: string
            action:
              type: string
          description: The meta data of the response
          example: &a9
            source: https://example.com
            url: https://example.com
            userAgent:
              browser: Chrome
              os: Windows
              device: Desktop
            country: US
            action: click
        contactAttributes:
          type:
            - object
            - "null"
          additionalProperties:
            type: string
          description: The attributes of the contact
          example:
            attribute1: value1
            attribute2: value2
        singleUseId:
          type:
            - string
            - "null"
          description: The single use ID of the response
        language:
          type:
            - string
            - "null"
          description: The language of the response
          example: en
        displayId:
          type:
            - string
            - "null"
          description: The display ID of the response
      required:
        - id
        - createdAt
        - updatedAt
        - finished
        - surveyId
        - contactId
        - endingId
        - data
        - variables
        - ttc
        - meta
        - contactAttributes
        - singleUseId
        - language
        - displayId
    contact:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the contact
        userId:
          type:
            - string
            - "null"
          description: Optional external user identifier
        createdAt:
          type: string
          description: When the contact was created
          example: 2021-01-01T00:00:00.000Z
        updatedAt:
          type: string
          description: When the contact was last updated
          example: 2021-01-01T00:00:00.000Z
        environmentId:
          type: string
          description: The environment this contact belongs to
      required:
        - id
        - userId
        - createdAt
        - updatedAt
        - environmentId
    contactAttribute:
      type: object
      properties:
        id:
          type: string
          description: The ID of the contact attribute
        createdAt:
          type: string
          description: The date and time the contact attribute was created
          example: 2021-01-01T00:00:00.000Z
        updatedAt:
          type: string
          description: The date and time the contact attribute was last updated
          example: 2021-01-01T00:00:00.000Z
        attributeKeyId:
          type: string
          description: The ID of the attribute key
        contactId:
          type: string
          description: The ID of the contact
        value:
          type: string
          description: The value of the attribute
          example: example@email.com
      required:
        - id
        - createdAt
        - updatedAt
        - attributeKeyId
        - contactId
        - value
    contactAttributeKey:
      type: object
      properties:
        id:
          type: string
          description: The ID of the contact attribute key
        createdAt:
          type: string
          description: The date and time the contact attribute key was created
          example: 2021-01-01T00:00:00.000Z
        updatedAt:
          type: string
          description: The date and time the contact attribute key was last updated
          example: 2021-01-01T00:00:00.000Z
        isUnique:
          type: boolean
          description: Whether the attribute must have unique values across contacts
          example: false
        key:
          type: string
          description: The attribute identifier used in the system
          example: email
        name:
          type:
            - string
            - "null"
          description: Display name for the attribute
          example: Email Address
        description:
          type:
            - string
            - "null"
          description: Description of the attribute
          example: The user's email address
        type:
          type: string
          enum:
            - default
            - custom
          description: Whether this is a default or custom attribute
          example: custom
        environmentId:
          type: string
          description: The ID of the environment this attribute belongs to
      required:
        - id
        - createdAt
        - updatedAt
        - isUnique
        - key
        - name
        - description
        - type
        - environmentId
    survey:
      type: object
      properties:
        id:
          type: string
          description: The ID of the survey
        createdAt:
          type: string
          description: The date and time the survey was created
          example: 2021-01-01T00:00:00.000Z
        updatedAt:
          type: string
          description: The date and time the survey was last updated
          example: 2021-01-01T00:00:00.000Z
        name:
          type: string
          description: The name of the survey
        redirectUrl:
          type:
            - string
            - "null"
          format: uri
          description: The URL to redirect to after the survey is completed
        type:
          type: string
          enum:
            - link
            - web
            - website
            - app
          description: The type of the survey
        status:
          type: string
          enum:
            - draft
            - scheduled
            - inProgress
            - paused
            - completed
          description: The status of the survey
        thankYouMessage:
          type:
            - string
            - "null"
          description: The thank you message of the survey
        showLanguageSwitch:
          type:
            - boolean
            - "null"
          description: Whether to show the language switch
        showThankYouMessage:
          type:
            - boolean
            - "null"
          description: Whether to show the thank you message
        welcomeCard:
          type: object
          properties:
            enabled:
              type: boolean
            timeToFinish:
              type: boolean
            showResponseCount:
              type: boolean
            headline:
              type: object
              additionalProperties:
                type: string
            html:
              type: object
              additionalProperties:
                type: string
            fileUrl:
              type: string
            buttonLabel:
              type: object
              additionalProperties:
                type: string
            videoUrl:
              type: string
          required:
            - enabled
            - timeToFinish
            - showResponseCount
          description: The welcome card configuration
        displayProgressBar:
          type:
            - boolean
            - "null"
          description: Whether to display the progress bar
        resultShareKey:
          type:
            - string
            - "null"
          description: The result share key of the survey
        pin:
          type:
            - string
            - "null"
          description: The pin of the survey
        createdBy:
          type:
            - string
            - "null"
          description: The user who created the survey
        environmentId:
          type: string
          description: The environment ID of the survey
        questions:
          type: array
          items:
            anyOf:
              - type: object
                properties:
                  id:
                    type: string
                  type:
                    type: string
                    const: openText
                  headline:
                    type: object
                    additionalProperties:
                      type: string
                  subheader:
                    type: object
                    additionalProperties:
                      type: string
                  imageUrl:
                    type: string
                  videoUrl:
                    type: string
                  required:
                    type: boolean
                  buttonLabel:
                    type: object
                    additionalProperties:
                      type: string
                  backButtonLabel:
                    type: object
                    additionalProperties:
                      type: string
                  scale:
                    type: string
                    enum: &a1
                      - number
                      - smiley
                      - star
                  range:
                    anyOf:
                      - type: number
                        const: 5
                      - type: number
                        const: 3
                      - type: number
                        const: 4
                      - type: number
                        const: 7
                      - type: number
                        const: 10
                  logic:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        conditions:
                          type: object
                          properties:
                            id:
                              type: string
                            connector:
                              type: string
                              enum:
                                - and
                                - or
                            conditions:
                              type: array
                              items:
                                $ref: "#/components/schemas/ConditionUnion"
                          required:
                            - id
                            - connector
                            - conditions
                        actions:
                          type: array
                          items:
                            anyOf:
                              - anyOf:
                                  - type: object
                                    properties:
                                      id:
                                        type: string
                                      objective:
                                        type: string
                                        const: calculate
                                      variableId:
                                        type: string
                                      operator:
                                        type: string
                                        enum: &a2
                                          - assign
                                          - concat
                                      value:
                                        anyOf:
                                          - type: object
                                            properties:
                                              type:
                                                type: string
                                                const: static
                                              value:
                                                type: string
                                                minLength: 1
                                            required:
                                              - type
                                              - value
                                          - anyOf:
                                              - type: object
                                                properties:
                                                  type:
                                                    type: string
                                                    const: question
                                                  value:
                                                    type: string
                                                    minLength: 1
                                                required:
                                                  - type
                                                  - value
                                              - type: object
                                                properties:
                                                  type:
                                                    type: string
                                                    const: variable
                                                  value:
                                                    type: string
                                                    minLength: 1
                                                required:
                                                  - type
                                                  - value
                                              - type: object
                                                properties:
                                                  type:
                                                    type: string
                                                    const: hiddenField
                                                  value:
                                                    type: string
                                                    minLength: 1
                                                required:
                                                  - type
                                                  - value
                                    required:
                                      - id
                                      - objective
                                      - variableId
                                      - operator
                                      - value
                                  - type: object
                                    properties:
                                      id:
                                        type: string
                                      objective:
                                        type: string
                                        const: calculate
                                      variableId:
                                        type: string
                                      operator:
                                        type: string
                                        enum: &a3
                                          - add
                                          - subtract
                                          - multiply
                                          - divide
                                          - assign
                                      value:
                                        anyOf:
                                          - type: object
                                            properties:
                                              type:
                                                type: string
                                                const: static
                                              value:
                                                type: number
                                            required:
                                              - type
                                              - value
                                          - anyOf:
                                              - type: object
                                                properties:
                                                  type:
                                                    type: string
                                                    const: question
                                                  value:
                                                    type: string
                                                    minLength: 1
                                                required:
                                                  - type
                                                  - value
                                              - type: object
                                                properties:
                                                  type:
                                                    type: string
                                                    const: variable
                                                  value:
                                                    type: string
                                                    minLength: 1
                                                required:
                                                  - type
                                                  - value
                                              - type: object
                                                properties:
                                                  type:
                                                    type: string
                                                    const: hiddenField
                                                  value:
                                                    type: string
                                                    minLength: 1
                                                required:
                                                  - type
                                                  - value
                                    required:
                                      - id
                                      - objective
                                      - variableId
                                      - operator
                                      - value
                              - type: object
                                properties:
                                  id:
                                    type: string
                                  objective:
                                    type: string
                                    const: requireAnswer
                                  target:
                                    type: string
                                    minLength: 1
                                required:
                                  - id
                                  - objective
                                  - target
                              - type: object
                                properties:
                                  id:
                                    type: string
                                  objective:
                                    type: string
                                    const: jumpToQuestion
                                  target:
                                    type: string
                                    minLength: 1
                                required:
                                  - id
                                  - objective
                                  - target
                      required:
                        - id
                        - conditions
                        - actions
                  logicFallback:
                    type: string
                  isDraft:
                    type: boolean
                  placeholder:
                    type: object
                    additionalProperties:
                      type: string
                  longAnswer:
                    type: boolean
                  inputType:
                    type: string
                    enum: &a10
                      - text
                      - email
                      - url
                      - number
                      - phone
                    default: text
                  insightsEnabled:
                    type: boolean
                    default: false
                  charLimit:
                    type: object
                    properties:
                      enabled:
                        type: boolean
                        default: false
                      min:
                        type: number
                      max:
                        type: number
                    default: &a11
                      enabled: false
                required:
                  - id
                  - type
                  - headline
                  - required
                  - inputType
                  - charLimit
              - type: object
                properties:
                  id:
                    type: string
                  type:
                    type: string
                    const: consent
                  headline:
                    type: object
                    additionalProperties:
                      type: string
                  subheader:
                    type: object
                    additionalProperties:
                      type: string
                  imageUrl:
                    type: string
                  videoUrl:
                    type: string
                  required:
                    type: boolean
                  buttonLabel:
                    type: object
                    additionalProperties:
                      type: string
                  backButtonLabel:
                    type: object
                    additionalProperties:
                      type: string
                  scale:
                    type: string
                    enum: *a1
                  range:
                    anyOf:
                      - type: number
                        const: 5
                      - type: number
                        const: 3
                      - type: number
                        const: 4
                      - type: number
                        const: 7
                      - type: number
                        const: 10
                  logic:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        conditions:
                          type: object
                          properties:
                            id:
                              type: string
                            connector:
                              type: string
                              enum:
                                - and
                                - or
                            conditions:
                              type: array
                              items:
                                $ref: "#/components/schemas/ConditionUnion"
                          required:
                            - id
                            - connector
                            - conditions
                        actions:
                          type: array
                          items:
                            anyOf:
                              - anyOf:
                                  - type: object
                                    properties:
                                      id:
                                        type: string
                                      objective:
                                        type: string
                                        const: calculate
                                      variableId:
                                        type: string
                                      operator:
                                        type: string
                                        enum: *a2
                                      value:
                                        anyOf:
                                          - type: object
                                            properties:
                                              type:
                                                type: string
                                                const: static
                                              value:
                                                type: string
                                                minLength: 1
                                            required:
                                              - type
                                              - value
                                          - anyOf:
                                              - type: object
                                                properties:
                                                  type:
                                                    type: string
                                                    const: question
                                                  value:
                                                    type: string
                                                    minLength: 1
                                                required:
                                                  - type
                                                  - value
                                              - type: object
                                                properties:
                                                  type:
                                                    type: string
                                                    const: variable
                                                  value:
                                                    type: string
                                                    minLength: 1
                                                required:
                                                  - type
                                                  - value
                                              - type: object
                                                properties:
                                                  type:
                                                    type: string
                                                    const: hiddenField
                                                  value:
                                                    type: string
                                                    minLength: 1
                                                required:
                                                  - type
                                                  - value
                                    required:
                                      - id
                                      - objective
                                      - variableId
                                      - operator
                                      - value
                                  - type: object
                                    properties:
                                      id:
                                        type: string
                                      objective:
                                        type: string
                                        const: calculate
                                      variableId:
                                        type: string
                                      operator:
                                        type: string
                                        enum: *a3
                                      value:
                                        anyOf:
                                          - type: object
                                            properties:
                                              type:
                                                type: string
                                                const: static
                                              value:
                                                type: number
                                            required:
                                              - type
                                              - value
                                          - anyOf:
                                              - type: object
                                                properties:
                                                  type:
                                                    type: string
                                                    const: question
                                                  value:
                                                    type: string
                                                    minLength: 1
                                                required:
                                                  - type
                                                  - value
                                              - type: object
                                                properties:
                                                  type:
                                                    type: string
                                                    const: variable
                                                  value:
                                                    type: string
                                                    minLength: 1
                                                required:
                                                  - type
                                                  - value
                                              - type: object
                                                properties:
                                                  type:
                                                    type: string
                                                    const: hiddenField
                                                  value:
                                                    type: string
                                                    minLength: 1
                                                required:
                                                  - type
                                                  - value
                                    required:
                                      - id
                                      - objective
                                      - variableId
                                      - operator
                                      - value
                              - type: object
                                properties:
                                  id:
                                    type: string
                                  objective:
                                    type: string
                                    const: requireAnswer
                                  target:
                                    type: string
                                    minLength: 1
                                required:
                                  - id
                                  - objective
                                  - target
                              - type: object
                                properties:
                                  id:
                                    type: string
                                  objective:
                                    type: string
                                    const: jumpToQuestion
                                  target:
                                    type: string
                                    minLength: 1
                                required:
                                  - id
                                  - objective
                                  - target
                      required:
                        - id
                        - conditions
                        - actions
                  logicFallback:
                    type: string
                  isDraft:
                    type: boolean
                  html:
                    type: object
                    additionalProperties:
                      type: string
                  label:
                    type: object
                    additionalProperties:
                      type: string
                  placeholder:
                    type: string
                required:
                  - id
                  - type
                  - headline
                  - required
                  - label
              - type: object
                properties:
                  id:
                    type: string
                  type:
                    anyOf:
                      - type: string
                        const: multipleChoiceSingle
                      - type: string
                        const: multipleChoiceMulti
                  headline:
                    type: object
                    additionalProperties:
                      type: string
                  subheader:
                    type: object
                    additionalProperties:
                      type: string
                  imageUrl:
                    type: string
                  videoUrl:
                    type: string
                  required:
                    type: boolean
                  buttonLabel:
                    type: object
                    additionalProperties:
                      type: string
                  backButtonLabel:
                    type: object
                    additionalProperties:
                      type: string
                  scale:
                    type: string
                    enum: *a1
                  range:
                    anyOf:
                      - type: number
                        const: 5
                      - type: number
                        const: 3
                      - type: number
                        const: 4
                      - type: number
                        const: 7
                      - type: number
                        const: 10
                  logic:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        conditions:
                          type: object
                          properties:
                            id:
                              type: string
                            connector:
                              type: string
                              enum:
                                - and
                                - or
                            conditions:
                              type: array
                              items:
                                $ref: "#/components/schemas/ConditionUnion"
                          required:
                            - id
                            - connector
                            - conditions
                        actions:
                          type: array
                          items:
                            anyOf:
                              - anyOf:
                                  - type: object
                                    properties:
                                      id:
                                        type: string
                                      objective:
                                        type: string
                                        const: calculate
                                      variableId:
                                        type: string
                                      operator:
                                        type: string
                                        enum: *a2
                                      value:
                                        anyOf:
                                          - type: object
                                            properties:
                                              type:
                                                type: string
                                                const: static
                                              value:
                                                type: string
                                                minLength: 1
                                            required:
                                              - type
                                              - value
                                          - anyOf:
                                              - type: object
                                                properties:
                                                  type:
                                                    type: string
                                                    const: question
                                                  value:
                                                    type: string
                                                    minLength: 1
                                                required:
                                                  - type
                                                  - value
                                              - type: object
                                                properties:
                                                  type:
                                                    type: string
                                                    const: variable
                                                  value:
                                                    type: string
                                                    minLength: 1
                                                required:
                                                  - type
                                                  - value
                                              - type: object
                                                properties:
                                                  type:
                                                    type: string
                                                    const: hiddenField
                                                  value:
                                                    type: string
                                                    minLength: 1
                                                required:
                                                  - type
                                                  - value
                                    required:
                                      - id
                                      - objective
                                      - variableId
                                      - operator
                                      - value
                                  - type: object
                                    properties:
                                      id:
                                        type: string
                                      objective:
                                        type: string
                                        const: calculate
                                      variableId:
                                        type: string
                                      operator:
                                        type: string
                                        enum: *a3
                                      value:
                                        anyOf:
                                          - type: object
                                            properties:
                                              type:
                                                type: string
                                                const: static
                                              value:
                                                type: number
                                            required:
                                              - type
                                              - value
                                          - anyOf:
                                              - type: object
                                                properties:
                                                  type:
                                                    type: string
                                                    const: question
                                                  value:
                                                    type: string
                                                    minLength: 1
                                                required:
                                                  - type
                                                  - value
                                              - type: object
                                                properties:
                                                  type:
                                                    type: string
                                                    const: variable
                                                  value:
                                                    type: string
                                                    minLength: 1
                                                required:
                                                  - type
                                                  - value
                                              - type: object
                                                properties:
                                                  type:
                                                    type: string
                                                    const: hiddenField
                                                  value:
                                                    type: string
                                                    minLength: 1
                                                required:
                                                  - type
                                                  - value
                                    required:
                                      - id
                                      - objective
                                      - variableId
                                      - operator
                                      - value
                              - type: object
                                properties:
                                  id:
                                    type: string
                                  objective:
                                    type: string
                                    const: requireAnswer
                                  target:
                                    type: string
                                    minLength: 1
                                required:
                                  - id
                                  - objective
                                  - target
                              - type: object
                                properties:
                                  id:
                                    type: string
                                  objective:
                                    type: string
                                    const: jumpToQuestion
                                  target:
                                    type: string
                                    minLength: 1
                                required:
                                  - id
                                  - objective
                                  - target
                      required:
                        - id
                        - conditions
                        - actions
                  logicFallback:
                    type: string
                  isDraft:
                    type: boolean
                  choices:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        label:
                          type: object
                          additionalProperties:
                            type: string
                      required:
                        - id
                        - label
                    minItems: 2
                  shuffleOption:
                    type: string
                    enum: &a4
                      - none
                      - all
                      - exceptLast
                  otherOptionPlaceholder:
                    type: object
                    additionalProperties:
                      type: string
                required:
                  - id
                  - type
                  - headline
                  - required
                  - choices
              - type: object
                properties:
                  id:
                    type: string
                  type:
                    type: string
                    const: nps
                  headline:
                    type: object
                    additionalProperties:
                      type: string
                  subheader:
                    type: object
                    additionalProperties:
                      type: string
                  imageUrl:
                    type: string
                  videoUrl:
                    type: string
                  required:
                    type: boolean
                  buttonLabel:
                    type: object
                    additionalProperties:
                      type: string
                  backButtonLabel:
                    type: object
                    additionalProperties:
                      type: string
                  scale:
                    type: string
                    enum: *a1
                  range:
                    anyOf:
                      - type: number
                        const: 5
                      - type: number
                        const: 3
                      - type: number
                        const: 4
                      - type: number
                        const: 7
                      - type: number
                        const: 10
                  logic:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        conditions:
                          type: object
                          properties:
                            id:
                              type: string
                            connector:
                              type: string
                              enum:
                                - and
                                - or
                            conditions:
                              type: array
                              items:
                                $ref: "#/components/schemas/ConditionUnion"
                          required:
                            - id
                            - connector
                            - conditions
                        actions:
                          type: array
                          items:
                            anyOf:
                              - anyOf:
                                  - type: object
                                    properties:
                                      id:
                                        type: string
                                      objective:
                                        type: string
                                        const: calculate
                                      variableId:
                                        type: string
                                      operator:
                                        type: string
                                        enum: *a2
                                      value:
                                        anyOf:
                                          - type: object
                                            properties:
                                              type:
                                                type: string
                                                const: static
                                              value:
                                                type: string
                                                minLength: 1
                                            required:
                                              - type
                                              - value
                                          - anyOf:
                                              - type: object
                                                properties:
                                                  type:
                                                    type: string
                                                    const: question
                                                  value:
                                                    type: string
                                                    minLength: 1
                                                required:
                                                  - type
                                                  - value
                                              - type: object
                                                properties:
                                                  type:
                                                    type: string
                                                    const: variable
                                                  value:
                                                    type: string
                                                    minLength: 1
                                                required:
                                                  - type
                                                  - value
                                              - type: object
                                                properties:
                                                  type:
                                                    type: string
                                                    const: hiddenField
                                                  value:
                                                    type: string
                                                    minLength: 1
                                                required:
                                                  - type
                                                  - value
                                    required:
                                      - id
                                      - objective
                                      - variableId
                                      - operator
                                      - value
                                  - type: object
                                    properties:
                                      id:
                                        type: string
                                      objective:
                                        type: string
                                        const: calculate
                                      variableId:
                                        type: string
                                      operator:
                                        type: string
                                        enum: *a3
                                      value:
                                        anyOf:
                                          - type: object
                                            properties:
                                              type:
                                                type: string
                                                const: static
                                              value:
                                                type: number
                                            required:
                                              - type
                                              - value
                                          - anyOf:
                                              - type: object
                                                properties:
                                                  type:
                                                    type: string
                                                    const: question
                                                  value:
                                                    type: string
                                                    minLength: 1
                                                required:
                                                  - type
                                                  - value
                                              - type: object
                                                properties:
                                                  type:
                                                    type: string
                                                    const: variable
                                                  value:
                                                    type: string
                                                    minLength: 1
                                                required:
                                                  - type
                                                  - value
                                              - type: object
                                                properties:
                                                  type:
                                                    type: string
                                                    const: hiddenField
                                                  value:
                                                    type: string
                                                    minLength: 1
                                                required:
                                                  - type
                                                  - value
                                    required:
                                      - id
                                      - objective
                                      - variableId
                                      - operator
                                      - value
                              - type: object
                                properties:
                                  id:
                                    type: string
                                  objective:
                                    type: string
                                    const: requireAnswer
                                  target:
                                    type: string
                                    minLength: 1
                                required:
                                  - id
                                  - objective
                                  - target
                              - type: object
                                properties:
                                  id:
                                    type: string
                                  objective:
                                    type: string
                                    const: jumpToQuestion
                                  target:
                                    type: string
                                    minLength: 1
                                required:
                                  - id
                                  - objective
                                  - target
                      required:
                        - id
                        - conditions
                        - actions
                  logicFallback:
                    type: string
                  isDraft:
                    type: boolean
                  lowerLabel:
                    type: object
                    additionalProperties:
                      type: string
                  upperLabel:
                    type: object
                    additionalProperties:
                      type: string
                  isColorCodingEnabled:
                    type: boolean
                    default: false
                required:
                  - id
                  - type
                  - headline
                  - required
                  - isColorCodingEnabled
              - type: object
                properties:
                  id:
                    type: string
                  type:
                    type: string
                    const: cta
                  headline:
                    type: object
                    additionalProperties:
                      type: string
                  subheader:
                    type: object
                    additionalProperties:
                      type: string
                  imageUrl:
                    type: string
                  videoUrl:
                    type: string
                  required:
                    type: boolean
                  buttonLabel:
                    type: object
                    additionalProperties:
                      type: string
                  backButtonLabel:
                    type: object
                    additionalProperties:
                      type: string
                  scale:
                    type: string
                    enum: *a1
                  range:
                    anyOf:
                      - type: number
                        const: 5
                      - type: number
                        const: 3
                      - type: number
                        const: 4
                      - type: number
                        const: 7
                      - type: number
                        const: 10
                  logic:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        conditions:
                          type: object
                          properties:
                            id:
                              type: string
                            connector:
                              type: string
                              enum:
                                - and
                                - or
                            conditions:
                              type: array
                              items:
                                $ref: "#/components/schemas/ConditionUnion"
                          required:
                            - id
                            - connector
                            - conditions
                        actions:
                          type: array
                          items:
                            anyOf:
                              - anyOf:
                                  - type: object
                                    properties:
                                      id:
                                        type: string
                                      objective:
                                        type: string
                                        const: calculate
                                      variableId:
                                        type: string
                                      operator:
                                        type: string
                                        enum: *a2
                                      value:
                                        anyOf:
                                          - type: object
                                            properties:
                                              type:
                                                type: string
                                                const: static
                                              value:
                                                type: string
                                                minLength: 1
                                            required:
                                              - type
                                              - value
                                          - anyOf:
                                              - type: object
                                                properties:
                                                  type:
                                                    type: string
                                                    const: question
                                                  value:
                                                    type: string
                                                    minLength: 1
                                                required:
                                                  - type
                                                  - value
                                              - type: object
                                                properties:
                                                  type:
                                                    type: string
                                                    const: variable
                                                  value:
                                                    type: string
                                                    minLength: 1
                                                required:
                                                  - type
                                                  - value
                                              - type: object
                                                properties:
                                                  type:
                                                    type: string
                                                    const: hiddenField
                                                  value:
                                                    type: string
                                                    minLength: 1
                                                required:
                                                  - type
                                                  - value
                                    required:
                                      - id
                                      - objective
                                      - variableId
                                      - operator
                                      - value
                                  - type: object
                                    properties:
                                      id:
                                        type: string
                                      objective:
                                        type: string
                                        const: calculate
                                      variableId:
                                        type: string
                                      operator:
                                        type: string
                                        enum: *a3
                                      value:
                                        anyOf:
                                          - type: object
                                            properties:
                                              type:
                                                type: string
                                                const: static
                                              value:
                                                type: number
                                            required:
                                              - type
                                              - value
                                          - anyOf:
                                              - type: object
                                                properties:
                                                  type:
                                                    type: string
                                                    const: question
                                                  value:
                                                    type: string
                                                    minLength: 1
                                                required:
                                                  - type
                                                  - value
                                              - type: object
                                                properties:
                                                  type:
                                                    type: string
                                                    const: variable
                                                  value:
                                                    type: string
                                                    minLength: 1
                                                required:
                                                  - type
                                                  - value
                                              - type: object
                                                properties:
                                                  type:
                                                    type: string
                                                    const: hiddenField
                                                  value:
                                                    type: string
                                                    minLength: 1
                                                required:
                                                  - type
                                                  - value
                                    required:
                                      - id
                                      - objective
                                      - variableId
                                      - operator
                                      - value
                              - type: object
                                properties:
                                  id:
                                    type: string
                                  objective:
                                    type: string
                                    const: requireAnswer
                                  target:
                                    type: string
                                    minLength: 1
                                required:
                                  - id
                                  - objective
                                  - target
                              - type: object
                                properties:
                                  id:
                                    type: string
                                  objective:
                                    type: string
                                    const: jumpToQuestion
                                  target:
                                    type: string
                                    minLength: 1
                                required:
                                  - id
                                  - objective
                                  - target
                      required:
                        - id
                        - conditions
                        - actions
                  logicFallback:
                    type: string
                  isDraft:
                    type: boolean
                  html:
                    type: object
                    additionalProperties:
                      type: string
                  buttonUrl:
                    type: string
                  buttonExternal:
                    type: boolean
                  dismissButtonLabel:
                    type: object
                    additionalProperties:
                      type: string
                required:
                  - id
                  - type
                  - headline
                  - required
                  - buttonExternal
              - type: object
                properties:
                  id:
                    type: string
                  type:
                    type: string
                    const: rating
                  headline:
                    type: object
                    additionalProperties:
                      type: string
                  subheader:
                    type: object
                    additionalProperties:
                      type: string
                  imageUrl:
                    type: string
                  videoUrl:
                    type: string
                  required:
                    type: boolean
                  buttonLabel:
                    type: object
                    additionalProperties:
                      type: string
                  backButtonLabel:
                    type: object
                    additionalProperties:
                      type: string
                  scale:
                    type: string
                    enum: &a12
                      - number
                      - smiley
                      - star
                  range:
                    anyOf:
                      - type: number
                        const: 5
                      - type: number
                        const: 3
                      - type: number
                        const: 4
                      - type: number
                        const: 7
                      - type: number
                        const: 10
                  logic:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        conditions:
                          type: object
                          properties:
                            id:
                              type: string
                            connector:
                              type: string
                              enum:
                                - and
                                - or
                            conditions:
                              type: array
                              items:
                                $ref: "#/components/schemas/ConditionUnion"
                          required:
                            - id
                            - connector
                            - conditions
                        actions:
                          type: array
                          items:
                            anyOf:
                              - anyOf:
                                  - type: object
                                    properties:
                                      id:
                                        type: string
                                      objective:
                                        type: string
                                        const: calculate
                                      variableId:
                                        type: string
                                      operator:
                                        type: string
                                        enum: *a2
                                      value:
                                        anyOf:
                                          - type: object
                                            properties:
                                              type:
                                                type: string
                                                const: static
                                              value:
                                                type: string
                                                minLength: 1
                                            required:
                                              - type
                                              - value
                                          - anyOf:
                                              - type: object
                                                properties:
                                                  type:
                                                    type: string
                                                    const: question
                                                  value:
                                                    type: string
                                                    minLength: 1
                                                required:
                                                  - type
                                                  - value
                                              - type: object
                                                properties:
                                                  type:
                                                    type: string
                                                    const: variable
                                                  value:
                                                    type: string
                                                    minLength: 1
                                                required:
                                                  - type
                                                  - value
                                              - type: object
                                                properties:
                                                  type:
                                                    type: string
                                                    const: hiddenField
                                                  value:
                                                    type: string
                                                    minLength: 1
                                                required:
                                                  - type
[...]
