:root[data-theme="light"] {
  --text-color: rgb(51, 65, 85);
}

:root[data-theme="dark"] {
  --text-color: rgb(203, 213, 225);
}

h5,
.sc-dhCplO,
.sc-dpBQxM {
  color: var(--text-color) !important;
}

.tab-success,
.react-tabs__tab,
.tab-error {
  background-color: transparent !important;
  border: 1px solid var(--text-color) !important;
  margin: 10px 5px !important;
}

.sc-dwGkES,
.sc-ePpfBx {
  background-color: rgb(24, 24, 27) !important;
  border: 1px solid var(--text-color) !important;
}
.sc-ePpfBx,
.corVrN {
  background-color: rgb(24, 24, 27) !important;
  border: none !important;
}
.cqdCbT {
  display: none !important;
}
.kiMaJz, .iZNUDY {
  align-items: center !important;
}

.react-tabs__tab-panel > div {
  padding: 0 !important;
  border-radius: 8px !important;
  overflow: hidden !important;
}
.sc-Rjrgp {
  background-color: rgb(15, 23, 42) !important;
  display: flex !important;
  justify-content: center !important;
  flex-direction: column !important;
  padding: 8px 16px !important;
}
.cugBNu {
  position: static !important;
}
.daIHdK {
  padding: 0 !important;
}
.kqHNPM {
  margin-top: 0px !important;
}
.sc-iwXfZk,
.redoc-json {
  padding: 1rem !important;
  background-color: rgb(24, 35, 58) !important;
}
.sc-uYFMi {
  background-color: rgb(24, 35, 58) !important;
  padding: 0.5rem 0 !important;
  color: #2dd4bf !important;
  font-weight: 600 !important;
}
.token {
  color: #2dd4bf !important;
}

.property {
  color: rgb(203, 213, 225) !important;
}
.sc-iPHsxv {
  background-color: rgb(15, 23, 42) !important;
  border-radius: 8px !important;
}

.sc-hSyjfr {
  background-color: rgb(15, 23, 42) !important;
}
