#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.preact:hover {
  filter: drop-shadow(0 0 2em #673ab8aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-bottom: 2em; */
  width: 180px;
  /* border: 2px solid #333; */
  cursor: pointer;
}

.date-pick-btn {
  display: flex;
  align-items: center;
  gap: 8px;
}

.cal-icon {
  height: 16px;
  width: 16px;
}

.react-date-picker__inputGroup {
  display: none;
}

.react-date-picker__wrapper {
  display: none;
}

.react-calendar {
  box-shadow: 2px 2px 10px #333;
  padding-bottom: 16px !important;
}

.react-calendar__tile {
  padding: 0.5em !important;
}

.react-calendar__tile--active {
  background: teal !important;
  color: white !important;
}

.react-calendar__tile--now {
  background: #333 !important;
  color: white !important;
}
