@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Brand Colors */
  --formbricks-brand: #38B5DB;

  /* Fill Colors */
  --formbricks-fill-primary: #fefefe;
  --formbricks-fill-secondary: #0f172a;
  --formbricks-fill-disabled: #e0e0e0;

  /* Label Colors */
  --formbricks-label-primary: #0f172a;
  --formbricks-label-secondary: #384258;
  --formbricks-label-disabled: #bdbdbd;

  /* Border Colors */
  --formbricks-border-primary: #e0e0e0;
  --formbricks-border-secondary: #0f172a;
  --formbricks-border-disabled: #ececec;

  /* Functional Colors */
  --formbricks-focus: #1982fc;
  --formbricks-error: #d13a3a;

  --accent-light-blue: #38B5DB33;
  --accent-blue: #38B5DB80;
}

.dark {
  /* Brand Colors */
  --formbricks-brand: #38B5DB;

  /* Fill Colors */
  --formbricks-fill-primary: #0f172a;
  --formbricks-fill-secondary: #e0e0e0;
  --formbricks-fill-disabled: #394258;

  /* Label Colors */
  --formbricks-label-primary: #fefefe;
  --formbricks-label-secondary: #f2f2f2;
  --formbricks-label-disabled: #bdbdbd;

  /* Border Colors */
  --formbricks-border-primary: #394258;
  --formbricks-border-secondary: #e0e0e0;
  --formbricks-border-disabled: #394258;

  /* Functional Colors */
  --formbricks-focus: #1982fc;
  --formbricks-error: #d13a3a;
}

@layer base {
  [data-nextjs-scroll-focus-boundary] {
    display: contents;
  }
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #e2e8f0;
}

*::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border: 3px solid #cbd5e1;
}

.filter-scrollbar::-webkit-scrollbar {
  height: 10px;
}

.filter-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 8px;
}

.filter-scrollbar::-webkit-scrollbar-track {
  border-radius: 8px;
}

input:focus {
  --tw-ring-color: none;
  --tw-ring-offset-color: none;
  --tw-ring-shadow: 0 0 #000 !important;
  box-shadow: none;
}

@layer utilities {
  @layer responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

/* Hide the clear button for input type "search" */
input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

input[type="search"]::-ms-clear {
  display: none;
}

input[type="search"]::-ms-reveal {
  display: none;
}

.surveyFilterDropdown[data-state="open"] {
  background-color: #0f172a;
  color: white;
}
.surveyFilterDropdown:hover * {
  background-color: #0f172a;
  color: white;
}

input[type="range"]::-webkit-slider-thumb {
  background: #0f172a;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  -webkit-appearance: none;
}


:root {
  --brand-default: #64748b;
  --slate-50: rgb(248, 250, 252);
  --slate-100: rgb(241 245 249);
  --slate-200: rgb(226 232 240);
  --slate-300: rgb(203, 213, 225);
  --slate-400: rgb(148 163 184);
  --slate-500: rgb(100 116 139);
  --slate-600: rgb(71 85 105);
  --slate-700: rgb(51 65 85);
  --slate-800: rgb(30 41 59);
  --slate-900: rgb(15 23 42);
  --gray-100: rgb(243 244 246);
  --gray-200: rgb(229 231 235);
  --yellow-100: rgb(254 249 195);
  --yellow-300: rgb(253 224 71);
  --yellow-500: rgb(234 179 8);

  /* Default Light Theme, you can override everything by changing these values */
  --brand-color: var(--brand-default);
  --brand-text-color: black;
  --border-color: var(--slate-300);
  --border-color-highlight: var(--slate-500);
  --focus-color: var(--slate-500);
  --heading-color: var(--slate-900);
  --subheading-color: var(--slate-700);
  --placeholder-color: var(--slate-300);
  --info-text-color: var(--slate-500);
  --signature-text-color: var(--slate-500);
  --branding-text-color: var(--slate-500);
  --survey-background-color: white;
  --survey-border-color: var(--slate-50);
  --survey-shadow-color: rgba(0, 0, 0, 0.4);
  --accent-background-color: var(--slate-200);
  --accent-background-color-selected: var(--slate-100);
  --input-background-color: var(--slate-50);
  --input-background-color-selected: var(--slate-200);
  --placeholder-color: var(--slate-400);
  --shadow-color: var(--slate-300);
  --rating-fill: var(--yellow-100);
  --rating-hover: var(--yellow-500);
  --back-btn-border: transparent;
  --submit-btn-border: transparent;
  --rating-selected: black;
  --close-btn-color: var(--slate-500);
  --close-btn-color-hover: var(--slate-700);
  --calendar-tile-color: var(--slate-50);
  --border-radius: 8px;
}
