# V3 API — Survey Management
# Implementation:
# - apps/web/app/api/v3/surveys/route.ts
# - apps/web/app/api/v3/surveys/[surveyId]/route.ts
# - apps/web/app/api/v3/surveys/schemas.ts
# - apps/web/app/api/v3/surveys/adapters.ts

openapi: 3.1.0
info:
  title: Formbricks API v3
  version: 0.2.0
  description: |
    Survey management endpoints for Formbricks' v3 API.

    Key properties of this contract:
    - Authenticate with either a session cookie or `x-api-key`.
    - Use `workspaceId` externally; today this resolves to the underlying environment id.
    - Create and update surveys with a single strict survey object.
    - Reject unsupported top-level fields instead of silently ignoring them.
    - Return RFC 9457 problem responses for errors.

    Scope 1 is intentionally limited to survey structure:
    - `name`
    - `type`
    - `status`
    - `welcomeCard`
    - `blocks`
    - `endings`
    - `hiddenFields`
    - `variables`

    Out of scope and therefore rejected on create/update:
    - `questions`
    - distribution, targeting, and styling settings
    - follow-ups
    - recaptcha / spam protection
    - single-use or email-verification settings
    - languages, metadata, slug, and custom scripts
  x-implementation-notes:
    route-collection: apps/web/app/api/v3/surveys/route.ts
    route-item: apps/web/app/api/v3/surveys/[surveyId]/route.ts
    auth: apps/web/app/api/v3/lib/auth.ts
    wrapper: apps/web/app/api/v3/lib/api-wrapper.ts
    workspace-resolution: apps/web/app/api/v3/lib/workspace-context.ts
    schema-source: apps/web/app/api/v3/surveys/schemas.ts
    adapter-source: apps/web/app/api/v3/surveys/adapters.ts
    openapi-generated: false
servers:
  - url: https://app.formbricks.com
tags:
  - name: V3 Surveys
paths:
  /api/v3/surveys:
    get:
      operationId: listSurveysV3
      summary: List surveys
      tags: [V3 Surveys]
      description: |
        Returns surveys for the given workspace.

        Auth happens before query parsing. Unauthenticated callers receive `401`.
        Missing or unauthorized workspaces receive `403` to avoid leaking resource existence.
      parameters:
        - in: query
          name: workspaceId
          required: true
          schema:
            type: string
            format: cuid2
          description: |
            Workspace identifier. Today this maps to the environment id used by the current data model.
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - in: query
          name: cursor
          schema:
            type: string
          description: Opaque cursor returned as `meta.nextCursor`.
        - in: query
          name: filter[name][contains]
          schema:
            type: string
            maxLength: 512
        - in: query
          name: filter[status][in]
          schema:
            type: array
            items:
              type: string
              enum: [draft, inProgress, paused, completed]
          style: form
          explode: true
        - in: query
          name: filter[type][in]
          schema:
            type: array
            items:
              type: string
              enum: [link, app]
          style: form
          explode: true
        - in: query
          name: sortBy
          schema:
            type: string
            enum: [createdAt, updatedAt, name, relevance]
      responses:
        "200":
          description: Surveys retrieved successfully
          headers:
            X-Request-Id:
              schema: { type: string }
            Cache-Control:
              schema: { type: string }
              example: private, no-store
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/SurveyListItem"
                  meta:
                    type: object
                    required: [limit, nextCursor, totalCount]
                    properties:
                      limit:
                        type: integer
                      nextCursor:
                        type: string
                        nullable: true
                      totalCount:
                        type: integer
                        minimum: 0
        "400":
          $ref: "#/components/responses/Problem400"
        "401":
          $ref: "#/components/responses/Problem401"
        "403":
          $ref: "#/components/responses/Problem403"
        "429":
          $ref: "#/components/responses/Problem429"
        "500":
          $ref: "#/components/responses/Problem500"
      security:
        - sessionAuth: []
        - apiKeyAuth: []
    post:
      operationId: createSurveyV3
      summary: Create a survey
      tags: [V3 Surveys]
      description: |
        Creates a survey from a single strict survey document.

        Defaults applied by the API:
        - `type = "link"`
        - `status = "draft"`
        - `welcomeCard = { enabled: false }`
        - `endings = []`
        - `hiddenFields = { enabled: false }`
        - `variables = []`

        `createdBy` is injected from the session user when available and remains `null` for API-key callers.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SurveyCreateRequest"
            examples:
              minimal:
                value:
                  workspaceId: clxx1234567890123456789012
                  name: Product Feedback Survey
                  blocks:
                    - id: clbk1234567890123456789012
                      name: Intro
                      elements:
                        - id: satisfaction
                          type: openText
                          headline:
                            default: What should we improve?
                          required: true
      responses:
        "201":
          description: Survey created successfully
          headers:
            X-Request-Id:
              schema: { type: string }
            Cache-Control:
              schema: { type: string }
              example: private, no-store
            Location:
              schema: { type: string }
              example: /api/v3/surveys/clsv1234567890123456789012
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: "#/components/schemas/SurveyResource"
        "400":
          $ref: "#/components/responses/Problem400"
        "401":
          $ref: "#/components/responses/Problem401"
        "403":
          $ref: "#/components/responses/Problem403"
        "429":
          $ref: "#/components/responses/Problem429"
        "500":
          $ref: "#/components/responses/Problem500"
      security:
        - sessionAuth: []
        - apiKeyAuth: []
  /api/v3/surveys/{surveyId}:
    get:
      operationId: getSurveyV3
      summary: Retrieve a survey
      tags: [V3 Surveys]
      parameters:
        - $ref: "#/components/parameters/SurveyId"
      responses:
        "200":
          description: Survey retrieved successfully
          headers:
            X-Request-Id:
              schema: { type: string }
            Cache-Control:
              schema: { type: string }
              example: private, no-store
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: "#/components/schemas/SurveyResource"
        "400":
          $ref: "#/components/responses/Problem400"
        "401":
          $ref: "#/components/responses/Problem401"
        "403":
          $ref: "#/components/responses/Problem403"
        "404":
          $ref: "#/components/responses/Problem404"
        "429":
          $ref: "#/components/responses/Problem429"
        "500":
          $ref: "#/components/responses/Problem500"
      security:
        - sessionAuth: []
        - apiKeyAuth: []
    patch:
      operationId: updateSurveyV3
      summary: Update a survey
      tags: [V3 Surveys]
      description: |
        Applies a strict top-level partial update.

        Patch semantics:
        - omitted top-level fields are preserved
        - provided objects and arrays replace the entire subtree
        - immutable and out-of-scope top-level fields are rejected
      parameters:
        - $ref: "#/components/parameters/SurveyId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SurveyPatchRequest"
            examples:
              rename:
                value:
                  name: Updated Survey Name
              replaceWelcomeCard:
                value:
                  welcomeCard:
                    enabled: false
      responses:
        "200":
          description: Survey updated successfully
          headers:
            X-Request-Id:
              schema: { type: string }
            Cache-Control:
              schema: { type: string }
              example: private, no-store
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    $ref: "#/components/schemas/SurveyResource"
        "400":
          $ref: "#/components/responses/Problem400"
        "401":
          $ref: "#/components/responses/Problem401"
        "403":
          $ref: "#/components/responses/Problem403"
        "404":
          $ref: "#/components/responses/Problem404"
        "429":
          $ref: "#/components/responses/Problem429"
        "500":
          $ref: "#/components/responses/Problem500"
      security:
        - sessionAuth: []
        - apiKeyAuth: []
    delete:
      operationId: deleteSurveyV3
      summary: Delete a survey
      tags: [V3 Surveys]
      parameters:
        - $ref: "#/components/parameters/SurveyId"
      responses:
        "204":
          description: Survey deleted successfully
          headers:
            X-Request-Id:
              schema: { type: string }
            Cache-Control:
              schema: { type: string }
              example: private, no-store
        "400":
          $ref: "#/components/responses/Problem400"
        "401":
          $ref: "#/components/responses/Problem401"
        "403":
          $ref: "#/components/responses/Problem403"
        "404":
          $ref: "#/components/responses/Problem404"
        "429":
          $ref: "#/components/responses/Problem429"
        "500":
          $ref: "#/components/responses/Problem500"
      security:
        - sessionAuth: []
        - apiKeyAuth: []

components:
  securitySchemes:
    sessionAuth:
      type: apiKey
      in: cookie
      name: next-auth.session-token
      description: |
        NextAuth session cookie. In production this may be `__Secure-next-auth.session-token`.
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: |
        Management API key with workspace-scoped environment permissions.
  parameters:
    SurveyId:
      in: path
      name: surveyId
      required: true
      schema:
        type: string
        format: cuid2
  responses:
    Problem400:
      description: Bad Request
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
    Problem401:
      description: Not authenticated
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
    Problem403:
      description: Forbidden
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
    Problem404:
      description: Not Found
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
    Problem429:
      description: Rate limit exceeded
      headers:
        Retry-After:
          schema: { type: integer }
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
    Problem500:
      description: Internal Server Error
      content:
        application/problem+json:
          schema:
            $ref: "#/components/schemas/Problem"
  schemas:
    SurveyListItem:
      type: object
      additionalProperties: false
      required:
        - id
        - workspaceId
        - name
        - type
        - status
        - createdAt
        - updatedAt
        - responseCount
        - creator
      properties:
        id:
          type: string
        workspaceId:
          type: string
        name:
          type: string
        type:
          type: string
          enum: [link, app, website, web]
        status:
          type: string
          enum: [draft, inProgress, paused, completed]
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        responseCount:
          type: integer
        creator:
          type: object
          nullable: true
          additionalProperties: false
          properties:
            name:
              type: string
    SurveyCreateRequest:
      type: object
      additionalProperties: false
      required: [workspaceId, name, blocks]
      properties:
        workspaceId:
          type: string
          format: cuid2
        name:
          type: string
          minLength: 1
        type:
          type: string
          enum: [link, app]
          default: link
        status:
          type: string
          enum: [draft, inProgress, paused, completed]
          default: draft
        welcomeCard:
          $ref: "#/components/schemas/SurveyWelcomeCard"
        blocks:
          type: array
          minItems: 1
          items:
            $ref: "#/components/schemas/SurveyBlock"
        endings:
          type: array
          items:
            $ref: "#/components/schemas/SurveyEnding"
        hiddenFields:
          $ref: "#/components/schemas/SurveyHiddenFields"
        variables:
          type: array
          items:
            $ref: "#/components/schemas/SurveyVariable"
    SurveyPatchRequest:
      type: object
      additionalProperties: false
      minProperties: 1
      properties:
        name:
          type: string
          minLength: 1
        type:
          type: string
          enum: [link, app]
        status:
          type: string
          enum: [draft, inProgress, paused, completed]
        welcomeCard:
          $ref: "#/components/schemas/SurveyWelcomeCard"
        blocks:
          type: array
          items:
            $ref: "#/components/schemas/SurveyBlock"
        endings:
          type: array
          items:
            $ref: "#/components/schemas/SurveyEnding"
        hiddenFields:
          $ref: "#/components/schemas/SurveyHiddenFields"
        variables:
          type: array
          items:
            $ref: "#/components/schemas/SurveyVariable"
    SurveyResource:
      type: object
      additionalProperties: false
      required:
        - id
        - workspaceId
        - createdAt
        - updatedAt
        - name
        - type
        - status
        - welcomeCard
        - blocks
        - endings
        - hiddenFields
        - variables
      properties:
        id:
          type: string
        workspaceId:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        name:
          type: string
        type:
          type: string
          enum: [link, app]
        status:
          type: string
          enum: [draft, inProgress, paused, completed]
        welcomeCard:
          $ref: "#/components/schemas/SurveyWelcomeCard"
        blocks:
          type: array
          items:
            $ref: "#/components/schemas/SurveyBlock"
        endings:
          type: array
          items:
            $ref: "#/components/schemas/SurveyEnding"
        hiddenFields:
          $ref: "#/components/schemas/SurveyHiddenFields"
        variables:
          type: array
          items:
            $ref: "#/components/schemas/SurveyVariable"
    SurveyWelcomeCard:
      type: object
      additionalProperties: false
      required: [enabled]
      properties:
        enabled:
          type: boolean
        headline:
          $ref: "#/components/schemas/I18nString"
        subheader:
          $ref: "#/components/schemas/I18nString"
        fileUrl:
          type: string
        buttonLabel:
          $ref: "#/components/schemas/I18nString"
        timeToFinish:
          type: boolean
          default: true
        showResponseCount:
          type: boolean
          default: false
        videoUrl:
          type: string
    SurveyBlock:
      type: object
      additionalProperties: false
      required: [id, name, elements]
      properties:
        id:
          type: string
          format: cuid2
        name:
          type: string
          minLength: 1
        elements:
          type: array
          minItems: 1
          items:
            $ref: "#/components/schemas/SurveyElement"
        logic:
          type: array
          items:
            type: object
            additionalProperties: true
            description: Block logic objects validated by the shared survey logic schema.
        logicFallback:
          type: string
          format: cuid2
        buttonLabel:
          $ref: "#/components/schemas/I18nString"
        backButtonLabel:
          $ref: "#/components/schemas/I18nString"
    SurveyElement:
      type: object
      additionalProperties: true
      required: [id, type, headline, required]
      description: |
        Shared survey element shape. Common keys are documented here; additional
        element-type-specific keys are validated by the shared Formbricks survey schema.
      properties:
        id:
          type: string
        type:
          type: string
        headline:
          $ref: "#/components/schemas/I18nString"
        subheader:
          $ref: "#/components/schemas/I18nString"
        required:
          type: boolean
    SurveyEnding:
      oneOf:
        - $ref: "#/components/schemas/SurveyEndScreenEnding"
        - $ref: "#/components/schemas/SurveyRedirectEnding"
    SurveyEndScreenEnding:
      type: object
      additionalProperties: false
      required: [id, type]
      properties:
        id:
          type: string
          format: cuid2
        type:
          type: string
          enum: [endScreen]
        headline:
          $ref: "#/components/schemas/I18nString"
        subheader:
          $ref: "#/components/schemas/I18nString"
        buttonLabel:
          $ref: "#/components/schemas/I18nString"
        buttonLink:
          type: string
        imageUrl:
          type: string
        videoUrl:
          type: string
    SurveyRedirectEnding:
      type: object
      additionalProperties: false
      required: [id, type]
      properties:
        id:
          type: string
          format: cuid2
        type:
          type: string
          enum: [redirectToUrl]
        url:
          type: string
        label:
          type: string
    SurveyHiddenFields:
      type: object
      additionalProperties: false
      required: [enabled]
      properties:
        enabled:
          type: boolean
        fieldIds:
          type: array
          items:
            type: string
    SurveyVariable:
      oneOf:
        - $ref: "#/components/schemas/NumberSurveyVariable"
        - $ref: "#/components/schemas/TextSurveyVariable"
    NumberSurveyVariable:
      type: object
      additionalProperties: false
      required: [id, name, type]
      properties:
        id:
          type: string
          format: cuid2
        name:
          type: string
        type:
          type: string
          enum: [number]
        value:
          type: number
          default: 0
    TextSurveyVariable:
      type: object
      additionalProperties: false
      required: [id, name, type]
      properties:
        id:
          type: string
          format: cuid2
        name:
          type: string
        type:
          type: string
          enum: [text]
        value:
          type: string
          default: ""
    I18nString:
      type: object
      additionalProperties:
        type: string
      description: Language-keyed string object with a required `default` entry in practice.
      properties:
        default:
          type: string
    Problem:
      type: object
      required: [title, status, detail, requestId]
      properties:
        type:
          type: string
          format: uri
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
        instance:
          type: string
        code:
          type: string
          enum:
            - bad_request
            - not_authenticated
            - forbidden
            - not_found
            - internal_server_error
            - too_many_requests
        requestId:
          type: string
        details:
          type: object
        invalid_params:
          type: array
          items:
            type: object
            additionalProperties: false
            properties:
              name:
                type: string
              reason:
                type: string
