# GENERATED FILE — do not edit. Source of truth: docs/api-v3-reference/src/ (one file per path/schema).
# Regenerate with `pnpm api:v3:bundle`; CI verifies freshness with `pnpm api:v3:check`.
# V3 API — Surveys and Workflows extension (hand-maintained source; not produced by generate-api-specs).
openapi: 3.1.1
info:
  title: Formbricks API v3
  description: |
    **Surveys**: **GET /api/v3/surveys**, **POST /api/v3/surveys**, **POST /api/v3/surveys/generate**, **POST /api/v3/surveys/validate**, **GET /api/v3/surveys/{surveyId}**, **PATCH /api/v3/surveys/{surveyId}**, and **DELETE /api/v3/surveys/{surveyId}**.

    Authenticate all management endpoints with **session cookie** or **`x-api-key`** (management key with access to the workspace).

    **Spec location:** source of truth is the multi-file tree at `docs/api-v3-reference/src/` (root `openapi.yml` plus one file per path and component); `docs/api-v3-reference/openapi.yml` is the generated single-file bundle (alongside v2 at `docs/api-v2-reference/openapi.yml`).

    **workspaceId**
    `workspaceId` is the canonical container identifier for this API. It is a **required query parameter on collection endpoints** (e.g. `GET`/`POST /api/v3/surveys`, `GET /api/v3/action-classes`, `GET /api/v3/contact-attribute-keys`) because those operate within a workspace. Single-resource endpoints (`GET`/`PATCH`/`DELETE /api/v3/surveys/{surveyId}`) locate the resource by its globally-unique id and resolve the workspace from it, so they do **not** accept a `workspaceId` query parameter — sending one returns **400** (`Unrecognized key: "workspaceId"`). `POST /api/v3/surveys` also requires `workspaceId` in the request body.

    **Auth**
    Authenticate with either a session cookie or **`x-api-key`**. In dual-auth mode, V3 checks the API key first when the header is present, otherwise it uses the session path. Unauthenticated callers get **401** before query validation.

    **Pagination**
    Cursor-based pagination with **limit** + opaque **cursor** token. Responses return `meta.nextCursor`; pass that value back as `cursor` to fetch the next page. Survey list responses also include `meta.totalCount`, the total number of surveys matching the current filters across all pages. There is no `offset` in this contract.

    **Filtering**
    Filters use explicit operator-style query parameters under the **`filter[...]` family**. The survey list supports `filter[name][contains]`, `filter[status][in]`, and `filter[type][in]`. Resource-scoping identifiers (`workspaceId`, `responseId`) stay plain query parameters. Multi-value filters use repeated keys or comma-separated values (e.g. `filter[status][in]=draft&filter[status][in]=inProgress` or `filter[status][in]=draft,inProgress`). Sorting remains a flat `sortBy` query parameter.

    **Security**
    Missing/forbidden workspace returns **403** with a generic message (not **404**) so resource existence is not leaked. List responses use `private, no-store`.

    **AI survey creation**
    `POST /api/v3/surveys/generate` returns a draft `POST /api/v3/surveys` payload plus validation metadata. It does not create a survey. It generates survey content for both `link` and `app` surveys; for `app` it seeds a default `distribution` (display once, no triggers, no targeting) that you finish configuring before publishing.
    Prompt text is sent to the configured AI provider for generation, but it is not stored by this endpoint, not logged by default, and not included in audit data.

    **OpenAPI**
    This spec is **not** produced by `pnpm generate-api-specs` (that script only builds v2 → `docs/api-v2-reference/openapi.yml`). When the route contract changes, edit the files under `docs/api-v3-reference/src/`, then run `pnpm api:v3:bundle` to regenerate the committed single-file bundle. `pnpm api:v3:lint` lints the source tree; `pnpm api:v3:check` (CI) fails when the bundle is stale.

    **Overview migration note**
    The v3-backed survey overview page intentionally removes actions that are not yet exposed by this contract: `Created by` filtering, `Duplicate`, `Copy...`, `Preview`, and `Copy link`.

    **Next steps (out of scope for this spec)**
    Additional v3 survey update endpoints, optional ETag/304, field selection, translation-specific writes, and survey version history.
  version: 0.1.0
  x-implementation-notes:
    route: apps/web/app/api/v3/surveys/route.ts
    generate-route: apps/web/app/api/v3/surveys/generate/route.ts
    query-parser: apps/web/app/api/v3/surveys/parse-v3-surveys-list-query.ts
    auth: apps/web/app/api/v3/lib/auth.ts
    workspace-resolution: apps/web/app/api/v3/lib/workspace-context.ts
    openapi-generated: false
    spec-source: docs/api-v3-reference/src (regenerate bundle with `pnpm api:v3:bundle`)
    pagination-model: cursor
    cursor-pagination: supported
servers:
  - url: https://app.formbricks.com
    description: Formbricks Cloud. Paths in this spec already include the `/api/v3` prefix; self-hosted instances substitute their own origin.
paths:
  /api/v3/surveys:
    get:
      operationId: getSurveysV3
      summary: List surveys
      description: |
        Returns surveys for the workspace. Session cookie or x-api-key.
      tags:
        - V3 Surveys
      parameters:
        - in: query
          name: workspaceId
          required: true
          schema:
            type: string
            format: cuid2
          description: |
            Workspace identifier. This is the canonical container ID for v3 APIs.
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: Page size (max 100)
        - in: query
          name: cursor
          schema:
            type: string
          description: |
            Opaque cursor returned as `meta.nextCursor` from the previous page. Omit on the first request.
        - in: query
          name: includeTotalCount
          schema:
            type: boolean
            default: true
          description: |
            Whether to calculate `meta.totalCount` for this request. Set to `false` on cursor-pagination follow-up requests to skip the extra count query; in that case `meta.totalCount` is `null`.
        - in: query
          name: filter[name][contains]
          schema:
            type: string
            maxLength: 512
          description: Case-insensitive substring match on survey name (same as in-app list filters).
        - in: query
          name: filter[status][in]
          schema:
            type: array
            items:
              type: string
              enum:
                - draft
                - inProgress
                - paused
                - completed
          style: form
          explode: true
          description: |
            Survey status filter. Repeat the parameter (`filter[status][in]=draft&filter[status][in]=inProgress`) or use comma-separated values (`filter[status][in]=draft,inProgress`). Invalid values → **400**.
        - in: query
          name: filter[type][in]
          schema:
            type: array
            items:
              type: string
              enum:
                - link
                - app
          style: form
          explode: true
          description: Survey type filter (`link` / `app`). Same repeat-or-comma rules as `filter[status][in]`.
        - in: query
          name: sortBy
          schema:
            type: string
            enum:
              - createdAt
              - updatedAt
              - name
              - relevance
          description: Sort order. Defaults to `updatedAt`. The `cursor` token is bound to the selected sort order.
      responses:
        '200':
          description: Surveys retrieved successfully
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Request correlation ID
            Cache-Control:
              schema:
                type: string
              example: private, no-store
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - meta
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SurveyListItem'
                  meta:
                    type: object
                    required:
                      - limit
                      - nextCursor
                      - totalCount
                    properties:
                      limit:
                        type: integer
                      nextCursor:
                        type:
                          - string
                          - 'null'
                        description: Opaque cursor for the next page. `null` when there are no more results.
                      totalCount:
                        type:
                          - integer
                          - 'null'
                        minimum: 0
                        description: Total number of surveys matching the current filters across all pages. `null` when `includeTotalCount=false`.
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '401':
          description: Not authenticated (no valid session or API key)
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '403':
          description: Forbidden — no access, or workspace does not exist (404 not used; avoids existence leak)
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '429':
          description: Rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
              description: Seconds until the current rate-limit window resets
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - sessionAuth: []
        - apiKeyAuth: []
    post:
      operationId: createSurveyV3
      summary: Create a survey
      description: |
        Creates a block-based survey template from one strict survey document. The endpoint accepts
        multilingual authoring maps keyed by real locale codes and converts them to Formbricks'
        internal default-language representation. Non-default locale keys in translated content
        must be declared in `languages`; undeclared locale keys return `unsupported_locale` in
        `invalid_params` instead of silently mutating workspace languages.

        `blocks[].id` and `variables[].id` are stable public identifiers. They may be omitted on
        create, in which case the server generates cuid2 ids. If the same create request needs to
        reference a block or variable from logic, provide explicit valid ids and use those references
        consistently.

        For normal sequential surveys, omit `logic` and `logicFallback`. `logicFallback` is only valid
        when the same block has at least one `logic` rule; otherwise the API returns
        `invalid_reference`.

        `type` may be omitted or set to `link` or `app`. App surveys additionally accept the `distribution` (display options + triggers) and `targeting` (contact segment filters) objects; both are rejected for link surveys. Trigger ids must reference existing workspace action classes (discover them via `GET /api/v3/action-classes`). Unsupported fields are rejected instead of ignored.
      tags:
        - V3 Surveys
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSurveyRequest'
            examples:
              productFeedback:
                summary: Create a multilingual block-based survey
                value:
                  workspaceId: clxx1234567890123456789012
                  name: Product Feedback Survey
                  status: draft
                  defaultLanguage: en-US
                  metadata:
                    cx_operation: enterprise_onboarding
                    title:
                      en-US: Product Feedback
                      de-DE: Produktfeedback
                  languages:
                    - code: de-DE
                      enabled: true
                  welcomeCard:
                    enabled: true
                    headline:
                      en-US: Welcome
                      de-DE: Willkommen
                  blocks:
                    - name: Main Block
                      elements:
                        - id: satisfaction
                          type: openText
                          headline:
                            en-US: What should we improve?
                            de-DE: Was sollen wir verbessern?
                          required: true
                  endings: []
                  hiddenFields:
                    enabled: false
                  variables: []
              appSurvey:
                summary: Create an in-app (app) survey with distribution and triggers
                description: |
                  App surveys are shown inside your web or mobile app. `distribution` controls display behavior and the action classes that trigger the survey (by id — discover ids via `GET /api/v3/action-classes`). `targeting.filters` scopes the audience; an empty array targets everyone. `type` is immutable after creation.
                value:
                  workspaceId: clxx1234567890123456789012
                  name: In-App Onboarding Feedback
                  type: app
                  status: draft
                  defaultLanguage: en-US
                  blocks:
                    - name: Onboarding
                      elements:
                        - id: onboarding_feedback
                          type: openText
                          headline:
                            en-US: How was your setup experience?
                          required: false
                  endings: []
                  hiddenFields:
                    enabled: false
                  variables: []
                  distribution:
                    displayOption: respondMultiple
                    recontactDays: 7
                    delay: 5
                    triggers:
                      - actionClassId: clyy1234567890123456789012
                  targeting:
                    filters:
                      - id: clf0aaaaaaaaaaaaaaaaaaaa01
                        connector: null
                        resource:
                          id: clf1aaaaaaaaaaaaaaaaaaaa01
                          root:
                            type: attribute
                            contactAttributeKey: plan
                          qualifier:
                            operator: equals
                          value: pro
                      - id: clf2aaaaaaaaaaaaaaaaaaaa01
                        connector: and
                        resource:
                          - id: clf3aaaaaaaaaaaaaaaaaaaa01
                            connector: null
                            resource:
                              id: clf4aaaaaaaaaaaaaaaaaaaa01
                              root:
                                type: attribute
                                contactAttributeKey: role
                              qualifier:
                                operator: equals
                              value: admin
                          - id: clf5aaaaaaaaaaaaaaaaaaaa01
                            connector: or
                            resource:
                              id: clf6aaaaaaaaaaaaaaaaaaaa01
                              root:
                                type: attribute
                                contactAttributeKey: role
                              qualifier:
                                operator: equals
                              value: owner
              sequentialProductSurvey:
                summary: Create a richer sequential survey without logicFallback
                description: |
                  Multi-block survey with generated block and variable ids. Sequential surveys should
                  omit `logic` and `logicFallback`; blocks are shown in array order.
                value:
                  workspaceId: clxx1234567890123456789012
                  name: Sequential Product Survey
                  defaultLanguage: en-US
                  languages:
                    - code: de-DE
                      enabled: true
                  metadata:
                    cx_operation: product_feedback
                    title:
                      en-US: Sequential Product Survey
                      de-DE: Sequenzielle Produktumfrage
                  welcomeCard:
                    enabled: true
                    headline:
                      en-US: Help us improve the product
                      de-DE: Hilf uns, das Produkt zu verbessern
                  hiddenFields:
                    enabled: true
                    fieldIds:
                      - account_id
                      - plan
                  variables:
                    - name: feedback_score
                      type: number
                      value: 0
                  blocks:
                    - name: Satisfaction
                      elements:
                        - id: overall_rating
                          type: rating
                          headline:
                            en-US: How satisfied are you with the product?
                            de-DE: Wie zufrieden bist du mit dem Produkt?
                          required: true
                          range: 5
                          scale: smiley
                        - id: product_area
                          type: multipleChoiceSingle
                          headline:
                            en-US: Which area should we improve first?
                            de-DE: Welchen Bereich sollten wir zuerst verbessern?
                          required: true
                          choices:
                            - id: onboarding
                              label:
                                en-US: Onboarding
                                de-DE: Onboarding
                            - id: analytics
                              label:
                                en-US: Analytics
                                de-DE: Analysen
                    - name: Feedback
                      elements:
                        - id: free_text_feedback
                          type: openText
                          headline:
                            en-US: What is one thing we should change?
                            de-DE: Was sollten wir ändern?
                          required: false
                          longAnswer: true
                  endings:
                    - id: cmpsequentialend0000000000
                      type: endScreen
                      headline:
                        en-US: Thanks for your feedback!
                        de-DE: Danke für dein Feedback!
      responses:
        '201':
          description: Survey created successfully
          headers:
            Location:
              schema:
                type: string
              description: Relative URL of the created survey resource.
              example: /api/v3/surveys/clsv1234567890123456789012
            X-Request-Id:
              schema:
                type: string
              description: Request correlation ID
            Cache-Control:
              schema:
                type: string
              example: private, no-store
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/SurveyResource'
        '400':
          description: |
            Bad Request — the document failed schema validation, i.e. any rule checkable from the request body alone, without consulting stored state. Covers: invalid JSON; unknown or unsupported fields (including `distribution`/`targeting` sent on a `link` survey, which are `app`-only); missing required fields; wrong types or out-of-range values; bad enum values; malformed multilingual maps; and intra-document field-combination rules — notably `displayPercentage` is required when `displayOption` is `displaySome` and forbidden otherwise. Cross-reference failures that need stored state to detect return **422** instead. Every offending field is itemized in `invalid_params`. Unknown, forbidden, or wrongly-combined fields carry `code: unsupported_field` (e.g. `distribution` on a link survey, or `displayPercentage` without `displayOption: displaySome`); omissions carry `code: missing_required_field` (e.g. `displayPercentage` when `displayOption` is `displaySome`). Bare type, range, enum, and malformed-locale-map violations report the field `name` with a human-readable `reason` and no machine `code`.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '401':
          description: Not authenticated (no valid session or API key)
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '403':
          description: Forbidden — no write access, missing external URL permission, missing Contacts entitlement for app-survey targeting, or workspace does not exist (404 not used; avoids existence leak)
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '422':
          description: 'Unprocessable Content — the document passed schema validation but failed a cross-reference check that requires stored state to detect: duplicate stable ids, dangling logic/jump references, undeclared locale keys used in content, invalid media URLs, or a `distribution.triggers[].actionClassId` referencing an action class that does not exist in the workspace (discover valid ids via `GET /api/v3/action-classes`). The `invalid_params` array pinpoints each issue (e.g. `code: invalid_reference` with the offending `identifier`).'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '429':
          description: Rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
              description: Seconds until the current rate-limit window resets
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - sessionAuth: []
        - apiKeyAuth: []
  /api/v3/surveys/generate:
    post:
      operationId: generateSurveyV3
      summary: Create a survey draft payload with AI
      description: |
        Creates a strict v3 `POST /api/v3/surveys` create payload from a creator prompt and returns
        validation metadata. This endpoint is single-purpose: it does **not** persist the survey.
        Clients should validate the returned payload with `/api/v3/surveys/validate` or use the
        embedded validation metadata, then create the draft through `POST /api/v3/surveys`.

        The generated payload always sets `status: draft`. Both `type: link` and `type: app` are
        supported; for `app`, the payload includes a default `distribution` (display once, no triggers,
        no targeting) that you finish configuring in the editor or via the create request.

        Prompt privacy: prompt text is sent to the configured AI provider to create the payload, but
        this endpoint does not store prompts and server logs should use request ids and failure
        categories instead of raw prompt content.
      tags:
        - V3 Surveys
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateSurveyRequest'
            examples:
              onboarding:
                summary: Create a link survey draft
                value:
                  workspaceId: clxx1234567890123456789012
                  type: link
                  language: en-US
                  prompt: Understand why new users stop during onboarding and what would help them finish setup.
      responses:
        '200':
          description: Survey create payload generated successfully. The survey has not been created yet.
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Request correlation ID
            Cache-Control:
              schema:
                type: string
              example: private, no-store
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/GenerateSurveyResult'
              examples:
                generated:
                  summary: Generated draft create payload
                  value:
                    data:
                      language: en-US
                      payload:
                        workspaceId: clxx1234567890123456789012
                        type: link
                        name: Onboarding Completion Survey
                        status: draft
                        defaultLanguage: en-US
                        languages:
                          - code: en-US
                            default: true
                            enabled: true
                        metadata:
                          title:
                            en-US: Onboarding Completion Survey
                        welcomeCard:
                          enabled: false
                        blocks:
                          - id: clbk1234567890123456789012
                            name: Main
                            elements:
                              - id: q_1_example
                                type: openText
                                headline:
                                  en-US: What made onboarding hard to complete?
                                required: false
                                isDraft: true
                                inputType: text
                                longAnswer: false
                                charLimit:
                                  enabled: false
                        endings:
                          - id: clen1234567890123456789012
                            type: endScreen
                            headline:
                              en-US: Thanks for your feedback
                        hiddenFields:
                          enabled: false
                        variables: []
                      validation:
                        valid: true
                        invalid_params: []
                        languages:
                          - code: en-US
                            default: true
                            enabled: true
        '400':
          description: Malformed body or a prompt that is too short or underspecified
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                shortPrompt:
                  summary: Prompt needs more detail
                  value:
                    title: Bad Request
                    status: 400
                    detail: Prompt needs more detail
                    code: bad_request
                    requestId: req_123
                    invalid_params:
                      - name: prompt
                        reason: Describe the survey goal, audience, or topic in a sentence so the AI can create a useful draft.
        '401':
          description: Not authenticated (no valid session or API key)
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '403':
          description: Forbidden — no write access, workspace does not exist, AI is not in plan, or AI smart tools are disabled
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                noWorkspaceWriteAccess:
                  summary: No workspace write access
                  value:
                    title: Forbidden
                    status: 403
                    detail: You are not authorized to access this resource
                    code: forbidden
                    requestId: req_123
                aiDisabled:
                  summary: AI smart tools disabled
                  value:
                    title: AI Unavailable
                    status: 403
                    detail: AI smart tools are disabled for this organization.
                    code: ai_smart_tools_disabled
                    requestId: req_123
                aiNotInPlan:
                  summary: AI features not enabled for the plan
                  value:
                    title: AI Unavailable
                    status: 403
                    detail: AI features are not enabled for this organization's plan.
                    code: ai_features_not_enabled
                    requestId: req_123
        '422':
          description: AI generated an invalid payload after schema and v3 create validation
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                invalidGeneratedPayload:
                  summary: Invalid generated payload
                  value:
                    title: Unprocessable Content
                    status: 422
                    detail: 'Generated survey payload is invalid: generatedSurvey.blocks: Too small'
                    code: ai_generated_payload_invalid
                    requestId: req_123
                    invalid_params:
                      - name: generatedSurvey.blocks
                        reason: Too small
        '429':
          description: Rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
              description: Seconds until the current rate-limit window resets
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '502':
          description: The configured AI provider failed or could not produce a valid draft
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                providerFailed:
                  summary: AI provider failed
                  value:
                    title: Bad Gateway
                    status: 502
                    detail: The AI provider could not generate a valid survey draft. Try again or add more detail.
                    code: bad_gateway
                    requestId: req_123
        '503':
          description: AI is not configured on this Formbricks instance
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                instanceNotConfigured:
                  summary: AI instance configuration missing
                  value:
                    title: AI Unavailable
                    status: 503
                    detail: AI is not configured for this Formbricks instance.
                    code: ai_instance_not_configured
                    requestId: req_123
      security:
        - sessionAuth: []
        - apiKeyAuth: []
  /api/v3/surveys/validate:
    post:
      operationId: validateSurveyV3
      summary: Validate a survey document
      description: |
        Validates a future create or patch survey payload without writing data, creating languages,
        or creating survey versions. Invalid survey documents return `200` with `data.valid=false`
        so agents and MCP clients can repair payloads from structured `invalid_params`.

        Use `400` only for malformed validation envelopes, unsupported operations, invalid `surveyId`,
        or unsupported query parameters.
      tags:
        - V3 Surveys
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateSurveyRequest'
            examples:
              createValidation:
                summary: Validate a create payload
                value:
                  operation: create
                  data:
                    workspaceId: clxx1234567890123456789012
                    name: Product Feedback Survey
                    defaultLanguage: en-US
                    blocks:
                      - id: clbk1234567890123456789012
                        name: Main Block
                        elements:
                          - id: satisfaction
                            type: openText
                            headline:
                              en-US: What should we improve?
                            required: true
              patchValidation:
                summary: Validate a patch payload
                value:
                  operation: patch
                  surveyId: clsv1234567890123456789012
                  data:
                    blocks:
                      - id: clbk1234567890123456789012
                        name: Main Block
                        elements:
                          - id: satisfaction
                            type: openText
                            headline:
                              en-US: What should we improve?
                            required: true
      responses:
        '200':
          description: Validation completed. The survey document may still be invalid.
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Request correlation ID
            Cache-Control:
              schema:
                type: string
              example: private, no-store
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/SurveyValidationResult'
              examples:
                invalid:
                  summary: Invalid survey document
                  value:
                    data:
                      valid: false
                      operation: create
                      invalid_params:
                        - name: blocks.0.elements.0.buttonUrl
                          reason: Unsupported field 'buttonUrl' for element type 'openText'. Allowed fields...
                valid:
                  summary: Valid survey document
                  value:
                    data:
                      valid: true
                      operation: create
                      invalid_params: []
                      languages:
                        - code: en-US
                          default: true
                          enabled: true
                          writeBehavior: connect_or_create
        '400':
          description: Malformed validation envelope, invalid route/query data, or unsupported operation
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '401':
          description: Not authenticated (no valid session or API key)
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '403':
          description: Forbidden — no write access, or survey/workspace does not exist
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '429':
          description: Rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
              description: Seconds until the current rate-limit window resets
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - sessionAuth: []
        - apiKeyAuth: []
  /api/v3/surveys/{surveyId}:
    get:
      operationId: getSurveyV3
      summary: Retrieve a survey
      description: |
        Returns the public v3 survey management resource for one survey. By default, translatable
        fields are returned as stable multilingual maps keyed by the language codes emitted in
        `languages[].code`. Use `lang` to filter those maps to one or more requested language selectors.
      tags:
        - V3 Surveys
      parameters:
        - in: path
          name: surveyId
          required: true
          schema:
            type: string
            format: cuid2
          description: Survey identifier.
        - in: query
          name: lang
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
            examples:
              - - de-DE
              - - de-DE
                - pt-PT
              - - de
              - - zh-Hans
              - - zh-Hans-CN
          description: |
            Comma-separated language selector filter for translatable fields, for example `?lang=de-DE,pt-PT`.
            The response shape stays stable: translatable fields are always maps, never strings, and response
            keys match the emitted `languages[].code` values for this survey.
            For compatibility with existing Formbricks surveys, GET accepts language tags such as `de`,
            `de-DE`, `zh-Hans`, and `zh-Hans-CN`, accepts `_` or `-` separators, is case-insensitive, and
            accepts configured workspace aliases such as `english`. Bare language selectors are resolved
            against the survey's configured languages and return `400` if ambiguous, for example if both
            `en-US` and `en-GB` are configured.
            Disabled-but-configured languages are readable in the management API so unfinished translations can
            be completed.
      responses:
        '200':
          description: Survey retrieved successfully
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Request correlation ID
            Cache-Control:
              schema:
                type: string
              example: private, no-store
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/SurveyResource'
              examples:
                multilingual:
                  summary: Multilingual authoring resource
                  value:
                    data:
                      id: clseedsurveycsat000000
                      workspaceId: clseedworkspace000000000
                      createdAt: '2026-05-18T09:24:54.014Z'
                      updatedAt: '2026-05-18T09:24:54.014Z'
                      name: CSAT Survey
                      type: link
                      status: inProgress
                      metadata: {}
                      defaultLanguage: en-US
                      languages:
                        - code: en-US
                          default: true
                          enabled: true
                        - code: de-DE
                          alias: german
                          default: false
                          enabled: false
                      welcomeCard:
                        enabled: false
                      blocks:
                        - id: e0tfwzqk63op37y14z95qq3k
                          name: Main Block
                          elements:
                            - id: nzte4cm8836hgjw63pesziht
                              type: rating
                              range: 5
                              scale: smiley
                              headline:
                                en-US: How satisfied are you with our product?
                                de-DE: Wie zufrieden sind Sie mit unserem Produkt?
                              required: true
                      endings: []
                      hiddenFields:
                        enabled: false
                      variables: []
                filtered:
                  summary: Language-filtered projection with ?lang=de-DE
                  value:
                    data:
                      id: clseedsurveycsat000000
                      workspaceId: clseedworkspace000000000
                      createdAt: '2026-05-18T09:24:54.014Z'
                      updatedAt: '2026-05-18T09:24:54.014Z'
                      name: CSAT Survey
                      type: link
                      status: inProgress
                      metadata: {}
                      defaultLanguage: en-US
                      languages:
                        - code: en-US
                          default: true
                          enabled: true
                        - code: de-DE
                          alias: german
                          default: false
                          enabled: false
                      welcomeCard:
                        enabled: false
                      blocks:
                        - id: e0tfwzqk63op37y14z95qq3k
                          name: Main Block
                          elements:
                            - id: nzte4cm8836hgjw63pesziht
                              type: rating
                              range: 5
                              scale: smiley
                              headline:
                                de-DE: Wie zufrieden sind Sie mit unserem Produkt?
                              required: true
                      endings: []
                      hiddenFields:
                        enabled: false
                      variables: []
        '400':
          description: Invalid survey id, unsupported query parameter, unknown language, or unsupported legacy survey shape
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '401':
          description: Not authenticated (no valid session or API key)
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '403':
          description: Forbidden — no access, or survey does not exist (404 not used; avoids existence leak)
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '429':
          description: Rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
              description: Seconds until the current rate-limit window resets
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - sessionAuth: []
        - apiKeyAuth: []
    patch:
      operationId: patchSurveyV3
      summary: Update a survey
      description: |
        Updates a survey through a strict top-level partial document. Omitted top-level fields are
        preserved. Provided top-level objects and arrays replace that whole subtree; this endpoint
        does not deep-merge nested objects and does not implement JSON Patch.

        This write endpoint accepts the canonical multilingual authoring document only. Translatable
        fields must be locale-code maps, not strings. `PATCH ?lang=...` and `?version=...` are not
        supported in Scope 1.

        For MCP and AI-agent workflows, fetch the current survey first, modify only the intended
        top-level fields, call `/api/v3/surveys/validate` with `operation: patch` for preflight, then
        submit the same patch here. Missing ids in replaced arrays are treated as deletions. Variable
        name renames are allowed but may be destructive for downstream exports or integrations.
        Element id changes are rejected once the survey and element are no longer drafts.

        Optimistic concurrency (`ETag`, `If-Match`, or revision tokens) is future work; until then,
        overlapping writes are last-write-wins.
      tags:
        - V3 Surveys
      parameters:
        - in: path
          name: surveyId
          required: true
          schema:
            type: string
            format: cuid2
          description: Survey identifier.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchSurveyRequest'
            examples:
              renameSurvey:
                summary: Rename a survey
                value:
                  name: Updated Product Feedback
              replaceMetadata:
                summary: Replace metadata
                value:
                  metadata:
                    title:
                      en-US: Product Feedback
                      de-DE: Produktfeedback
                    cx_operation: product_feedback
              replaceBlocks:
                summary: Replace survey blocks
                value:
                  blocks:
                    - id: clbk1234567890123456789012
                      name: Main Block
                      elements:
                        - id: satisfaction
                          type: rating
                          headline:
                            en-US: How satisfied are you?
                            de-DE: Wie zufrieden sind Sie?
                          required: true
                          range: 5
                          scale: smiley
      responses:
        '200':
          description: Survey updated successfully
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Request correlation ID
            Cache-Control:
              schema:
                type: string
              example: private, no-store
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/SurveyResource'
        '400':
          description: |
            Bad Request — the patch failed schema validation, i.e. any rule checkable from the request body alone, without consulting stored state. Covers: malformed JSON; an unsupported query parameter; unknown, unsupported, or immutable fields (`type` cannot be changed after creation, and `distribution`/`targeting` are `app`-only — sending them when patching a `link` survey is rejected); wrong types or out-of-range values; bad enum values; malformed multilingual maps; and intra-document field-combination rules — notably `displayPercentage` is required when `displayOption` is `displaySome` and forbidden otherwise. Cross-reference failures that need stored state to detect return **422** instead. Every offending field is itemized in `invalid_params`. Unknown, forbidden, immutable, or wrongly-combined fields carry `code: unsupported_field` (e.g. `type`, or `distribution`/`targeting` on a link survey); omissions carry `code: missing_required_field`. Bare type, range, enum, and malformed-locale-map violations report the field `name` with a human-readable `reason` and no machine `code`.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '401':
          description: Not authenticated (no valid session or API key)
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '403':
          description: Forbidden — no write access, missing external URL permission, missing Contacts entitlement for app-survey targeting, or survey does not exist (404 not used; avoids existence leak)
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '422':
          description: 'Unprocessable Content — the patched document passed schema validation but failed a cross-reference check that requires stored state to detect: an undeclared locale key used in content, a duplicate stable id, an immutable element-id change on a published survey, a dangling logic/jump reference, an invalid media URL, or a `distribution.triggers[].actionClassId` referencing an action class that does not exist in the workspace (discover valid ids via `GET /api/v3/action-classes`). The `invalid_params` array pinpoints each issue (e.g. `code: invalid_reference` with the offending `identifier`).'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '429':
          description: Rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
              description: Seconds until the current rate-limit window resets
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - sessionAuth: []
        - apiKeyAuth: []
    delete:
      operationId: deleteSurveyV3
      summary: Delete a survey
      description: Deletes a survey by id. Session cookie or x-api-key.
      tags:
        - V3 Surveys
      parameters:
        - in: path
          name: surveyId
          required: true
          schema:
            type: string
            format: cuid2
          description: Survey identifier.
      responses:
        '204':
          description: Survey deleted successfully
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Request correlation ID
            Cache-Control:
              schema:
                type: string
              example: private, no-store
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '401':
          description: Not authenticated (no valid session or API key)
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '403':
          description: Forbidden — no access, or survey does not exist (404 not used; avoids existence leak)
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '429':
          description: Rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
              description: Seconds until the current rate-limit window resets
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - sessionAuth: []
        - apiKeyAuth: []
  /api/v3/action-classes:
    get:
      operationId: listActionClassesV3
      summary: List action classes
      description: |
        Returns the action classes (user actions that can trigger an app survey) for a workspace. Use
        the returned ids as `distribution.triggers[].actionClassId` when creating or updating app
        surveys. Read-only: this v3 endpoint lists action classes but does not create them — action
        classes are managed in the Formbricks app (Actions settings) or via the v1/v2 management API.

        An empty `data` array means the workspace has no action classes yet. Triggers are optional, so
        you can still create an app survey with `distribution.triggers: []` (or omit `distribution`
        entirely) and attach triggers later via `PATCH` once an action class exists. Session cookie or
        x-api-key.
      tags:
        - V3 Action Classes
      parameters:
        - in: query
          name: workspaceId
          required: true
          schema:
            type: string
            format: cuid2
          description: |
            Workspace identifier. This is the canonical container ID for v3 APIs.
      responses:
        '200':
          description: Action classes retrieved successfully
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Request correlation ID
            Cache-Control:
              schema:
                type: string
              example: private, no-store
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ActionClassResource'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '401':
          description: Not authenticated (no valid session or API key)
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '403':
          description: Forbidden — no access, or workspace does not exist (404 not used; avoids existence leak)
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '429':
          description: Rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
              description: Seconds until the current rate-limit window resets
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - sessionAuth: []
        - apiKeyAuth: []
  /api/v3/contact-attribute-keys:
    get:
      operationId: listContactAttributeKeysV3
      summary: List contact attribute keys
      description: |
        Returns the contact attribute keys for a workspace. Use the returned `key` values as
        `targeting.filters[].root.contactAttributeKey` when targeting app surveys; `dataType` hints which
        operators apply. Session cookie or x-api-key. (Applying targeting filters requires the Contacts
        entitlement; this discovery endpoint does not.)
      tags:
        - V3 Contact Attribute Keys
      parameters:
        - in: query
          name: workspaceId
          required: true
          schema:
            type: string
            format: cuid2
          description: |
            Workspace identifier. This is the canonical container ID for v3 APIs.
      responses:
        '200':
          description: Contact attribute keys retrieved successfully
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Request correlation ID
            Cache-Control:
              schema:
                type: string
              example: private, no-store
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ContactAttributeKeyResource'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '401':
          description: Not authenticated (no valid session or API key)
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '403':
          description: Forbidden — no access, or workspace does not exist (404 not used; avoids existence leak)
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '429':
          description: Rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
              description: Seconds until the current rate-limit window resets
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - sessionAuth: []
        - apiKeyAuth: []
components:
  securitySchemes:
    sessionAuth:
      type: apiKey
      in: cookie
      name: next-auth.session-token
      description: |
        NextAuth session JWT cookie. **Development:** often `next-auth.session-token`.
        **Production (HTTPS):** often `__Secure-next-auth.session-token`. Send the cookie your browser receives after sign-in.
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: |
        Management API key; must include **workspaceId** as an allowed workspace with read, write, or manage permission.
  schemas:
    SurveyListItem:
      type: object
      description: |
        Shape returned by `GET /api/v3/surveys`. Serialized dates are ISO 8601 strings.
        The v3 overview contract intentionally omits internal fields such as `_count`.
        Legacy DB rows may include survey **type** values `website` or `web` (see Prisma); filter **type** only accepts `link` | `app`.
      required:
        - id
        - name
        - workspaceId
        - type
        - status
        - publishOn
        - createdAt
        - updatedAt
        - responseCount
        - creator
      properties:
        id:
          type: string
        name:
          type: string
        workspaceId:
          type: string
        type:
          type: string
          enum:
            - link
            - app
            - website
            - web
        status:
          type: string
          enum:
            - draft
            - inProgress
            - paused
            - completed
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        publishOn:
          type:
            - string
            - 'null'
          format: date-time
          description: Scheduled publish time (ISO 8601), or null if not scheduled.
        responseCount:
          type: integer
        creator:
          type:
            - object
            - 'null'
          description: The user who created the survey, or null for API-key/system-created surveys.
          properties:
            name:
              type: string
    InvalidParam:
      type: object
      description: |
        Field-level validation error. `name` and `reason` are always intended for humans.
        Optional machine-readable fields are included when the API can identify the semantic error,
        especially for survey locale, identifier, and reference validation used by MCP and agent clients.
      required:
        - name
        - reason
      properties:
        name:
          type: string
          description: Dot-path to the invalid request field.
        reason:
          type: string
          description: Human-readable repair guidance.
        code:
          type: string
          enum:
            - dangling_reference
            - duplicate_identifier
            - duplicate_locale
            - forbidden_identifier
            - immutable_identifier
            - invalid_locale
            - invalid_reference
            - missing_required_field
            - missing_translation
            - unsupported_field
            - unsupported_locale
          description: Machine-readable validation category, when available.
        identifier:
          type: string
          description: Identifier involved in the validation failure, when available. For language errors, this can be the normalized language code.
        referenceType:
          type: string
          enum:
            - block
            - element
            - ending
            - hiddenField
            - language
            - variable
            - variableName
            - recall
          description: Identifier namespace involved in the validation failure.
        missingId:
          type: string
          description: Referenced id that does not exist in the submitted survey document.
        firstUsedAt:
          type: string
          description: Dot-path where a duplicate identifier was first used.
        conflictsWith:
          type: string
          description: Dot-path to the existing identifier that conflicts with this field.
      additionalProperties: false
    Problem:
      type: object
      description: RFC 9457 Problem Details for HTTP APIs (`application/problem+json`). Responses typically include a machine-readable `code` field alongside `title`, `status`, `detail`, and `requestId`.
      required:
        - title
        - status
        - detail
        - requestId
      properties:
        type:
          type: string
          format: uri
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
        instance:
          type: string
        code:
          type: string
          enum:
            - ai_features_not_enabled
            - ai_generated_payload_invalid
            - ai_instance_not_configured
            - ai_smart_tools_disabled
            - bad_gateway
            - bad_request
            - forbidden
            - internal_server_error
            - not_authenticated
            - not_found
            - payload_too_large
            - too_many_requests
            - unprocessable_content
        requestId:
          type: string
        details:
          type: object
        invalid_params:
          type: array
          items:
            $ref: '#/components/schemas/InvalidParam'
    TranslatableTextMap:
      type: object
      description: Multilingual text map keyed by the emitted `languages[].code` values for this survey.
      propertyNames:
        type: string
        description: Survey language code/tag, for example `en-US`, `de-DE`, `vi`, or `zh-Hans`.
      additionalProperties:
        type: string
    TranslatableText:
      allOf:
        - $ref: '#/components/schemas/TranslatableTextMap'
      description: |
        Survey authoring text. `GET /api/v3/surveys/{surveyId}` always returns maps keyed by the emitted
        `languages[].code` values for this survey. Use `?lang=` to filter which language keys are included.
        The internal storage key `default` is never exposed by v3.
      examples:
        - en-US: What should we improve?
          de-DE: Was sollten wir verbessern?
    SurveyMetadata:
      type: object
      description: |
        Arbitrary JSON survey context for customer- or operation-specific metadata. v3 preserves
        arbitrary metadata values as-is. If present, `title` and `description` are treated as
        translatable text maps and returned with real locale-code keys.
      properties:
        title:
          $ref: '#/components/schemas/TranslatableText'
        description:
          $ref: '#/components/schemas/TranslatableText'
      additionalProperties: true
    LocaleCode:
      type: string
      pattern: ^[a-z]{2}(?:-[A-Z][a-z]{3})?(?:-[A-Z]{2})?$
      description: Locale code accepted by v3 survey APIs. The region subtag is optional, so both full codes (`en-US`, `de-DE`, `zh-Hans-CN`) and language-only / script-only codes (`vi`, `zh-Hans`) are accepted; codes are normalized server-side.
      example: en-US
    CreateSurveyLanguage:
      type: object
      description: Language to connect to the created survey. `default`, if provided, must match `defaultLanguage`.
      required:
        - code
      properties:
        code:
          $ref: '#/components/schemas/LocaleCode'
        default:
          type: boolean
          description: Optional marker for readability; only the `defaultLanguage` entry may set this to true.
        enabled:
          type: boolean
          default: true
          description: Whether this language is enabled for respondent-facing delivery.
      additionalProperties: false
    SurveyWelcomeCard:
      type: object
      description: Optional card shown before the first survey block.
      required:
        - enabled
      properties:
        enabled:
          type: boolean
        headline:
          $ref: '#/components/schemas/TranslatableText'
        subheader:
          $ref: '#/components/schemas/TranslatableText'
        buttonLabel:
          $ref: '#/components/schemas/TranslatableText'
        fileUrl:
          type: string
        videoUrl:
          type: string
        timeToFinish:
          type: boolean
        showResponseCount:
          type: boolean
      additionalProperties: false
    SurveyElementBase:
      type: object
      required:
        - id
        - type
        - headline
        - required
      properties:
        id:
          type: string
          pattern: ^[a-zA-Z0-9_-]+$
          description: Stable element id. Avoid spaces and reserved ids.
        type:
          type: string
          enum:
            - openText
            - multipleChoiceSingle
            - multipleChoiceMulti
            - nps
            - rating
            - csat
            - ces
            - consent
            - pictureSelection
            - cta
            - date
            - fileUpload
            - cal
            - matrix
            - address
            - ranking
            - contactInfo
        headline:
          $ref: '#/components/schemas/TranslatableText'
        subheader:
          $ref: '#/components/schemas/TranslatableText'
        required:
          type: boolean
        imageUrl:
          type: string
        videoUrl:
          type: string
        isDraft:
          type: boolean
          description: Draft marker used by the editor and future update rules.
    SurveyCharLimit:
      type: object
      description: Optional `openText` character limit configuration.
      properties:
        enabled:
          type: boolean
          default: false
        min:
          type: number
        max:
          type: number
      additionalProperties: false
    SurveyValidationRule:
      type: object
      required:
        - id
        - type
        - params
      properties:
        id:
          type: string
        type:
          type: string
          enum:
            - minLength
            - maxLength
            - pattern
            - email
            - url
            - phone
            - equals
            - doesNotEqual
            - contains
            - doesNotContain
            - minValue
            - maxValue
            - isGreaterThan
            - isLessThan
            - minSelections
            - maxSelections
            - minRanked
            - rankAll
            - minRowsAnswered
            - answerAllRows
            - isLaterThan
            - isEarlierThan
            - isBetween
            - isNotBetween
            - fileExtensionIs
            - fileExtensionIsNot
        params:
          type: object
          additionalProperties: true
        field:
          type: string
          enum:
            - addressLine1
            - addressLine2
            - city
            - state
            - zip
            - country
            - firstName
            - lastName
            - email
            - phone
            - company
      additionalProperties: false
    SurveyValidation:
      type: object
      description: Optional element-level validation rules.
      required:
        - rules
      properties:
        logic:
          type: string
          enum:
            - and
            - or
          default: and
        rules:
          type: array
          items:
            $ref: '#/components/schemas/SurveyValidationRule'
      additionalProperties: false
    SurveyOpenTextElement:
      allOf:
        - $ref: '#/components/schemas/SurveyElementBase'
        - type: object
          properties:
            type:
              type: string
              enum:
                - openText
            placeholder:
              $ref: '#/components/schemas/TranslatableText'
            longAnswer:
              type: boolean
            inputType:
              type: string
              enum:
                - text
                - email
                - url
                - number
                - phone
              default: text
            insightsEnabled:
              type: boolean
              default: false
            charLimit:
              $ref: '#/components/schemas/SurveyCharLimit'
            validation:
              $ref: '#/components/schemas/SurveyValidation'
      unevaluatedProperties: false
    SurveyConsentElement:
      allOf:
        - $ref: '#/components/schemas/SurveyElementBase'
        - type: object
          required:
            - label
          properties:
            type:
              type: string
              enum:
                - consent
            label:
              $ref: '#/components/schemas/TranslatableText'
            validation:
              $ref: '#/components/schemas/SurveyValidation'
      unevaluatedProperties: false
    SurveyChoice:
      type: object
      required:
        - id
        - label
      properties:
        id:
          type: string
          description: Stable choice id.
        label:
          $ref: '#/components/schemas/TranslatableText'
      additionalProperties: false
    SurveyShuffleOption:
      type: string
      enum:
        - none
        - all
        - exceptLast
        - reverseOrderOccasionally
        - reverseOrderExceptLast
    SurveyMultipleChoiceDisplayType:
      type: string
      enum:
        - list
        - dropdown
    SurveyMultipleChoiceSingleElement:
      allOf:
        - $ref: '#/components/schemas/SurveyElementBase'
        - type: object
          required:
            - choices
          properties:
            type:
              type: string
              enum:
                - multipleChoiceSingle
            choices:
              type: array
              minItems: 2
              items:
                $ref: '#/components/schemas/SurveyChoice'
            shuffleOption:
              $ref: '#/components/schemas/SurveyShuffleOption'
            otherOptionPlaceholder:
              $ref: '#/components/schemas/TranslatableText'
            displayType:
              $ref: '#/components/schemas/SurveyMultipleChoiceDisplayType'
      unevaluatedProperties: false
    SurveyMultipleChoiceMultiElement:
      allOf:
        - $ref: '#/components/schemas/SurveyElementBase'
        - type: object
          required:
            - choices
          properties:
            type:
              type: string
              enum:
                - multipleChoiceMulti
            choices:
              type: array
              minItems: 2
              items:
                $ref: '#/components/schemas/SurveyChoice'
            shuffleOption:
              $ref: '#/components/schemas/SurveyShuffleOption'
            otherOptionPlaceholder:
              $ref: '#/components/schemas/TranslatableText'
            validation:
              $ref: '#/components/schemas/SurveyValidation'
            displayType:
              $ref: '#/components/schemas/SurveyMultipleChoiceDisplayType'
      unevaluatedProperties: false
    SurveyNpsElement:
      allOf:
        - $ref: '#/components/schemas/SurveyElementBase'
        - type: object
          properties:
            type:
              type: string
              enum:
                - nps
            lowerLabel:
              $ref: '#/components/schemas/TranslatableText'
            upperLabel:
              $ref: '#/components/schemas/TranslatableText'
            isColorCodingEnabled:
              type: boolean
              default: false
      unevaluatedProperties: false
    SurveyCtaElement:
      allOf:
        - $ref: '#/components/schemas/SurveyElementBase'
        - type: object
          description: If `buttonExternal` is true, `buttonUrl` and `ctaButtonLabel` are required.
          properties:
            type:
              type: string
              enum:
                - cta
            buttonExternal:
              type: boolean
              default: false
            buttonUrl:
              type: string
            ctaButtonLabel:
              $ref: '#/components/schemas/TranslatableText'
        - if:
            required:
              - buttonExternal
            properties:
              buttonExternal:
                const: true
          then:
            required:
              - buttonUrl
              - ctaButtonLabel
      unevaluatedProperties: false
    SurveyRatingElement:
      allOf:
        - $ref: '#/components/schemas/SurveyElementBase'
        - type: object
          required:
            - scale
            - range
          properties:
            type:
              type: string
              enum:
                - rating
            scale:
              type: string
              enum:
                - number
                - smiley
                - star
            range:
              type: integer
              enum:
                - 3
                - 4
                - 5
                - 6
                - 7
                - 10
            lowerLabel:
              $ref: '#/components/schemas/TranslatableText'
            upperLabel:
              $ref: '#/components/schemas/TranslatableText'
            isColorCodingEnabled:
              type: boolean
              default: false
      unevaluatedProperties: false
    SurveyPictureChoice:
      type: object
      required:
        - id
        - imageUrl
      properties:
        id:
          type: string
          description: Stable picture choice id.
        imageUrl:
          type: string
      additionalProperties: false
    SurveyPictureSelectionElement:
      allOf:
        - $ref: '#/components/schemas/SurveyElementBase'
        - type: object
          required:
            - choices
          properties:
            type:
              type: string
              enum:
                - pictureSelection
            allowMulti:
              type: boolean
              default: false
            choices:
              type: array
              minItems: 2
              items:
                $ref: '#/components/schemas/SurveyPictureChoice'
            validation:
              $ref: '#/components/schemas/SurveyValidation'
      unevaluatedProperties: false
    SurveyDateElement:
      allOf:
        - $ref: '#/components/schemas/SurveyElementBase'
        - type: object
          required:
            - format
          properties:
            type:
              type: string
              enum:
                - date
            html:
              $ref: '#/components/schemas/TranslatableText'
            format:
              type: string
              enum:
                - M-d-y
                - d-M-y
                - y-M-d
            validation:
              $ref: '#/components/schemas/SurveyValidation'
      unevaluatedProperties: false
    SurveyFileUploadElement:
      allOf:
        - $ref: '#/components/schemas/SurveyElementBase'
        - type: object
          required:
            - allowMultipleFiles
          properties:
            type:
              type: string
              enum:
                - fileUpload
            allowMultipleFiles:
              type: boolean
            maxSizeInMB:
              type: number
            allowedFileExtensions:
              type: array
              items:
                type: string
            validation:
              $ref: '#/components/schemas/SurveyValidation'
      unevaluatedProperties: false
    SurveyCalElement:
      allOf:
        - $ref: '#/components/schemas/SurveyElementBase'
        - type: object
          required:
            - calUserName
          properties:
            type:
              type: string
              enum:
                - cal
            calUserName:
              type: string
              minLength: 1
            calHost:
              type: string
      unevaluatedProperties: false
    SurveyMatrixElement:
      allOf:
        - $ref: '#/components/schemas/SurveyElementBase'
        - type: object
          required:
            - rows
            - columns
          properties:
            type:
              type: string
              enum:
                - matrix
            rows:
              type: array
              items:
                $ref: '#/components/schemas/SurveyChoice'
            columns:
              type: array
              items:
                $ref: '#/components/schemas/SurveyChoice'
            shuffleOption:
              $ref: '#/components/schemas/SurveyShuffleOption'
            validation:
              $ref: '#/components/schemas/SurveyValidation'
      unevaluatedProperties: false
    SurveyToggleInputConfig:
      type: object
      description: Field config for address and contact info elements.
      required:
        - show
        - required
        - placeholder
      properties:
        show:
          type: boolean
        required:
          type: boolean
        placeholder:
          $ref: '#/components/schemas/TranslatableText'
      additionalProperties: false
    SurveyAddressElement:
      allOf:
        - $ref: '#/components/schemas/SurveyElementBase'
        - type: object
          required:
            - addressLine1
            - addressLine2
            - city
            - state
            - zip
            - country
          properties:
            type:
              type: string
              enum:
                - address
            addressLine1:
              $ref: '#/components/schemas/SurveyToggleInputConfig'
            addressLine2:
              $ref: '#/components/schemas/SurveyToggleInputConfig'
            city:
              $ref: '#/components/schemas/SurveyToggleInputConfig'
            state:
              $ref: '#/components/schemas/SurveyToggleInputConfig'
            zip:
              $ref: '#/components/schemas/SurveyToggleInputConfig'
            country:
              $ref: '#/components/schemas/SurveyToggleInputConfig'
            validation:
              $ref: '#/components/schemas/SurveyValidation'
      unevaluatedProperties: false
    SurveyRankingElement:
      allOf:
        - $ref: '#/components/schemas/SurveyElementBase'
        - type: object
          required:
            - choices
          properties:
            type:
              type: string
              enum:
                - ranking
            choices:
              type: array
              minItems: 2
              maxItems: 25
              items:
                $ref: '#/components/schemas/SurveyChoice'
            otherOptionPlaceholder:
              $ref: '#/components/schemas/TranslatableText'
            shuffleOption:
              $ref: '#/components/schemas/SurveyShuffleOption'
            validation:
              $ref: '#/components/schemas/SurveyValidation'
      unevaluatedProperties: false
    SurveyContactInfoElement:
      allOf:
        - $ref: '#/components/schemas/SurveyElementBase'
        - type: object
          required:
            - firstName
            - lastName
            - email
            - phone
            - company
          properties:
            type:
              type: string
              enum:
                - contactInfo
            firstName:
              $ref: '#/components/schemas/SurveyToggleInputConfig'
            lastName:
              $ref: '#/components/schemas/SurveyToggleInputConfig'
            email:
              $ref: '#/components/schemas/SurveyToggleInputConfig'
            phone:
              $ref: '#/components/schemas/SurveyToggleInputConfig'
            company:
              $ref: '#/components/schemas/SurveyToggleInputConfig'
            validation:
              $ref: '#/components/schemas/SurveyValidation'
      unevaluatedProperties: false
    SurveyCsatElement:
      allOf:
        - $ref: '#/components/schemas/SurveyElementBase'
        - type: object
          required:
            - scale
            - range
          properties:
            type:
              type: string
              enum:
                - csat
            scale:
              type: string
              enum:
                - number
                - smiley
                - star
            range:
              type: integer
              enum:
                - 5
            lowerLabel:
              $ref: '#/components/schemas/TranslatableText'
            upperLabel:
              $ref: '#/components/schemas/TranslatableText'
            isColorCodingEnabled:
              type: boolean
              default: false
      unevaluatedProperties: false
    SurveyCesElement:
      allOf:
        - $ref: '#/components/schemas/SurveyElementBase'
        - type: object
          required:
            - scale
            - range
          properties:
            type:
              type: string
              enum:
                - ces
            scale:
              type: string
              enum:
                - number
                - smiley
                - star
            range:
              type: integer
              enum:
                - 5
                - 7
            lowerLabel:
              $ref: '#/components/schemas/TranslatableText'
            upperLabel:
              $ref: '#/components/schemas/TranslatableText'
            isColorCodingEnabled:
              type: boolean
              default: false
      unevaluatedProperties: false
    SurveyElement:
      oneOf:
        - $ref: '#/components/schemas/SurveyOpenTextElement'
        - $ref: '#/components/schemas/SurveyConsentElement'
        - $ref: '#/components/schemas/SurveyMultipleChoiceSingleElement'
        - $ref: '#/components/schemas/SurveyMultipleChoiceMultiElement'
        - $ref: '#/components/schemas/SurveyNpsElement'
        - $ref: '#/components/schemas/SurveyCtaElement'
        - $ref: '#/components/schemas/SurveyRatingElement'
        - $ref: '#/components/schemas/SurveyPictureSelectionElement'
        - $ref: '#/components/schemas/SurveyDateElement'
        - $ref: '#/components/schemas/SurveyFileUploadElement'
        - $ref: '#/components/schemas/SurveyCalElement'
        - $ref: '#/components/schemas/SurveyMatrixElement'
        - $ref: '#/components/schemas/SurveyAddressElement'
        - $ref: '#/components/schemas/SurveyRankingElement'
        - $ref: '#/components/schemas/SurveyContactInfoElement'
        - $ref: '#/components/schemas/SurveyCsatElement'
        - $ref: '#/components/schemas/SurveyCesElement'
      discriminator:
        propertyName: type
        mapping:
          openText: '#/components/schemas/SurveyOpenTextElement'
          consent: '#/components/schemas/SurveyConsentElement'
          multipleChoiceSingle: '#/components/schemas/SurveyMultipleChoiceSingleElement'
          multipleChoiceMulti: '#/components/schemas/SurveyMultipleChoiceMultiElement'
          nps: '#/components/schemas/SurveyNpsElement'
          cta: '#/components/schemas/SurveyCtaElement'
          rating: '#/components/schemas/SurveyRatingElement'
          pictureSelection: '#/components/schemas/SurveyPictureSelectionElement'
          date: '#/components/schemas/SurveyDateElement'
          fileUpload: '#/components/schemas/SurveyFileUploadElement'
          cal: '#/components/schemas/SurveyCalElement'
          matrix: '#/components/schemas/SurveyMatrixElement'
          address: '#/components/schemas/SurveyAddressElement'
          ranking: '#/components/schemas/SurveyRankingElement'
          contactInfo: '#/components/schemas/SurveyContactInfoElement'
          csat: '#/components/schemas/SurveyCsatElement'
          ces: '#/components/schemas/SurveyCesElement'
      description: |
        Survey element/question inside a block. Element ids are stable public identifiers used by
        logic, recall strings, response data, quotas, integrations, and analysis. `type` selects the
        allowed shape; unsupported fields are rejected instead of ignored.
    SurveyDynamicReference:
      type: object
      description: Dynamic reference to another value in the survey document.
      required:
        - type
        - value
      properties:
        type:
          type: string
          enum:
            - element
            - variable
            - hiddenField
        value:
          type: string
          description: Element id, variable id, or hidden field id depending on `type`.
        meta:
          type: object
          additionalProperties:
            type: string
      additionalProperties: false
    SurveyLogicOperand:
      oneOf:
        - type: object
          required:
            - type
            - value
          properties:
            type:
              type: string
              enum:
                - static
            value:
              oneOf:
                - type: string
                - type: number
                - type: array
                  items:
                    type: string
          additionalProperties: false
        - $ref: '#/components/schemas/SurveyDynamicReference'
    SurveyCondition:
      type: object
      description: |
        Single condition. Operators such as `isSubmitted`, `isSkipped`, `isClicked`, `isAccepted`,
        `isBooked`, `isSet`, and `isEmpty` do not use `rightOperand`; comparison operators do.
      required:
        - id
        - leftOperand
        - operator
      properties:
        id:
          type: string
          format: cuid2
        leftOperand:
          $ref: '#/components/schemas/SurveyDynamicReference'
        operator:
          type: string
          enum:
            - equals
            - doesNotEqual
            - contains
            - doesNotContain
            - startsWith
            - doesNotStartWith
            - endsWith
            - doesNotEndWith
            - isSubmitted
            - isSkipped
            - isGreaterThan
            - isLessThan
            - isGreaterThanOrEqual
            - isLessThanOrEqual
            - equalsOneOf
            - includesAllOf
            - includesOneOf
            - doesNotIncludeOneOf
            - doesNotIncludeAllOf
            - isClicked
            - isNotClicked
            - isAccepted
            - isBefore
            - isAfter
            - isBooked
            - isPartiallySubmitted
            - isCompletelySubmitted
            - isSet
            - isNotSet
            - isEmpty
            - isNotEmpty
            - isAnyOf
        rightOperand:
          $ref: '#/components/schemas/SurveyLogicOperand'
      additionalProperties: false
    SurveyConditionGroup:
      type: object
      required:
        - id
        - connector
        - conditions
      properties:
        id:
          type: string
          format: cuid2
        connector:
          type: string
          enum:
            - and
            - or
        conditions:
          type: array
          items:
            oneOf:
              - $ref: '#/components/schemas/SurveyCondition'
              - $ref: '#/components/schemas/SurveyConditionGroup'
      additionalProperties: false
    SurveyCalculateAction:
      type: object
      description: Updates a survey variable when the logic rule matches.
      required:
        - id
        - objective
        - variableId
        - operator
        - value
      properties:
        id:
          type: string
          format: cuid2
        objective:
          type: string
          enum:
            - calculate
        variableId:
          type: string
          format: cuid2
          description: Variable id for `calculate`.
        operator:
          type: string
          enum:
            - assign
            - concat
            - add
            - subtract
            - multiply
            - divide
        value:
          $ref: '#/components/schemas/SurveyLogicOperand'
      additionalProperties: false
    SurveyRequireAnswerAction:
      type: object
      description: Requires an element/question to be answered before continuing.
      required:
        - id
        - objective
        - target
      properties:
        id:
          type: string
          format: cuid2
        objective:
          type: string
          enum:
            - requireAnswer
        target:
          type: string
          description: Target element id.
      additionalProperties: false
    SurveyJumpToBlockAction:
      type: object
      description: Jumps to another block or ending when the logic rule matches.
      required:
        - id
        - objective
        - target
      properties:
        id:
          type: string
          format: cuid2
        objective:
          type: string
          enum:
            - jumpToBlock
        target:
          type: string
          format: cuid2
          description: Target block id or ending id.
      additionalProperties: false
    SurveyLogicAction:
      oneOf:
        - $ref: '#/components/schemas/SurveyCalculateAction'
        - $ref: '#/components/schemas/SurveyRequireAnswerAction'
        - $ref: '#/components/schemas/SurveyJumpToBlockAction'
      description: |
        Logic action. Keep referenced ids stable: `calculate.variableId` points to a variable id,
        `requireAnswer.target` points to an element id, and `jumpToBlock.target` points to a block id
        or ending id.
    SurveyBlockLogic:
      type: object
      description: Conditional logic rule evaluated at block level.
      required:
        - id
        - conditions
        - actions
      properties:
        id:
          type: string
          format: cuid2
        conditions:
          $ref: '#/components/schemas/SurveyConditionGroup'
        actions:
          type: array
          items:
            $ref: '#/components/schemas/SurveyLogicAction'
      additionalProperties: false
    CreateSurveyBlock:
      type: object
      description: |
        Block accepted by `POST /api/v3/surveys`. `id` may be omitted and will be generated by the
        server. Provide an explicit cuid2 id when logic in the same request needs to jump to this block.
        For normal sequential flow, omit `logic` and `logicFallback`. `logicFallback` is only valid
        when this same block has at least one `logic` rule.
      required:
        - name
        - elements
      properties:
        id:
          type: string
          format: cuid2
          description: Optional stable block id. Generated when omitted.
        name:
          type: string
          minLength: 1
        elements:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/SurveyElement'
        logic:
          type: array
          items:
            $ref: '#/components/schemas/SurveyBlockLogic'
        logicFallback:
          type: string
          format: cuid2
          description: |
            Block or ending id used when no logic condition matches. Only valid when this same block
            has at least one `logic` rule; omit it for normal sequential flow.
        buttonLabel:
          $ref: '#/components/schemas/TranslatableText'
        backButtonLabel:
          $ref: '#/components/schemas/TranslatableText'
      additionalProperties: false
    SurveyEndScreenEnding:
      type: object
      description: Visual end screen displayed after survey completion.
      required:
        - id
        - type
      properties:
        id:
          type: string
          format: cuid2
          description: Stable ending id. `jumpToBlock.target` may point to this id.
        type:
          type: string
          enum:
            - endScreen
        headline:
          $ref: '#/components/schemas/TranslatableText'
        subheader:
          $ref: '#/components/schemas/TranslatableText'
        buttonLabel:
          $ref: '#/components/schemas/TranslatableText'
        buttonLink:
          type: string
        imageUrl:
          type: string
        videoUrl:
          type: string
      additionalProperties: false
    SurveyRedirectEnding:
      type: object
      description: |
        Redirects the respondent to a URL after survey completion. External redirects require the
        organization's external URL permission; otherwise write endpoints return `403 Forbidden`.
      required:
        - id
        - type
        - url
      properties:
        id:
          type: string
          format: cuid2
          description: Stable ending id. `jumpToBlock.target` may point to this id.
        type:
          type: string
          enum:
            - redirectToUrl
        url:
          type: string
          format: uri
          description: External redirect URL. Requires the organization's external URL permission.
        label:
          type: string
          description: Optional internal label for redirect endings.
      additionalProperties: false
    SurveyEnding:
      oneOf:
        - $ref: '#/components/schemas/SurveyEndScreenEnding'
        - $ref: '#/components/schemas/SurveyRedirectEnding'
      discriminator:
        propertyName: type
        mapping:
          endScreen: '#/components/schemas/SurveyEndScreenEnding'
          redirectToUrl: '#/components/schemas/SurveyRedirectEnding'
      description: |
        Ending reached after the last block or a jump action. `type` selects the allowed shape;
        unsupported fields are rejected instead of ignored.
    SurveyHiddenFields:
      type: object
      description: |
        Hidden fields, sometimes called embedded data in other survey products. Field ids are stable
        public identifiers and may be referenced by logic, recall, quotas, integrations, and response data.
        Use only letters, numbers, underscores, and hyphens; avoid spaces and reserved ids.
      required:
        - enabled
      properties:
        enabled:
          type: boolean
        fieldIds:
          type: array
          items:
            type: string
            pattern: ^[a-zA-Z0-9_-]+$
          uniqueItems: true
      additionalProperties: false
    CreateSurveyNumberVariable:
      type: object
      required:
        - name
        - type
        - value
      properties:
        id:
          type: string
          format: cuid2
          description: Optional stable variable id. Generated when omitted.
        name:
          type: string
          pattern: ^[a-z0-9_]+$
          description: Unique variable name. Lowercase letters, numbers, and underscores only.
        type:
          type: string
          enum:
            - number
        value:
          type: number
          description: Default numeric value.
      additionalProperties: false
    CreateSurveyTextVariable:
      type: object
      required:
        - name
        - type
        - value
      properties:
        id:
          type: string
          format: cuid2
          description: Optional stable variable id. Generated when omitted.
        name:
          type: string
          pattern: ^[a-z0-9_]+$
          description: Unique variable name. Lowercase letters, numbers, and underscores only.
        type:
          type: string
          enum:
            - text
        value:
          type: string
          description: Default text value.
      additionalProperties: false
    CreateSurveyVariable:
      oneOf:
        - $ref: '#/components/schemas/CreateSurveyNumberVariable'
        - $ref: '#/components/schemas/CreateSurveyTextVariable'
      description: |
        Survey variable accepted by `POST /api/v3/surveys`. `id` may be omitted and will be
        generated by the server. Provide an explicit cuid2 id when logic in the same request needs
        to reference this variable.
    SurveyTrigger:
      type: object
      description: |
        Reference to an existing workspace action class that triggers this app survey. Discover available action-class ids with `GET /api/v3/action-classes`.
      required:
        - actionClassId
      properties:
        actionClassId:
          type: string
          format: cuid2
[...]
