# GENERATED FILE — do not edit. Source of truth: docs/api-v3-reference/src/ (one file per path/schema).
# Regenerate with `pnpm api:v3:bundle`; CI verifies freshness with `pnpm api:v3:check`.
# V3 API — Surveys and Workflows extension (hand-maintained source; not produced by generate-api-specs).
openapi: 3.1.1
info:
  title: Formbricks API v3
  description: |
    **Surveys**: **GET /api/v3/surveys**, **POST /api/v3/surveys**, **POST /api/v3/surveys/generate**, **POST /api/v3/surveys/validate**, **GET /api/v3/surveys/{surveyId}**, **PATCH /api/v3/surveys/{surveyId}**, and **DELETE /api/v3/surveys/{surveyId}**.

    **Workflows extension**: **GET /api/v3/workflows**, **POST /api/v3/workflows**, **GET /api/v3/workflows/{workflowId}**, **PATCH /api/v3/workflows/{workflowId}**, **DELETE /api/v3/workflows/{workflowId}**, **POST /api/v3/workflows/{workflowId}/duplicate**, **POST /api/v3/workflows/{workflowId}/enable**, **POST /api/v3/workflows/{workflowId}/disable**, **POST /api/v3/workflows/{workflowId}/archive**, **POST /api/v3/workflows/{workflowId}/unarchive**, **POST /api/v3/workflows/{workflowId}/test**, **GET /api/v3/workflows/runs**, and **GET /api/v3/workflows/runs/{runId}**.

    Authenticate all management endpoints with **session cookie** or **`x-api-key`** (management key with access to the workspace).

    **Spec location:** source of truth is the multi-file tree at `docs/api-v3-reference/src/` (root `openapi.yml` plus one file per path and component); `docs/api-v3-reference/openapi.yml` is the generated single-file bundle (alongside v2 at `docs/api-v2-reference/openapi.yml`).

    **workspaceId**
    Query param `workspaceId` is the canonical container identifier for this API.

    **Auth**
    Authenticate with either a session cookie or **`x-api-key`**. In dual-auth mode, V3 checks the API key first when the header is present, otherwise it uses the session path. Unauthenticated callers get **401** before query validation.

    **Pagination**
    Cursor-based pagination with **limit** + opaque **cursor** token. Responses return `meta.nextCursor`; pass that value back as `cursor` to fetch the next page. Survey list responses also include `meta.totalCount`, the total number of surveys matching the current filters across all pages. Workflow list responses do not require total counts in Scope 1. There is no `offset` in this contract.

    **Filtering**
    Filters use explicit operator-style query parameters under the **`filter[...]` family**. The survey list supports `filter[name][contains]`, `filter[status][in]`, and `filter[type][in]`. The workflow list supports `filter[name][contains]` and `filter[status][in]`; the workflow run list supports `filter[status][in]` and `filter[isDryRun][eq]`. Resource-scoping identifiers (`workspaceId`, `workflowId`, `responseId`) stay plain query parameters. Multi-value filters use repeated keys or comma-separated values (e.g. `filter[status][in]=draft&filter[status][in]=inProgress` or `filter[status][in]=draft,inProgress`). Sorting remains a flat `sortBy` query parameter.

    **Security**
    Missing/forbidden workspace returns **403** with a generic message (not **404**) so resource existence is not leaked. Workflow and workflow-run detail endpoints also return **403** for unknown IDs or inaccessible IDs to avoid IDOR leaks. List responses use `private, no-store`.

    **AI survey creation**
    `POST /api/v3/surveys/generate` returns a draft `POST /api/v3/surveys` payload plus validation metadata. It does not create a survey. Generated payloads are currently link-survey only because the v3 create contract accepts only `type: link`.
    Prompt text is sent to the configured AI provider for generation, but it is not stored by this endpoint, not logged by default, and not included in audit data.

    **OpenAPI**
    This spec is **not** produced by `pnpm generate-api-specs` (that script only builds v2 → `docs/api-v2-reference/openapi.yml`). When the route contract changes, edit the files under `docs/api-v3-reference/src/`, then run `pnpm api:v3:bundle` to regenerate the committed single-file bundle. `pnpm api:v3:lint` lints the source tree; `pnpm api:v3:check` (CI) fails when the bundle is stale.

    **Workflows Scope 1**
    Workflows are a follow-up extension of the existing v3 Survey API work. The Survey API establishes API-first survey authoring; Workflows build on that same v3 style to automate actions around survey responses through workspace-scoped JSON definitions. Scope 1 models the existing Follow-ups capability as workflows: one `response.completed` trigger with an optional `endingCardIds` filter, and `send_email` actions with Follow-up email field parity. The definition and run shapes mirror the shared Zod schemas in `packages/workflows` (ENG-1100), which are the implementation source of truth for this contract.

    Workflows use `draft`, `enabled`, and `disabled` lifecycle states plus an `archived` soft-delete state. Status only changes through the lifecycle endpoints (`enable`, `disable`, `archive`, `unarchive`); it is not writable via `POST` or `PATCH`. Enabling validates that the definition is executable and snapshots an immutable workflow version; runs reference that snapshot via `workflowVersionId`. Dry-run tests create real run records with `isDryRun: true` that mock action execution and never send email. Runs execute asynchronously: `POST .../test` returns a `queued` run to poll via `GET /api/v3/workflows/runs/{runId}`.

    **Overview migration note**
    The v3-backed survey overview page intentionally removes actions that are not yet exposed by this contract: `Created by` filtering, `Duplicate`, `Copy...`, `Preview`, and `Copy link`.

    **Next steps (out of scope for this spec)**
    Additional v3 survey update endpoints, optional ETag/304, field selection, translation-specific writes, and survey version history.
  version: 0.1.0
  x-implementation-notes:
    route: apps/web/app/api/v3/surveys/route.ts
    generate-route: apps/web/app/api/v3/surveys/generate/route.ts
    query-parser: apps/web/app/api/v3/surveys/parse-v3-surveys-list-query.ts
    auth: apps/web/app/api/v3/lib/auth.ts
    workspace-resolution: apps/web/app/api/v3/lib/workspace-context.ts
    workflow-contract-ticket: ENG-1101
    workflow-shared-schemas: packages/workflows/src/types (feat/workflows-types)
    workflow-prisma-schema: packages/database/schema/workflows.prisma (feat/workflows-prisma-schema)
    openapi-generated: false
    spec-source: docs/api-v3-reference/src (regenerate bundle with `pnpm api:v3:bundle`)
    pagination-model: cursor
    cursor-pagination: supported
servers:
  - url: https://app.formbricks.com
    description: Formbricks Cloud. Paths in this spec already include the `/api/v3` prefix; self-hosted instances substitute their own origin.
paths:
  /api/v3/surveys:
    get:
      operationId: getSurveysV3
      summary: List surveys
      description: |
        Returns surveys for the workspace. Session cookie or x-api-key.
      tags:
        - V3 Surveys
      parameters:
        - in: query
          name: workspaceId
          required: true
          schema:
            type: string
            format: cuid2
          description: |
            Workspace identifier. This is the canonical container ID for v3 APIs.
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: Page size (max 100)
        - in: query
          name: cursor
          schema:
            type: string
          description: |
            Opaque cursor returned as `meta.nextCursor` from the previous page. Omit on the first request.
        - in: query
          name: includeTotalCount
          schema:
            type: boolean
            default: true
          description: |
            Whether to calculate `meta.totalCount` for this request. Set to `false` on cursor-pagination follow-up requests to skip the extra count query; in that case `meta.totalCount` is `null`.
        - in: query
          name: filter[name][contains]
          schema:
            type: string
            maxLength: 512
          description: Case-insensitive substring match on survey name (same as in-app list filters).
        - in: query
          name: filter[status][in]
          schema:
            type: array
            items:
              type: string
              enum:
                - draft
                - inProgress
                - paused
                - completed
          style: form
          explode: true
          description: |
            Survey status filter. Repeat the parameter (`filter[status][in]=draft&filter[status][in]=inProgress`) or use comma-separated values (`filter[status][in]=draft,inProgress`). Invalid values → **400**.
        - in: query
          name: filter[type][in]
          schema:
            type: array
            items:
              type: string
              enum:
                - link
                - app
          style: form
          explode: true
          description: Survey type filter (`link` / `app`). Same repeat-or-comma rules as `filter[status][in]`.
        - in: query
          name: sortBy
          schema:
            type: string
            enum:
              - createdAt
              - updatedAt
              - name
              - relevance
          description: Sort order. Defaults to `updatedAt`. The `cursor` token is bound to the selected sort order.
      responses:
        '200':
          description: Surveys retrieved successfully
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Request correlation ID
            Cache-Control:
              schema:
                type: string
              example: private, no-store
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - meta
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SurveyListItem'
                  meta:
                    type: object
                    required:
                      - limit
                      - nextCursor
                      - totalCount
                    properties:
                      limit:
                        type: integer
                      nextCursor:
                        type:
                          - string
                          - 'null'
                        description: Opaque cursor for the next page. `null` when there are no more results.
                      totalCount:
                        type:
                          - integer
                          - 'null'
                        minimum: 0
                        description: Total number of surveys matching the current filters across all pages. `null` when `includeTotalCount=false`.
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '401':
          description: Not authenticated (no valid session or API key)
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '403':
          description: Forbidden — no access, or workspace does not exist (404 not used; avoids existence leak)
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '429':
          description: Rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
              description: Seconds until the current rate-limit window resets
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - sessionAuth: []
        - apiKeyAuth: []
    post:
      operationId: createSurveyV3
      summary: Create a survey
      description: |
        Creates a block-based survey template from one strict survey document. The endpoint accepts
        multilingual authoring maps keyed by real locale codes and converts them to Formbricks'
        internal default-language representation. Non-default locale keys in translated content
        must be declared in `languages`; undeclared locale keys return `unsupported_locale` in
        `invalid_params` instead of silently mutating workspace languages.

        `blocks[].id` and `variables[].id` are stable public identifiers. They may be omitted on
        create, in which case the server generates cuid2 ids. If the same create request needs to
        reference a block or variable from logic, provide explicit valid ids and use those references
        consistently.

        For normal sequential surveys, omit `logic` and `logicFallback`. `logicFallback` is only valid
        when the same block has at least one `logic` rule; otherwise the API returns
        `invalid_reference`.

        This first write surface intentionally stays structure-focused: `type` may be omitted or set
        to `link` or `app`, but in-app survey creation and distribution-channel settings are not part
        of this operation. Unsupported fields are rejected instead of ignored.
      tags:
        - V3 Surveys
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSurveyRequest'
            examples:
              productFeedback:
                summary: Create a multilingual block-based survey
                value:
                  workspaceId: clxx1234567890123456789012
                  name: Product Feedback Survey
                  status: draft
                  defaultLanguage: en-US
                  metadata:
                    cx_operation: enterprise_onboarding
                    title:
                      en-US: Product Feedback
                      de-DE: Produktfeedback
                  languages:
                    - code: de-DE
                      enabled: true
                  welcomeCard:
                    enabled: true
                    headline:
                      en-US: Welcome
                      de-DE: Willkommen
                  blocks:
                    - name: Main Block
                      elements:
                        - id: satisfaction
                          type: openText
                          headline:
                            en-US: What should we improve?
                            de-DE: Was sollen wir verbessern?
                          required: true
                  endings: []
                  hiddenFields:
                    enabled: false
                  variables: []
              sequentialProductSurvey:
                summary: Create a richer sequential survey without logicFallback
                description: |
                  Multi-block survey with generated block and variable ids. Sequential surveys should
                  omit `logic` and `logicFallback`; blocks are shown in array order.
                value:
                  workspaceId: clxx1234567890123456789012
                  name: Sequential Product Survey
                  defaultLanguage: en-US
                  languages:
                    - code: de-DE
                      enabled: true
                  metadata:
                    cx_operation: product_feedback
                    title:
                      en-US: Sequential Product Survey
                      de-DE: Sequenzielle Produktumfrage
                  welcomeCard:
                    enabled: true
                    headline:
                      en-US: Help us improve the product
                      de-DE: Hilf uns, das Produkt zu verbessern
                  hiddenFields:
                    enabled: true
                    fieldIds:
                      - account_id
                      - plan
                  variables:
                    - name: feedback_score
                      type: number
                      value: 0
                  blocks:
                    - name: Satisfaction
                      elements:
                        - id: overall_rating
                          type: rating
                          headline:
                            en-US: How satisfied are you with the product?
                            de-DE: Wie zufrieden bist du mit dem Produkt?
                          required: true
                          range: 5
                          scale: smiley
                        - id: product_area
                          type: multipleChoiceSingle
                          headline:
                            en-US: Which area should we improve first?
                            de-DE: Welchen Bereich sollten wir zuerst verbessern?
                          required: true
                          choices:
                            - id: onboarding
                              label:
                                en-US: Onboarding
                                de-DE: Onboarding
                            - id: analytics
                              label:
                                en-US: Analytics
                                de-DE: Analysen
                    - name: Feedback
                      elements:
                        - id: free_text_feedback
                          type: openText
                          headline:
                            en-US: What is one thing we should change?
                            de-DE: Was sollten wir ändern?
                          required: false
                          longAnswer: true
                  endings:
                    - id: cmpsequentialend0000000000
                      type: endScreen
                      headline:
                        en-US: Thanks for your feedback!
                        de-DE: Danke für dein Feedback!
      responses:
        '201':
          description: Survey created successfully
          headers:
            Location:
              schema:
                type: string
              description: Relative URL of the created survey resource.
              example: /api/v3/surveys/clsv1234567890123456789012
            X-Request-Id:
              schema:
                type: string
              description: Request correlation ID
            Cache-Control:
              schema:
                type: string
              example: private, no-store
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/SurveyResource'
        '400':
          description: |
            Bad Request — invalid JSON, unsupported fields, malformed multilingual maps, duplicate
            stable ids, or dangling logic/reference ids.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '401':
          description: Not authenticated (no valid session or API key)
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '403':
          description: Forbidden — no write access, missing external URL permission, or workspace does not exist (404 not used; avoids existence leak)
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '429':
          description: Rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
              description: Seconds until the current rate-limit window resets
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - sessionAuth: []
        - apiKeyAuth: []
  /api/v3/surveys/generate:
    post:
      operationId: generateSurveyV3
      summary: Create a survey draft payload with AI
      description: |
        Creates a strict v3 `POST /api/v3/surveys` create payload from a creator prompt and returns
        validation metadata. This endpoint is single-purpose: it does **not** persist the survey.
        Clients should validate the returned payload with `/api/v3/surveys/validate` or use the
        embedded validation metadata, then create the draft through `POST /api/v3/surveys`.

        The generated payload always sets `status: draft`. The initial contract supports only
        `type: link`; app and website survey creation must stay disabled until the v3 create
        endpoint accepts those types.

        Prompt privacy: prompt text is sent to the configured AI provider to create the payload, but
        this endpoint does not store prompts and server logs should use request ids and failure
        categories instead of raw prompt content.
      tags:
        - V3 Surveys
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateSurveyRequest'
            examples:
              onboarding:
                summary: Create a link survey draft
                value:
                  workspaceId: clxx1234567890123456789012
                  type: link
                  language: en-US
                  prompt: Understand why new users stop during onboarding and what would help them finish setup.
      responses:
        '200':
          description: Survey create payload generated successfully. The survey has not been created yet.
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Request correlation ID
            Cache-Control:
              schema:
                type: string
              example: private, no-store
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/GenerateSurveyResult'
              examples:
                generated:
                  summary: Generated draft create payload
                  value:
                    data:
                      language: en-US
                      payload:
                        workspaceId: clxx1234567890123456789012
                        type: link
                        name: Onboarding Completion Survey
                        status: draft
                        defaultLanguage: en-US
                        languages:
                          - code: en-US
                            default: true
                            enabled: true
                        metadata:
                          title:
                            en-US: Onboarding Completion Survey
                        welcomeCard:
                          enabled: false
                        blocks:
                          - id: clbk1234567890123456789012
                            name: Main
                            elements:
                              - id: q_1_example
                                type: openText
                                headline:
                                  en-US: What made onboarding hard to complete?
                                required: false
                                isDraft: true
                                inputType: text
                                longAnswer: false
                                charLimit:
                                  enabled: false
                        endings:
                          - id: clen1234567890123456789012
                            type: endScreen
                            headline:
                              en-US: Thanks for your feedback
                        hiddenFields:
                          enabled: false
                        variables: []
                      validation:
                        valid: true
                        invalid_params: []
                        languages:
                          - code: en-US
                            default: true
                            enabled: true
        '400':
          description: Malformed body or a prompt that is too short or underspecified
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                shortPrompt:
                  summary: Prompt needs more detail
                  value:
                    title: Bad Request
                    status: 400
                    detail: Prompt needs more detail
                    code: bad_request
                    requestId: req_123
                    invalid_params:
                      - name: prompt
                        reason: Describe the survey goal, audience, or topic in a sentence so the AI can create a useful draft.
        '401':
          description: Not authenticated (no valid session or API key)
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '403':
          description: Forbidden — no write access, workspace does not exist, AI is not in plan, or AI smart tools are disabled
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                noWorkspaceWriteAccess:
                  summary: No workspace write access
                  value:
                    title: Forbidden
                    status: 403
                    detail: You are not authorized to access this resource
                    code: forbidden
                    requestId: req_123
                aiDisabled:
                  summary: AI smart tools disabled
                  value:
                    title: AI Unavailable
                    status: 403
                    detail: AI smart tools are disabled for this organization.
                    code: ai_smart_tools_disabled
                    requestId: req_123
        '422':
          description: AI generated an invalid payload after schema and v3 create validation
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                invalidGeneratedPayload:
                  summary: Invalid generated payload
                  value:
                    title: Unprocessable Content
                    status: 422
                    detail: 'Generated survey payload is invalid: generatedSurvey.blocks: Too small'
                    code: ai_generated_payload_invalid
                    requestId: req_123
                    invalid_params:
                      - name: generatedSurvey.blocks
                        reason: Too small
        '429':
          description: Rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
              description: Seconds until the current rate-limit window resets
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '502':
          description: The configured AI provider failed or could not produce a valid draft
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                providerFailed:
                  summary: AI provider failed
                  value:
                    title: Bad Gateway
                    status: 502
                    detail: The AI provider could not generate a valid survey draft. Try again or add more detail.
                    code: bad_gateway
                    requestId: req_123
        '503':
          description: AI is not configured on this Formbricks instance
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
              examples:
                instanceNotConfigured:
                  summary: AI instance configuration missing
                  value:
                    title: AI Unavailable
                    status: 503
                    detail: AI is not configured for this Formbricks instance.
                    code: ai_instance_not_configured
                    requestId: req_123
      security:
        - sessionAuth: []
        - apiKeyAuth: []
  /api/v3/surveys/validate:
    post:
      operationId: validateSurveyV3
      summary: Validate a survey document
      description: |
        Validates a future create or patch survey payload without writing data, creating languages,
        or creating survey versions. Invalid survey documents return `200` with `data.valid=false`
        so agents and MCP clients can repair payloads from structured `invalid_params`.

        Use `400` only for malformed validation envelopes, unsupported operations, invalid `surveyId`,
        or unsupported query parameters.
      tags:
        - V3 Surveys
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateSurveyRequest'
            examples:
              createValidation:
                summary: Validate a create payload
                value:
                  operation: create
                  data:
                    workspaceId: clxx1234567890123456789012
                    name: Product Feedback Survey
                    defaultLanguage: en-US
                    blocks:
                      - id: clbk1234567890123456789012
                        name: Main Block
                        elements:
                          - id: satisfaction
                            type: openText
                            headline:
                              en-US: What should we improve?
                            required: true
              patchValidation:
                summary: Validate a patch payload
                value:
                  operation: patch
                  surveyId: clsv1234567890123456789012
                  data:
                    blocks:
                      - id: clbk1234567890123456789012
                        name: Main Block
                        elements:
                          - id: satisfaction
                            type: openText
                            headline:
                              en-US: What should we improve?
                            required: true
      responses:
        '200':
          description: Validation completed. The survey document may still be invalid.
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Request correlation ID
            Cache-Control:
              schema:
                type: string
              example: private, no-store
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/SurveyValidationResult'
              examples:
                invalid:
                  summary: Invalid survey document
                  value:
                    data:
                      valid: false
                      operation: create
                      invalid_params:
                        - name: blocks.0.elements.0.buttonUrl
                          reason: Unsupported field 'buttonUrl' for element type 'openText'. Allowed fields...
                valid:
                  summary: Valid survey document
                  value:
                    data:
                      valid: true
                      operation: create
                      invalid_params: []
                      languages:
                        - code: en-US
                          default: true
                          enabled: true
                          writeBehavior: connect_or_create
        '400':
          description: Malformed validation envelope, invalid route/query data, or unsupported operation
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '401':
          description: Not authenticated (no valid session or API key)
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '403':
          description: Forbidden — no write access, or survey/workspace does not exist
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '429':
          description: Rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
              description: Seconds until the current rate-limit window resets
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - sessionAuth: []
        - apiKeyAuth: []
  /api/v3/surveys/{surveyId}:
    get:
      operationId: getSurveyV3
      summary: Retrieve a survey
      description: |
        Returns the public v3 survey management resource for one survey. By default, translatable
        fields are returned as stable multilingual maps keyed by the language codes emitted in
        `languages[].code`. Use `lang` to filter those maps to one or more requested language selectors.
      tags:
        - V3 Surveys
      parameters:
        - in: path
          name: surveyId
          required: true
          schema:
            type: string
            format: cuid2
          description: Survey identifier.
        - in: query
          name: lang
          required: false
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
            examples:
              - - de-DE
              - - de-DE
                - pt-PT
              - - de
              - - zh-Hans
              - - zh-Hans-CN
          description: |
            Comma-separated language selector filter for translatable fields, for example `?lang=de-DE,pt-PT`.
            The response shape stays stable: translatable fields are always maps, never strings, and response
            keys match the emitted `languages[].code` values for this survey.
            For compatibility with existing Formbricks surveys, GET accepts language tags such as `de`,
            `de-DE`, `zh-Hans`, and `zh-Hans-CN`, accepts `_` or `-` separators, is case-insensitive, and
            accepts configured workspace aliases such as `english`. Bare language selectors are resolved
            against the survey's configured languages and return `400` if ambiguous, for example if both
            `en-US` and `en-GB` are configured.
            Disabled-but-configured languages are readable in the management API so unfinished translations can
            be completed.
      responses:
        '200':
          description: Survey retrieved successfully
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Request correlation ID
            Cache-Control:
              schema:
                type: string
              example: private, no-store
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/SurveyResource'
              examples:
                multilingual:
                  summary: Multilingual authoring resource
                  value:
                    data:
                      id: clseedsurveycsat000000
                      workspaceId: clseedworkspace000000000
                      createdAt: '2026-05-18T09:24:54.014Z'
                      updatedAt: '2026-05-18T09:24:54.014Z'
                      name: CSAT Survey
                      type: link
                      status: inProgress
                      metadata: {}
                      defaultLanguage: en-US
                      languages:
                        - code: en-US
                          default: true
                          enabled: true
                        - code: de-DE
                          alias: german
                          default: false
                          enabled: false
                      welcomeCard:
                        enabled: false
                      blocks:
                        - id: e0tfwzqk63op37y14z95qq3k
                          name: Main Block
                          elements:
                            - id: nzte4cm8836hgjw63pesziht
                              type: rating
                              range: 5
                              scale: smiley
                              headline:
                                en-US: How satisfied are you with our product?
                                de-DE: Wie zufrieden sind Sie mit unserem Produkt?
                              required: true
                      endings: []
                      hiddenFields:
                        enabled: false
                      variables: []
                filtered:
                  summary: Language-filtered projection with ?lang=de-DE
                  value:
                    data:
                      id: clseedsurveycsat000000
                      workspaceId: clseedworkspace000000000
                      createdAt: '2026-05-18T09:24:54.014Z'
                      updatedAt: '2026-05-18T09:24:54.014Z'
                      name: CSAT Survey
                      type: link
                      status: inProgress
                      metadata: {}
                      defaultLanguage: en-US
                      languages:
                        - code: en-US
                          default: true
                          enabled: true
                        - code: de-DE
                          alias: german
                          default: false
                          enabled: false
                      welcomeCard:
                        enabled: false
                      blocks:
                        - id: e0tfwzqk63op37y14z95qq3k
                          name: Main Block
                          elements:
                            - id: nzte4cm8836hgjw63pesziht
                              type: rating
                              range: 5
                              scale: smiley
                              headline:
                                de-DE: Wie zufrieden sind Sie mit unserem Produkt?
                              required: true
                      endings: []
                      hiddenFields:
                        enabled: false
                      variables: []
        '400':
          description: Invalid survey id, unsupported query parameter, unknown language, or unsupported legacy survey shape
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '401':
          description: Not authenticated (no valid session or API key)
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '403':
          description: Forbidden — no access, or survey does not exist (404 not used; avoids existence leak)
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '429':
          description: Rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
              description: Seconds until the current rate-limit window resets
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - sessionAuth: []
        - apiKeyAuth: []
    patch:
      operationId: patchSurveyV3
      summary: Update a survey
      description: |
        Updates a survey through a strict top-level partial document. Omitted top-level fields are
        preserved. Provided top-level objects and arrays replace that whole subtree; this endpoint
        does not deep-merge nested objects and does not implement JSON Patch.

        This write endpoint accepts the canonical multilingual authoring document only. Translatable
        fields must be locale-code maps, not strings. `PATCH ?lang=...` and `?version=...` are not
        supported in Scope 1.

        For MCP and AI-agent workflows, fetch the current survey first, modify only the intended
        top-level fields, call `/api/v3/surveys/validate` with `operation: patch` for preflight, then
        submit the same patch here. Missing ids in replaced arrays are treated as deletions. Variable
        name renames are allowed but may be destructive for downstream exports or integrations.
        Element id changes are rejected once the survey and element are no longer drafts.

        Optimistic concurrency (`ETag`, `If-Match`, or revision tokens) is future work; until then,
        overlapping writes are last-write-wins.
      tags:
        - V3 Surveys
      parameters:
        - in: path
          name: surveyId
          required: true
          schema:
            type: string
            format: cuid2
          description: Survey identifier.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchSurveyRequest'
            examples:
              renameSurvey:
                summary: Rename a survey
                value:
                  name: Updated Product Feedback
              replaceMetadata:
                summary: Replace metadata
                value:
                  metadata:
                    title:
                      en-US: Product Feedback
                      de-DE: Produktfeedback
                    cx_operation: product_feedback
              replaceBlocks:
                summary: Replace survey blocks
                value:
                  blocks:
                    - id: clbk1234567890123456789012
                      name: Main Block
                      elements:
                        - id: satisfaction
                          type: rating
                          headline:
                            en-US: How satisfied are you?
                            de-DE: Wie zufrieden sind Sie?
                          required: true
                          range: 5
                          scale: smiley
      responses:
        '200':
          description: Survey updated successfully
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Request correlation ID
            Cache-Control:
              schema:
                type: string
              example: private, no-store
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/SurveyResource'
        '400':
          description: |
            Bad Request — malformed JSON, unsupported query parameter, unsupported field,
            invalid locale map, duplicate id, immutable element id change, dangling reference,
            or invalid survey document.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '401':
          description: Not authenticated (no valid session or API key)
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '403':
          description: Forbidden — no write access, or survey does not exist (404 not used; avoids existence leak)
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '429':
          description: Rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
              description: Seconds until the current rate-limit window resets
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - sessionAuth: []
        - apiKeyAuth: []
    delete:
      operationId: deleteSurveyV3
      summary: Delete a survey
      description: Deletes a survey by id. Session cookie or x-api-key.
      tags:
        - V3 Surveys
      parameters:
        - in: path
          name: surveyId
          required: true
          schema:
            type: string
            format: cuid2
          description: Survey identifier.
      responses:
        '204':
          description: Survey deleted successfully
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Request correlation ID
            Cache-Control:
              schema:
                type: string
              example: private, no-store
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '401':
          description: Not authenticated (no valid session or API key)
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '403':
          description: Forbidden — no access, or survey does not exist (404 not used; avoids existence leak)
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '429':
          description: Rate limit exceeded
          headers:
            Retry-After:
              schema:
                type: integer
              description: Seconds until the current rate-limit window resets
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
      security:
        - sessionAuth: []
        - apiKeyAuth: []
  /api/v3/workflows:
    get:
      operationId: listWorkflowsV3
      summary: List workflows
      description: |
        Returns workflow list items for a workspace, sorted by `sortBy` (default `updatedAt`,
        newest first). Workflows are workspace-scoped and exposed through the same v3
        session-or-`x-api-key` authorization model as surveys.

        List items are intentionally slim: they include the derived `triggerType` and `surveyId`
        plus a `lastRun` summary, but not the full `definition`. Use
        `GET /api/v3/workflows/{workflowId}` to read the definition.

        `archived` workflows are excluded unless explicitly requested with
        `filter[status][in]=archived`.
      tags:
        - V3 Workflows
      parameters:
        - $ref: '#/components/parameters/WorkspaceIdQuery'
        - $ref: '#/components/parameters/LimitQuery'
        - $ref: '#/components/parameters/CursorQuery'
        - in: query
          name: filter[name][contains]
          schema:
            type: string
            maxLength: 512
          description: Case-insensitive substring match on workflow name (same semantics as the survey list filter).
        - in: query
          name: filter[status][in]
          schema:
            type: array
            items:
              $ref: '#/components/schemas/WorkflowStatus'
          style: form
          explode: true
          description: |
            Workflow lifecycle-state filter. Repeat the parameter (`filter[status][in]=draft&filter[status][in]=disabled`)
            or use comma-separated values (`filter[status][in]=draft,disabled`). Omitting the filter returns
            every status except `archived`. Invalid values → **400**.
        - in: query
          name: sortBy
          schema:
            type: string
            enum:
              - createdAt
              - updatedAt
              - name
          description: Sort order. Defaults to `updatedAt` (newest first). The `cursor` token is bound to the selected sort order.
      responses:
        '200':
          description: Workflows retrieved successfully
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Request correlation ID
            Cache-Control:
              schema:
                type: string
              example: private, no-store
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - meta
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/WorkflowListItem'
                  meta:
                    $ref: '#/components/schemas/CursorPaginationMeta'
        '400':
          $ref: '#/components/responses/V3BadRequest'
        '401':
          $ref: '#/components/responses/V3Unauthorized'
        '403':
          $ref: '#/components/responses/V3Forbidden'
        '429':
          $ref: '#/components/responses/V3TooManyRequests'
        '500':
          $ref: '#/components/responses/V3InternalServerError'
      security:
        - sessionAuth: []
        - apiKeyAuth: []
    post:
      operationId: createWorkflowV3
      summary: Create a workflow
      description: |
        Creates a `draft` workflow. The workflow definition is the public source of truth used by
        the dashboard and external clients, following the document-first pattern established by the
        v3 Survey API. Runtime persistence, revision creation, and version snapshotting are
        implementation details behind this contract.

        Workflows are always created as drafts; use `POST /api/v3/workflows/{workflowId}/enable` to
        make them respond to trigger events. Graph reference failures (duplicate node ids, edges
        pointing at missing nodes, `entryNodeId` not referencing the trigger, unknown `surveyId` or
        `endingCardIds` in the workspace) are rejected with **400** and structured `invalid_params`.
      tags:
        - V3 Workflows
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWorkflowRequest'
            examples:
              responseCompletedEmail:
                summary: Create a response-completed email workflow
                value:
                  workspaceId: clworkspace000000000000000
                  name: Notify team after CSAT completion
                  description: Sends an internal email when a respondent reaches the negative CSAT ending.
                  status: draft
                  definition:
                    schemaVersion: 1
                    trigger:
                      id: trigger
                      type: trigger
                      triggerType: response.completed
                      label: CSAT survey completed
                      config:
                        surveyId: clsurvey000000000000000000
                        endingCardIds:
                          - clending000000000000000000
                    nodes:
                      - id: send-email
                        type: action
                        actionType: send_email
                        label: Notify support team
                        config:
                          to: support@example.com
                          from: noreply@example.com
                          replyTo:
                            - support@example.com
                          subject: Thanks for your feedback
                          body: We saw your feedback and will follow up soon.
                          attachResponseData: true
                          includeVariables: true
                          includeHiddenFields: false
                        ui:
                          position:
                            x: 260
                            'y': 120
                    edges:
                      - id: edge-trigger-email
                        source: trigger
                        target: send-email
                    entryNodeId: trigger
      responses:
        '201':
          description: Workflow created successfully
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Request correlation ID
            Cache-Control:
              schema:
                type: string
              example: private, no-store
            Location:
              schema:
                type: string
              example: /api/v3/workflows/clworkflow000000000000000
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/WorkflowResource'
        '400':
          $ref: '#/components/responses/V3BadRequest'
        '401':
          $ref: '#/components/responses/V3Unauthorized'
        '403':
          $ref: '#/components/responses/V3Forbidden'
        '422':
          $ref: '#/components/responses/V3UnprocessableContent'
        '429':
          $ref: '#/components/responses/V3TooManyRequests'
        '500':
          $ref: '#/components/responses/V3InternalServerError'
      security:
        - sessionAuth: []
        - apiKeyAuth: []
  /api/v3/workflows/runs:
    get:
      operationId: listWorkflowRunsV3
      summary: List workflow runs
      description: |
        Returns workflow run summaries for a workspace, newest first (`createdAt` descending). Use
        `workflowId` to narrow the list to one workflow, or `responseId` to find the runs a specific
        survey response produced.

        List items are summaries without `triggerPayload`, `data`, or `logs`; fetch
        `GET /api/v3/workflows/runs/{runId}` for the full debug-oriented payload. This keeps
        response-level data out of list reads by default.
      tags:
        - V3 Workflows
      parameters:
        - $ref: '#/components/parameters/WorkspaceIdQuery'
        - $ref: '#/components/parameters/LimitQuery'
        - $ref: '#/components/parameters/CursorQuery'
        - in: query
          name: workflowId
          schema:
            type: string
            format: cuid2
          description: Optional workflow scoping. Returns only runs of this workflow.
        - in: query
          name: responseId
          schema:
            type: string
            format: cuid2
          description: Optional response scoping. Returns only runs triggered by this survey response.
        - in: query
          name: filter[status][in]
          schema:
            type: array
            items:
              $ref: '#/components/schemas/WorkflowRunStatus'
          style: form
          explode: true
          description: |
            Run lifecycle-state filter. Repeat the parameter or use comma-separated values
            (`filter[status][in]=failed,canceled`). Invalid values → **400**.
        - in: query
          name: filter[isDryRun][eq]
          schema:
            type: boolean
          description: |
            Filter for dry runs created by `POST /api/v3/workflows/{workflowId}/test` (`true`) or
            for real trigger-initiated runs only (`false`). Omit to return both.
      responses:
        '200':
          description: Workflow runs retrieved successfully
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Request correlation ID
            Cache-Control:
              schema:
                type: string
              example: private, no-store
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                  - meta
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/WorkflowRunSummary'
                  meta:
                    $ref: '#/components/schemas/CursorPaginationMeta'
        '400':
          $ref: '#/components/responses/V3BadRequest'
        '401':
          $ref: '#/components/responses/V3Unauthorized'
        '403':
          $ref: '#/components/responses/V3Forbidden'
        '429':
          $ref: '#/components/responses/V3TooManyRequests'
        '500':
          $ref: '#/components/responses/V3InternalServerError'
      security:
        - sessionAuth: []
        - apiKeyAuth: []
  /api/v3/workflows/runs/{runId}:
    get:
      operationId: getWorkflowRunV3
      summary: Retrieve a workflow run
      description: |
        Returns one workflow run by globally unique run id, including the full debug payload: the
        captured `triggerPayload`, the run `data` (per-step results), the persisted `logs` trace,
        and retry metadata (`attempt`, `nextAttemptAt`, `lastErrorAt`). Scope 1 deliberately exposes
        these as JSON dumps so users and agents can understand exactly what happened in a run.

        Poll this endpoint after `POST /api/v3/workflows/{workflowId}/test`: runs execute
        asynchronously and transition `queued` → `running` → `completed`/`failed`/`canceled`.

        Unknown or inaccessible run ids return `403` rather than `404` to avoid leaking
        cross-workspace resource existence.
      tags:
        - V3 Workflows
      parameters:
        - $ref: '#/components/parameters/WorkflowRunIdPath'
      responses:
        '200':
          description: Workflow run retrieved successfully
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Request correlation ID
            Cache-Control:
              schema:
                type: string
              example: private, no-store
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/WorkflowRunResource'
        '400':
          $ref: '#/components/responses/V3BadRequest'
        '401':
          $ref: '#/components/responses/V3Unauthorized'
        '403':
          $ref: '#/components/responses/V3Forbidden'
        '429':
          $ref: '#/components/responses/V3TooManyRequests'
        '500':
          $ref: '#/components/responses/V3InternalServerError'
      security:
        - sessionAuth: []
        - apiKeyAuth: []
  /api/v3/workflows/{workflowId}:
    get:
      operationId: getWorkflowV3
      summary: Retrieve a workflow
      description: |
        Returns one workflow definition by id. Unknown or inaccessible workflow ids return `403`
        rather than `404` to avoid leaking cross-workspace resource existence.
      tags:
        - V3 Workflows
      parameters:
        - $ref: '#/components/parameters/WorkflowIdPath'
      responses:
        '200':
          description: Workflow retrieved successfully
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Request correlation ID
            Cache-Control:
              schema:
                type: string
              example: private, no-store
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/WorkflowResource'
        '400':
          $ref: '#/components/responses/V3BadRequest'
        '401':
          $ref: '#/components/responses/V3Unauthorized'
        '403':
          $ref: '#/components/responses/V3Forbidden'
        '429':
          $ref: '#/components/responses/V3TooManyRequests'
        '500':
          $ref: '#/components/responses/V3InternalServerError'
      security:
        - sessionAuth: []
        - apiKeyAuth: []
    patch:
      operationId: patchWorkflowV3
      summary: Update a workflow
      description: |
        Updates human-facing workflow metadata and/or the workflow definition. Status changes are
        handled by lifecycle endpoints (`enable`, `disable`, `archive`, `unarchive`) so the state
        machine remains explicit. Provided fields replace the corresponding stored fields; this
        endpoint does not implement JSON Patch.

        `name` and `description` can be updated in any state except `archived`. The `definition`
        can only be updated while the workflow is `draft` or `disabled`: the live version of an
        `enabled` workflow is an immutable snapshot, so definition changes require disabling (or
        moving to draft) first and re-enabling afterwards. Violations return **422** with code
        `invalid_workflow_state`. A structurally invalid definition returns **400** with structured `invalid_params`; the referenced survey and ending cards are not verified here — that existence check runs when the workflow is enabled.
      tags:
        - V3 Workflows
      parameters:
        - $ref: '#/components/parameters/WorkflowIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchWorkflowRequest'
      responses:
        '200':
          description: Workflow updated successfully
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Request correlation ID
            Cache-Control:
              schema:
                type: string
              example: private, no-store
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/WorkflowResource'
        '400':
          $ref: '#/components/responses/V3BadRequest'
        '401':
          $ref: '#/components/responses/V3Unauthorized'
        '403':
          $ref: '#/components/responses/V3Forbidden'
        '422':
          $ref: '#/components/responses/V3UnprocessableContent'
        '429':
          $ref: '#/components/responses/V3TooManyRequests'
        '500':
          $ref: '#/components/responses/V3InternalServerError'
      security:
        - sessionAuth: []
        - apiKeyAuth: []
    delete:
      operationId: deleteWorkflowV3
      summary: Delete a workflow
      description: |
        Permanently deletes a workflow by id. Deletion cascades to the workflow's versions, runs,
        and run logs so no response-derived data is left behind (GDPR requirement). This is
        irreversible; use `POST /api/v3/workflows/{workflowId}/archive` for a reversible
        soft-delete that keeps history. Returns `204 No Content`.
      tags:
        - V3 Workflows
      parameters:
        - $ref: '#/components/parameters/WorkflowIdPath'
      responses:
        '204':
          description: Workflow deleted successfully
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Request correlation ID
            Cache-Control:
              schema:
                type: string
              example: private, no-store
        '400':
          $ref: '#/components/responses/V3BadRequest'
        '401':
          $ref: '#/components/responses/V3Unauthorized'
        '403':
          $ref: '#/components/responses/V3Forbidden'
        '429':
          $ref: '#/components/responses/V3TooManyRequests'
        '500':
          $ref: '#/components/responses/V3InternalServerError'
      security:
        - sessionAuth: []
        - apiKeyAuth: []
  /api/v3/workflows/{workflowId}/duplicate:
    post:
      operationId: duplicateWorkflowV3
      summary: Duplicate a workflow
      description: |
        Creates a new `draft` workflow by copying an existing workflow's definition, name (or the
        provided override), and description. The duplicate receives its own id and timestamps and
        starts with empty run and version history; the source workflow is unchanged. Archived
        workflows can be duplicated (the copy starts as a normal draft).
      tags:
        - V3 Workflows
      parameters:
        - $ref: '#/components/parameters/WorkflowIdPath'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DuplicateWorkflowRequest'
      responses:
        '201':
          description: Workflow duplicated successfully
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Request correlation ID
            Cache-Control:
              schema:
                type: string
              example: private, no-store
            Location:
              schema:
                type: string
              example: /api/v3/workflows/clworkflowcopy000000000
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/WorkflowResource'
        '400':
          $ref: '#/components/responses/V3BadRequest'
        '401':
          $ref: '#/components/responses/V3Unauthorized'
        '403':
          $ref: '#/components/responses/V3Forbidden'
        '422':
          $ref: '#/components/responses/V3UnprocessableContent'
        '429':
          $ref: '#/components/responses/V3TooManyRequests'
        '500':
          $ref: '#/components/responses/V3InternalServerError'
      security:
        - sessionAuth: []
        - apiKeyAuth: []
  /api/v3/workflows/{workflowId}/enable:
    post:
      operationId: enableWorkflowV3
      summary: Enable a workflow
      description: |
        Moves a workflow from `draft` or `disabled` to `enabled`. Only enabled workflows respond to
        trigger events.

        Enabling validates that the definition is executable — the trigger has exactly one outgoing
        edge (trigger-only drafts cannot be enabled), the graph is acyclic, every node is
        reachable from the trigger, only Scope 1 node types are present, and the referenced survey
        and ending cards still exist — and then snapshots an immutable workflow version. Runs
        reference that snapshot via `workflowVersionId`, so later draft edits never change what an
        enabled workflow executes. Validation failures return **422** with code
        `workflow_not_executable` and structured `invalid_params`; calling enable in a state other
        than `draft` or `disabled` returns **422** with code `invalid_workflow_state`. Two concurrent enable requests race to publish the next version; the loser is rejected with **409** code `conflict` and can safely retry.
      tags:
        - V3 Workflows
      parameters:
        - $ref: '#/components/parameters/WorkflowIdPath'
      responses:
        '200':
          $ref: '#/components/responses/WorkflowResourceResponse'
        '400':
          $ref: '#/components/responses/V3BadRequest'
        '401':
          $ref: '#/components/responses/V3Unauthorized'
        '403':
          $ref: '#/components/responses/V3Forbidden'
        '409':
          $ref: '#/components/responses/V3Conflict'
        '422':
          $ref: '#/components/responses/V3UnprocessableContent'
        '429':
          $ref: '#/components/responses/V3TooManyRequests'
        '500':
          $ref: '#/components/responses/V3InternalServerError'
      security:
        - sessionAuth: []
        - apiKeyAuth: []
  /api/v3/workflows/{workflowId}/disable:
    post:
      operationId: disableWorkflowV3
      summary: Disable a workflow
      description: |
        Moves an `enabled` workflow to `disabled`. Disabled workflows keep their configuration but
        do not respond to trigger events; runs that are already queued or running are not canceled.
        Calling disable in any other state returns **422** with code `invalid_workflow_state`.
      tags:
        - V3 Workflows
      parameters:
        - $ref: '#/components/parameters/WorkflowIdPath'
      responses:
        '200':
          $ref: '#/components/responses/WorkflowResourceResponse'
        '400':
          $ref: '#/components/responses/V3BadRequest'
        '401':
          $ref: '#/components/responses/V3Unauthorized'
        '403':
          $ref: '#/components/responses/V3Forbidden'
        '422':
          $ref: '#/components/responses/V3UnprocessableContent'
        '429':
          $ref: '#/components/responses/V3TooManyRequests'
        '500':
          $ref: '#/components/responses/V3InternalServerError'
      security:
        - sessionAuth: []
        - apiKeyAuth: []
  /api/v3/workflows/{workflowId}/archive:
    post:
      operationId: archiveWorkflowV3
      summary: Archive a workflow
      description: |
        Soft-deletes a workflow by moving it from any non-archived state to `archived`. Archived
        workflows stop responding to trigger events immediately, become read-only, and are excluded
        from list responses unless requested with `filter[status][in]=archived`. Their runs, version
        history, and definition are preserved, and the workflow can be restored with
        `POST /api/v3/workflows/{workflowId}/unarchive`. Archiving an already archived workflow
        returns **422** with code `invalid_workflow_state`.
      tags:
        - V3 Workflows
      parameters:
        - $ref: '#/components/parameters/WorkflowIdPath'
      responses:
        '200':
          $ref: '#/components/responses/WorkflowResourceResponse'
        '400':
          $ref: '#/components/responses/V3BadRequest'
        '401':
          $ref: '#/components/responses/V3Unauthorized'
        '403':
          $ref: '#/components/responses/V3Forbidden'
        '422':
          $ref: '#/components/responses/V3UnprocessableContent'
        '429':
          $ref: '#/components/responses/V3TooManyRequests'
        '500':
          $ref: '#/components/responses/V3InternalServerError'
      security:
        - sessionAuth: []
        - apiKeyAuth: []
  /api/v3/workflows/{workflowId}/unarchive:
    post:
      operationId: unarchiveWorkflowV3
      summary: Unarchive a workflow
      description: |
        Restores an `archived` workflow to `draft`. Unarchiving never re-enables a workflow
        automatically: re-enable explicitly with `POST /api/v3/workflows/{workflowId}/enable`, which
        re-validates the definition (the referenced survey or ending cards may have changed while
        the workflow was archived). Calling unarchive on a non-archived workflow returns **422**
        with code `invalid_workflow_state`.
      tags:
        - V3 Workflows
      parameters:
        - $ref: '#/components/parameters/WorkflowIdPath'
      responses:
        '200':
          $ref: '#/components/responses/WorkflowResourceResponse'
        '400':
          $ref: '#/components/responses/V3BadRequest'
        '401':
          $ref: '#/components/responses/V3Unauthorized'
        '403':
          $ref: '#/components/responses/V3Forbidden'
        '422':
          $ref: '#/components/responses/V3UnprocessableContent'
        '429':
          $ref: '#/components/responses/V3TooManyRequests'
        '500':
          $ref: '#/components/responses/V3InternalServerError'
      security:
        - sessionAuth: []
        - apiKeyAuth: []
  /api/v3/workflows/{workflowId}/test:
    post:
      operationId: testWorkflowV3
      summary: Test a workflow with a dry run
      description: |
        Creates a dry-run workflow run for configuration validation and debugging. Dry runs validate
        the definition, evaluate the trigger against sample data, and mock action execution — they
        never send email or perform real side effects. The run is persisted with `isDryRun: true`.

        Testing works in `draft`, `enabled`, and `disabled` states so workflows can be verified
        before they go live; testing an `archived` workflow returns **422** with code
        `invalid_workflow_state`. Definitions that cannot execute return **422** with code
        `workflow_not_executable` and structured `invalid_params`.

        By default the server synthesizes a sample `response.completed` payload from the configured
        survey; pass `responseId` to replay an existing response instead. Execution is asynchronous:
        the endpoint returns the created run (initially `queued`) and clients poll
        `GET /api/v3/workflows/runs/{runId}` for step results and logs.
      tags:
        - V3 Workflows
      parameters:
        - $ref: '#/components/parameters/WorkflowIdPath'
        - in: header
          name: Idempotency-Key
          required: false
          schema:
            type: string
            maxLength: 255
          description: |
            Optional client-generated key that makes dry-run creation retry-safe (IETF
            `draft-ietf-httpapi-idempotency-key-header` semantics). Keys are unique per workflow; a
            retried request with the same key returns the previously created run instead of creating
            a duplicate. A retry that arrives while the original request is still being processed
            is rejected with **409 Conflict**; retry after the first request completes.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestWorkflowRequest'
      responses:
        '201':
          description: Dry-run workflow run created successfully
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Request correlation ID
            Cache-Control:
              schema:
                type: string
              example: private, no-store
            Location:
              schema:
                type: string
              example: /api/v3/workflows/runs/clworkflowrun000000000
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    $ref: '#/components/schemas/WorkflowRunResource'
              examples:
                queuedDryRun:
                  summary: Newly created dry run (poll the run endpoint for results)
                  value:
                    data:
                      id: clworkflowrun0000000000000
                      workflowId: clworkflow0000000000000000
                      workspaceId: clworkspace000000000000000
                      workflowVersionId: null
                      status: queued
                      isDryRun: true
                      triggerType: response.completed
                      surveyId: clsurvey000000000000000000
                      responseId: null
                      error: null
                      attempt: 0
                      createdAt: '2026-06-11T09:30:00.000Z'
                      updatedAt: '2026-06-11T09:30:00.000Z'
                      startedAt: null
                      finishedAt: null
                      idempotencyKey: null
                      nextAttemptAt: null
                      lastErrorAt: null
                      triggerPayload:
                        type: response.completed
                        workspaceId: clworkspace000000000000000
                        surveyId: clsurvey000000000000000000
                        responseId: clresponse0000000000000000
                        endingCardId: clending000000000000000000
                        triggeredAt: '2026-06-11T09:30:00.000Z'
                      data:
                        steps: []
                      logs: []
        '400':
          $ref: '#/components/responses/V3BadRequest'
        '401':
          $ref: '#/components/responses/V3Unauthorized'
        '403':
          $ref: '#/components/responses/V3Forbidden'
        '409':
          $ref: '#/components/responses/V3Conflict'
        '422':
          $ref: '#/components/responses/V3UnprocessableContent'
        '429':
          $ref: '#/components/responses/V3TooManyRequests'
        '500':
          $ref: '#/components/responses/V3InternalServerError'
      security:
        - sessionAuth: []
        - apiKeyAuth: []
components:
  securitySchemes:
    sessionAuth:
      type: apiKey
      in: cookie
      name: next-auth.session-token
      description: |
        NextAuth session JWT cookie. **Development:** often `next-auth.session-token`.
        **Production (HTTPS):** often `__Secure-next-auth.session-token`. Send the cookie your browser receives after sign-in.
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: |
        Management API key; must include **workspaceId** as an allowed workspace with read, write, or manage permission.
  schemas:
    SurveyListItem:
      type: object
      description: |
        Shape returned by `GET /api/v3/surveys`. Serialized dates are ISO 8601 strings.
        The v3 overview contract intentionally omits internal fields such as `_count`.
        Legacy DB rows may include survey **type** values `website` or `web` (see Prisma); filter **type** only accepts `link` | `app`.
      properties:
        id:
          type: string
        name:
          type: string
        workspaceId:
          type: string
        type:
          type: string
          enum:
            - link
            - app
            - website
            - web
        status:
          type: string
          enum:
            - draft
            - inProgress
            - paused
            - completed
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        responseCount:
          type: integer
        creator:
          type:
            - object
            - 'null'
          properties:
            name:
              type: string
        singleUse:
          type:
            - object
            - 'null'
          properties:
            enabled:
              type: boolean
            isEncrypted:
              type: boolean
    InvalidParam:
      type: object
      description: |
        Field-level validation error. `name` and `reason` are always intended for humans.
        Optional machine-readable fields are included when the API can identify the semantic error,
        especially for survey locale, identifier, and reference validation used by MCP and agent clients.
      required:
        - name
        - reason
      properties:
        name:
          type: string
          description: Dot-path to the invalid request field.
        reason:
          type: string
          description: Human-readable repair guidance.
        code:
          type: string
          enum:
            - dangling_reference
            - duplicate_identifier
            - duplicate_locale
            - forbidden_identifier
            - immutable_identifier
            - invalid_graph
            - invalid_locale
            - invalid_reference
            - missing_required_field
            - missing_translation
            - unsupported_field
            - unsupported_locale
          description: |
            Machine-readable validation category, when available. `invalid_graph` covers workflow
            graph-structure violations such as a duplicated trigger edge, an unreachable node, or a
            cycle.
        identifier:
          type: string
          description: Identifier involved in the validation failure, when available. For language errors, this can be the normalized language code.
        referenceType:
          type: string
          enum:
            - block
            - element
            - ending
            - hiddenField
            - language
            - variable
            - variableName
            - recall
            - node
            - edge
            - survey
            - endingCard
          description: Identifier namespace involved in the validation failure. `node`, `edge`, `survey`, and `endingCard` are used by workflow validation.
        missingId:
          type: string
          description: Referenced id that does not exist in the submitted survey document.
        firstUsedAt:
          type: string
          description: Dot-path where a duplicate identifier was first used.
        conflictsWith:
          type: string
          description: Dot-path to the existing identifier that conflicts with this field.
      additionalProperties: false
    Problem:
      type: object
      description: RFC 9457 Problem Details for HTTP APIs (`application/problem+json`). Responses typically include a machine-readable `code` field alongside `title`, `status`, `detail`, and `requestId`.
      required:
        - title
        - status
        - detail
        - requestId
      properties:
        type:
          type: string
          format: uri
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
        instance:
          type: string
        code:
          type: string
          enum:
            - ai_features_not_enabled
            - ai_generated_payload_invalid
            - ai_instance_not_configured
            - ai_smart_tools_disabled
            - bad_gateway
            - bad_request
            - conflict
            - forbidden
            - internal_server_error
            - invalid_workflow_state
            - not_authenticated
            - too_many_requests
            - unprocessable_content
            - workflow_not_executable
        requestId:
          type: string
        details:
          type: object
        invalid_params:
          type: array
          items:
            $ref: '#/components/schemas/InvalidParam'
    TranslatableTextMap:
      type: object
      description: Multilingual text map keyed by the emitted `languages[].code` values for this survey.
      propertyNames:
        type: string
        description: Survey language code/tag, for example `en-US`, `de-DE`, or `zh-Hans-CN`.
      additionalProperties:
        type: string
    TranslatableText:
      allOf:
        - $ref: '#/components/schemas/TranslatableTextMap'
      description: |
        Survey authoring text. `GET /api/v3/surveys/{surveyId}` always returns maps keyed by the emitted
        `languages[].code` values for this survey. Use `?lang=` to filter which language keys are included.
        The internal storage key `default` is never exposed by v3.
      examples:
        - en-US: What should we improve?
          de-DE: Was sollten wir verbessern?
    SurveyMetadata:
      type: object
      description: |
        Arbitrary JSON survey context for customer- or operation-specific metadata. v3 preserves
        arbitrary metadata values as-is. If present, `title` and `description` are treated as
        translatable text maps and returned with real locale-code keys.
      properties:
        title:
          $ref: '#/components/schemas/TranslatableText'
        description:
          $ref: '#/components/schemas/TranslatableText'
      additionalProperties: true
    LocaleCode:
      type: string
      pattern: ^[a-z]{2}(?:-[A-Z][a-z]{3})?-[A-Z]{2}$
      description: Canonical locale code accepted by v3 survey APIs, for example `en-US`, `de-DE`, or `zh-Hans-CN`.
      example: en-US
    CreateSurveyLanguage:
      type: object
      description: Language to connect to the created survey. `default`, if provided, must match `defaultLanguage`.
      required:
        - code
      properties:
        code:
          $ref: '#/components/schemas/LocaleCode'
        default:
          type: boolean
          description: Optional marker for readability; only the `defaultLanguage` entry may set this to true.
        enabled:
          type: boolean
          default: true
          description: Whether this language is enabled for respondent-facing delivery.
      additionalProperties: false
    SurveyWelcomeCard:
      type: object
      description: Optional card shown before the first survey block.
      required:
        - enabled
      properties:
        enabled:
          type: boolean
        headline:
          $ref: '#/components/schemas/TranslatableText'
        subheader:
          $ref: '#/components/schemas/TranslatableText'
        buttonLabel:
          $ref: '#/components/schemas/TranslatableText'
        fileUrl:
          type: string
        videoUrl:
          type: string
        timeToFinish:
          type: boolean
        showResponseCount:
          type: boolean
      additionalProperties: false
    SurveyElementBase:
      type: object
      required:
        - id
        - type
        - headline
        - required
      properties:
        id:
          type: string
          pattern: ^[a-zA-Z0-9_-]+$
          description: Stable element id. Avoid spaces and reserved ids.
        type:
          type: string
          enum:
            - openText
            - multipleChoiceSingle
            - multipleChoiceMulti
            - nps
            - rating
            - csat
            - ces
            - consent
            - pictureSelection
            - cta
            - date
            - fileUpload
            - cal
            - matrix
            - address
            - ranking
            - contactInfo
        headline:
          $ref: '#/components/schemas/TranslatableText'
        subheader:
          $ref: '#/components/schemas/TranslatableText'
        required:
          type: boolean
        imageUrl:
          type: string
        videoUrl:
          type: string
        isDraft:
          type: boolean
          description: Draft marker used by the editor and future update rules.
    SurveyCharLimit:
      type: object
      description: Optional `openText` character limit configuration.
      properties:
        enabled:
          type: boolean
          default: false
        min:
          type: number
        max:
          type: number
      additionalProperties: false
    SurveyValidationRule:
      type: object
      required:
        - id
        - type
        - params
      properties:
        id:
          type: string
        type:
          type: string
          enum:
            - minLength
            - maxLength
            - pattern
            - email
            - url
            - phone
            - equals
            - doesNotEqual
            - contains
            - doesNotContain
            - minValue
            - maxValue
            - isGreaterThan
            - isLessThan
            - minSelections
            - maxSelections
            - minRanked
            - rankAll
            - minRowsAnswered
            - answerAllRows
            - isLaterThan
            - isEarlierThan
            - isBetween
            - isNotBetween
            - fileExtensionIs
            - fileExtensionIsNot
        params:
          type: object
          additionalProperties: true
        field:
          type: string
          enum:
            - addressLine1
            - addressLine2
            - city
            - state
            - zip
            - country
            - firstName
            - lastName
            - email
            - phone
            - company
      additionalProperties: false
    SurveyValidation:
      type: object
      description: Optional element-level validation rules.
      required:
        - rules
      properties:
        logic:
          type: string
          enum:
            - and
            - or
          default: and
        rules:
          type: array
          items:
            $ref: '#/components/schemas/SurveyValidationRule'
      additionalProperties: false
    SurveyOpenTextElement:
      allOf:
        - $ref: '#/components/schemas/SurveyElementBase'
        - type: object
          properties:
            type:
              type: string
              enum:
                - openText
            placeholder:
              $ref: '#/components/schemas/TranslatableText'
            longAnswer:
              type: boolean
            inputType:
              type: string
              enum:
                - text
                - email
                - url
                - number
                - phone
              default: text
            insightsEnabled:
              type: boolean
              default: false
            charLimit:
              $ref: '#/components/schemas/SurveyCharLimit'
            validation:
              $ref: '#/components/schemas/SurveyValidation'
      unevaluatedProperties: false
    SurveyConsentElement:
      allOf:
        - $ref: '#/components/schemas/SurveyElementBase'
        - type: object
          required:
            - label
          properties:
            type:
              type: string
              enum:
                - consent
            label:
              $ref: '#/components/schemas/TranslatableText'
            validation:
              $ref: '#/components/schemas/SurveyValidation'
      unevaluatedProperties: false
    SurveyChoice:
      type: object
      required:
        - id
        - label
      properties:
        id:
          type: string
          description: Stable choice id.
        label:
          $ref: '#/components/schemas/TranslatableText'
      additionalProperties: false
    SurveyShuffleOption:
      type: string
      enum:
        - none
        - all
        - exceptLast
        - reverseOrderOccasionally
        - reverseOrderExceptLast
    SurveyMultipleChoiceDisplayType:
      type: string
      enum:
        - list
        - dropdown
    SurveyMultipleChoiceSingleElement:
      allOf:
        - $ref: '#/components/schemas/SurveyElementBase'
        - type: object
          required:
            - choices
          properties:
            type:
              type: string
              enum:
                - multipleChoiceSingle
            choices:
              type: array
              minItems: 2
              items:
                $ref: '#/components/schemas/SurveyChoice'
            shuffleOption:
              $ref: '#/components/schemas/SurveyShuffleOption'
            otherOptionPlaceholder:
              $ref: '#/components/schemas/TranslatableText'
            displayType:
              $ref: '#/components/schemas/SurveyMultipleChoiceDisplayType'
      unevaluatedProperties: false
    SurveyMultipleChoiceMultiElement:
      allOf:
        - $ref: '#/components/schemas/SurveyElementBase'
        - type: object
          required:
            - choices
          properties:
            type:
              type: string
              enum:
                - multipleChoiceMulti
            choices:
              type: array
              minItems: 2
              items:
                $ref: '#/components/schemas/SurveyChoice'
            shuffleOption:
              $ref: '#/components/schemas/SurveyShuffleOption'
            otherOptionPlaceholder:
              $ref: '#/components/schemas/TranslatableText'
            validation:
              $ref: '#/components/schemas/SurveyValidation'
            displayType:
              $ref: '#/components/schemas/SurveyMultipleChoiceDisplayType'
      unevaluatedProperties: false
    SurveyNpsElement:
      allOf:
        - $ref: '#/components/schemas/SurveyElementBase'
        - type: object
          properties:
            type:
              type: string
              enum:
                - nps
            lowerLabel:
              $ref: '#/components/schemas/TranslatableText'
            upperLabel:
              $ref: '#/components/schemas/TranslatableText'
            isColorCodingEnabled:
              type: boolean
              default: false
      unevaluatedProperties: false
    SurveyCtaElement:
      allOf:
        - $ref: '#/components/schemas/SurveyElementBase'
        - type: object
          description: If `buttonExternal` is true, `buttonUrl` and `ctaButtonLabel` are required.
          properties:
            type:
              type: string
              enum:
                - cta
            buttonExternal:
              type: boolean
              default: false
            buttonUrl:
              type: string
            ctaButtonLabel:
              $ref: '#/components/schemas/TranslatableText'
        - if:
            required:
              - buttonExternal
            properties:
              buttonExternal:
                const: true
          then:
            required:
              - buttonUrl
              - ctaButtonLabel
      unevaluatedProperties: false
    SurveyRatingElement:
      allOf:
        - $ref: '#/components/schemas/SurveyElementBase'
        - type: object
          required:
            - scale
            - range
          properties:
            type:
              type: string
              enum:
                - rating
            scale:
              type: string
              enum:
                - number
                - smiley
                - star
            range:
              type: integer
              enum:
                - 3
                - 4
                - 5
                - 6
                - 7
                - 10
            lowerLabel:
              $ref: '#/components/schemas/TranslatableText'
            upperLabel:
              $ref: '#/components/schemas/TranslatableText'
            isColorCodingEnabled:
              type: boolean
              default: false
      unevaluatedProperties: false
    SurveyPictureChoice:
      type: object
      required:
        - id
        - imageUrl
      properties:
        id:
          type: string
          description: Stable picture choice id.
        imageUrl:
          type: string
      additionalProperties: false
    SurveyPictureSelectionElement:
      allOf:
        - $ref: '#/components/schemas/SurveyElementBase'
        - type: object
          required:
            - choices
          properties:
            type:
              type: string
              enum:
                - pictureSelection
            allowMulti:
              type: boolean
              default: false
            choices:
              type: array
              minItems: 2
              items:
                $ref: '#/components/schemas/SurveyPictureChoice'
            validation:
              $ref: '#/components/schemas/SurveyValidation'
      unevaluatedProperties: false
    SurveyDateElement:
      allOf:
        - $ref: '#/components/schemas/SurveyElementBase'
        - type: object
          required:
            - format
          properties:
            type:
              type: string
              enum:
                - date
            html:
              $ref: '#/components/schemas/TranslatableText'
            format:
              type: string
              enum:
                - M-d-y
                - d-M-y
                - y-M-d
            validation:
              $ref: '#/components/schemas/SurveyValidation'
      unevaluatedProperties: false
    SurveyFileUploadElement:
      allOf:
        - $ref: '#/components/schemas/SurveyElementBase'
        - type: object
          required:
            - allowMultipleFiles
          properties:
            type:
              type: string
              enum:
                - fileUpload
            allowMultipleFiles:
              type: boolean
            maxSizeInMB:
              type: number
            allowedFileExtensions:
              type: array
              items:
                type: string
            validation:
              $ref: '#/components/schemas/SurveyValidation'
      unevaluatedProperties: false
    SurveyCalElement:
      allOf:
        - $ref: '#/components/schemas/SurveyElementBase'
        - type: object
          required:
            - calUserName
          properties:
            type:
              type: string
              enum:
                - cal
            calUserName:
              type: string
              minLength: 1
            calHost:
              type: string
      unevaluatedProperties: false
    SurveyMatrixElement:
      allOf:
        - $ref: '#/components/schemas/SurveyElementBase'
        - type: object
          required:
            - rows
            - columns
          properties:
            type:
              type: string
              enum:
                - matrix
            rows:
              type: array
              items:
                $ref: '#/components/schemas/SurveyChoice'
            columns:
              type: array
              items:
[...]
