name: Checks
on: [push]
jobs:
  build:
    name: Build, lint, and test on Node ${{ matrix.node }} and ${{ matrix.os }}
    runs-on: ubuntu-latest

    env:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ secrets.TURBO_TEAM }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Setup Node.js 18.x
        uses: actions/setup-node@v2
        with:
          node-version: 18.x

      - name: Install pnpm
        uses: pnpm/action-setup@v2.2.4

      - name: Install dependencies
        run: pnpm install --config.platform=linux --config.architecture=x64

      - name: Build formbricks-js dependencies
        run: pnpm build --filter=js

      - name: Lint
        run: pnpm lint

      - name: Test
        run: pnpm test
