name: Build, release & deploy Formbricks images

on:
  workflow_dispatch:
  push:
    tags:
      - "v*"

jobs:
  docker-build:
    name: Build & release stable docker image
    if: startsWith(github.ref, 'refs/tags/v')
    uses: ./.github/workflows/release-docker-github.yml
    secrets: inherit

  helm-chart-release:
    name: Release Helm Chart
    uses: ./.github/workflows/release-helm-chart.yml
    secrets: inherit
    needs:
      - docker-build
    with:
      VERSION: ${{ needs.docker-build.outputs.VERSION }}

  deploy-formbricks-cloud:
    name: Deploy Helm Chart to Formbricks Cloud
    secrets: inherit
    uses: ./.github/workflows/deploy-formbricks-cloud.yml
    needs:
      - docker-build
      - helm-chart-release
    with:
      VERSION: v${{ needs.docker-build.outputs.VERSION }}
      ENVIRONMENT: "prod"

  upload-sentry-sourcemaps:
    name: Upload Sentry Sourcemaps
    runs-on: ubuntu-latest
    permissions:
      contents: read
    needs:
      - docker-build
      - deploy-formbricks-cloud
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2
        with:
          fetch-depth: 0

      - name: Upload Sentry Sourcemaps
        uses: ./.github/actions/upload-sentry-sourcemaps
        continue-on-error: true
        with:
          docker_image: ghcr.io/formbricks/formbricks:v${{ needs.docker-build.outputs.VERSION }}
          release_version: v${{ needs.docker-build.outputs.VERSION }}
          sentry_auth_token: ${{ secrets.SENTRY_AUTH_TOKEN }}
          environment: production
