name: Check Missing Translations

permissions:
  contents: read

on:
  workflow_dispatch:
  pull_request_target:
    types: [opened, synchronize, reopened]

jobs:
  check-missing-translations:
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@4d991eb9b905ef189e4c376166672c3f2f230481 # v2.11.0
        with:
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
        with:
          ref: ${{ github.event.pull_request.base.ref }}

      - name: Checkout PR
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Setup Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: 18

      - name: Install Tolgee CLI
        run: npm install -g @tolgee/cli

      - name: Compare Tolgee Keys
        id: compare
        run: |
          tolgee compare --api-key ${{ secrets.TOLGEE_API_KEY }} > compare_output.txt
          cat compare_output.txt

      - name: Check for Missing Translations
        run: |
          if grep -q "new key found" compare_output.txt; then
            echo "New keys found that may require translations:"
            exit 1
          else
            echo "No new keys found."
          fi
