@media screen and (max-width:960px) and (min-width:831px){
    .category{
        font-size: 12px;
    }
}
@media screen and (max-width:830px) and (min-width:640px) {
    .heroCard{
        padding: 1rem;
    }
    .category{
        font-size: 10px;
        right: 10px;
    }
}